Repository aya-prover/aya-dev, pull requests merged in 2021-12, with the labels that each got.

#245 Library in LSP
  api/src/main/java/org/aya/api/error/BufferReporter.java
  api/src/main/java/org/aya/api/error/CountingReporter.java
  api/src/main/java/org/aya/api/error/Problem.java
  base/src/main/java/org/aya/concrete/parse/AyaParsing.java
  base/src/main/java/org/aya/concrete/parse/ReporterErrorListener.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/generic/Constants.java
  base/src/test/java/org/aya/literate/LiterateTest.java
  base/src/test/java/org/aya/test/TestRunner.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/library/ImportResolver.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/library/LibraryOwner.java
  cli/src/main/java/org/aya/cli/library/Timestamp.java
  cli/src/main/java/org/aya/cli/library/json/LibraryConfigData.java
  cli/src/main/java/org/aya/cli/library/source/DiskLibraryOwner.java
  cli/src/main/java/org/aya/cli/library/source/LibraryOwner.java
  cli/src/main/java/org/aya/cli/library/source/LibrarySource.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/single/CompilerFlags.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  lsp/src/main/java/module-info.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeTerm.java
  lsp/src/main/java/org/aya/lsp/actions/GotoDefinition.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/library/WsLibrary.java
  lsp/src/main/java/org/aya/lsp/server/AyaServer.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  lsp/src/main/java/org/aya/lsp/utils/LspRange.java
  tools-repl/src/main/java/module-info.java
  tools/src/main/java/org/aya/util/FileUtil.java
  tools/src/main/java/org/aya/util/error/SourceFile.java
Labels: lsp, library

#246 Logical decomposition of the lhs and rhs tycking of pattern matching clauses
  base/src/main/java/org/aya/core/Matching.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/visitor/Substituter.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/tyck/PatCCTest.java
Labels: refactoring

#247 Generate multi-case trees
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/MCT.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/tyck/PatCCTest.java
Labels: refactoring, confluence

#248 Put uninlined code to pattern classifier
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/MCT.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/failure/patterns/fm-dom.aya.txt
Labels: refactoring

#249 Register library if it's not yet initialized
  lsp/src/main/java/org/aya/lsp/server/AyaServer.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
Labels: lsp

#252 Concrete data stores core constructors
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/test/resources/failure/patterns/issues2/issue250.aya
  base/src/test/resources/failure/patterns/issues2/issue250.aya.txt
  base/src/test/resources/success/src/Issues/250.aya
Labels: tyck: pattern

#253 Fix prim levels
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/resources/success/common/src/Arith/Nat.aya
  base/src/test/resources/success/common/src/Data/List.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/src/NatMonoid.aya
Labels: test fixtures, primitives

#254 Use commonmark packaged by ourselves
  base/build.gradle.kts
  gradle/deps.properties
Labels: build

#255 Enhance reporters
  api/src/main/java/org/aya/api/error/BufferReporter.java
  api/src/main/java/org/aya/api/error/CollectingReporter.java
  api/src/main/java/org/aya/api/error/CountingReporter.java
  api/src/main/java/org/aya/api/error/IgnoringReporter.java
  api/src/main/java/org/aya/api/error/Problem.java
  api/src/main/java/org/aya/api/error/Reporter.java
  base/src/test/java/org/aya/test/StreamReporter.java
  base/src/test/java/org/aya/test/TestRunner.java
  base/src/test/java/org/aya/test/ThrowingReporter.java
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/single/CliReporter.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  pretty/src/main/java/org/aya/pretty/backend/string/custom/UnixTermStyle.java
  pretty/src/main/java/org/aya/pretty/backend/string/style/UnixTermStylist.java
Labels: error report, cli

#258 Insert metas on elimination
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/success/common/src/Data/Vec.aya
  lsp/src/main/java/org/aya/lsp/actions/GotoDefinition.java
Labels: tyck

#260 Fix bugs, add some lib code
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Homotopy.aya
  note/unfiled.md
Labels: bug

#261 Release 0.14
  .github/README.md
  gradle/deps.properties
  note/early-changelog.md
Labels: release

#262 Library in REPL
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli/src/test/java/org/aya/cli/JlineReplTest.java
  cli/src/test/java/org/aya/cli/PlainReplTest.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
Labels: repl, library

#265 Delay equations on flex-flex cases
  api/src/main/java/org/aya/api/core/CoreTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/resources/success/common/src/Arith/Nat.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Paths.aya
Labels: conversion check

#267 Unimportant PR
  base/src/main/java/org/aya/concrete/GenericAyaParser.java
  base/src/main/java/org/aya/tyck/TyckState.java
Labels: refactoring

#268 Decouple
  base/build.gradle.kts
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/concrete/GenericAyaParser.java
  base/src/main/java/org/aya/concrete/desugar/AyaBinOpSet.java
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/error/BadCounterexampleWarn.java
  base/src/main/java/org/aya/concrete/error/BadModifierWarn.java
  base/src/main/java/org/aya/concrete/error/LevelProblem.java
  base/src/main/java/org/aya/concrete/error/OperatorProblem.java
  base/src/main/java/org/aya/concrete/error/ParseError.java
  base/src/main/java/org/aya/concrete/error/PrimDependencyError.java
  base/src/main/java/org/aya/concrete/error/RedefinitionError.java
  base/src/main/java/org/aya/concrete/error/UnknownPrimError.java
  base/src/main/java/org/aya/concrete/parse/package-info.java
  base/src/main/java/org/aya/concrete/remark/CodeOptions.java
  base/src/main/java/org/aya/concrete/remark/Remark.java
  base/src/main/java/org/aya/concrete/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/success/common/src/Arith/Int.aya
  base/src/test/resources/success/common/src/Arith/Nat.aya
  base/src/test/resources/success/common/src/Data/Fin.aya
  cli/build.gradle.kts
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/parse/AyaParserImpl.java
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli/src/main/java/org/aya/cli/parse/ParsingInterruptedException.java
  cli/src/main/java/org/aya/cli/parse/ReporterErrorListener.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
Labels: refactoring

#270 Special case for simple functions
  api/src/main/java/org/aya/api/error/Problem.java
  base/src/main/java/org/aya/concrete/resolve/module/ModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/core/visitor/DefConsumer.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/terck/CallGraph.java
  base/src/main/java/org/aya/terck/CallMatrix.java
  base/src/main/java/org/aya/terck/Relation.java
  base/src/main/java/org/aya/terck/error/NonTerminating.java
  base/src/main/java/org/aya/terck/visitor/CallResolver.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/java/org/aya/terck/CallMatrixTest.java
  base/src/test/java/org/aya/terck/RelationTest.java
  base/src/test/java/org/aya/test/StreamReporter.java
  base/src/test/java/org/aya/test/ThrowingReporter.java
  base/src/test/resources/failure/holes/ulf-hole-illtype.aya.txt
  base/src/test/resources/failure/implicit/implicit2.aya.txt
  base/src/test/resources/failure/operator/ambiguous.aya
  base/src/test/resources/failure/operator/ambiguous.aya.txt
  base/src/test/resources/failure/scope/inf-rec.aya
  base/src/test/resources/failure/scope/inf-rec.aya.txt
  base/src/test/resources/success/common/src/Data/List.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Homotopy.aya
  base/src/test/resources/success/common/src/Paths.aya
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/single/CliReporter.java
  pretty/src/main/java/module-info.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinterConfig.java
  pretty/src/main/java/org/aya/pretty/backend/string/custom/UnixTermStyle.java
  pretty/src/main/java/org/aya/pretty/backend/string/style/UnixTermStylist.java
  pretty/src/main/java/org/aya/pretty/printer/ColorScheme.java
  pretty/src/main/java/org/aya/pretty/printer/PrinterConfig.java
  pretty/src/main/java/org/aya/pretty/printer/StyleFamily.java
  pretty/src/main/java/org/aya/pretty/printer/Stylist.java
  pretty/src/main/java/org/aya/pretty/style/AyaStyleFamily.java
  pretty/src/test/java/org/aya/pretty/UnixStyleTest.java
  tools/src/main/java/org/aya/util/ArrayUtil.java
  tools/src/main/java/org/aya/util/MutableGraph.java
  tools/src/main/java/org/aya/util/binop/BinOpSet.java
Labels: bug, tyck order, breaking

#277 Rewrite `DefEq` by separating the `lr` map and the `rl` map
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/core/ops/Eta.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/term/IntroTerm.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/env/MapLocalCtx.java
  base/src/main/java/org/aya/tyck/env/SeqLocalCtx.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/core/EtaTest.java
  base/src/test/resources/success/common/src/Data/Vec.aya
Labels: refactoring

#274 Add more necessary normalizations
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/Normalizer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/resources/success/common/src/Data/List.aya
Labels: bug

#279 Fix two issues
  base/src/test/resources/failure/patterns/issues/issue363.aya
  base/src/test/resources/failure/patterns/issues/issue363.aya.txt
  base/src/test/resources/success/src/ProtoIssues/313.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  buildSrc/src/main/groovy/org/aya/gradle/GenerateLexerTokenTask.groovy
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
Labels: breaking

#280 More precise unification error report
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/Substituter.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/resources/failure/holes/pattern-confluence.aya.txt
  base/src/test/resources/failure/holes/ulf-hole-illtype.aya.txt
  base/src/test/resources/failure/struct/field-type-mismatch.aya.txt
  base/src/test/resources/failure/syntax/issue293-emoji32.aya.txt
  base/src/test/resources/failure/syntax/issue293-emoji64.aya.txt
  base/src/test/resources/failure/syntax/issue293.aya.txt
  base/src/test/resources/failure/syntax/literate-ill-typed.aya.txt
  base/src/test/resources/failure/tyck/issues/issue292.aya.txt
  base/src/test/resources/failure/tyck/issues/issue300.aya.txt
  base/src/test/resources/failure/tyck/issues2/issue34.aya.txt
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Paths.aya
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
Labels: error report

#282 BASE: nuke BinOpCollector
  api/src/main/java/org/aya/api/ref/DefVar.java
  base/src/main/java/org/aya/concrete/desugar/AyaBinOpSet.java
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/ref/BinOpCollector.java
  note/unfiled.md
Labels: pretty print, core: definitions

#283 Delete `Pat::type`, `Tuple::type`, `Prim::type`, `Absurd::type`
  api/src/main/java/org/aya/api/core/CorePat.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
Labels: cleanup

#288 Resolve prim in shallow resolver
  base/src/main/java/org/aya/concrete/resolve/ResolveInfo.java
  base/src/main/java/org/aya/concrete/resolve/error/PrimDependencyError.java
  base/src/main/java/org/aya/concrete/resolve/error/RedefinitionPrimError.java
  base/src/main/java/org/aya/concrete/resolve/error/UnknownPrimError.java
  base/src/main/java/org/aya/concrete/resolve/module/ModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/tyck/order/AyaOrgaTycker.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/resources/failure/scope/issue274.aya.txt
  base/src/test/resources/failure/scope/prim-dependency.aya.txt
  base/src/test/resources/failure/scope/re-prim.aya.txt
  base/src/test/resources/failure/scope/unknown-prim.aya.txt
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
Labels: resolving, primitives

#285 Prove some simple facts about <
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/test/resources/failure/patterns/selection-failure.aya.txt
  base/src/test/resources/success/common/src/Arith/Nat/Order.aya
  base/src/test/resources/success/common/src/Data/Empty.aya
Labels: test fixtures

#290 Handle file create and delete event in LSP
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/source/DiskLibraryOwner.java
  cli/src/main/java/org/aya/cli/library/source/LibraryOwner.java
  cli/src/main/java/org/aya/cli/library/source/MutableLibraryOwner.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  lsp/src/main/java/org/aya/lsp/library/WsLibrary.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
Labels: lsp

#287 Termination checker based on foetus dependencies
  api/src/main/java/org/aya/api/error/Problem.java
  base/src/main/java/org/aya/concrete/error/OperatorProblem.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/terck/Behavior.java
  base/src/main/java/org/aya/terck/CallGraph.java
  base/src/main/java/org/aya/terck/CallMatrix.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/terck/Relation.java
  base/src/main/java/org/aya/terck/error/NonTerminating.java
  base/src/main/java/org/aya/terck/visitor/CallResolver.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/error/LevelMismatchError.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/test/java/org/aya/terck/CallMatrixTest.java
  base/src/test/resources/failure/holes/ulf-hole-illtype.aya.txt
  base/src/test/resources/failure/terck/non-term.aya
  base/src/test/resources/failure/terck/non-term.aya.txt
  base/src/test/resources/failure/tyck/issues/issue300.aya.txt
  base/src/test/resources/failure/tyck/issues/issue659-01.aya.txt
  base/src/test/resources/success/common/src/Arith/Nat/Order.aya
  base/src/test/resources/success/src/FoetusLimitation.aya
  base/src/test/resources/success/src/Order.aya
  tools/src/main/java/org/aya/util/ArrayUtil.java
Labels: terck

#293 Improve pretty printer
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/ParamLike.java
Labels: refactoring, pretty print

#292 Enhance LSP
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/AyaBinOpSet.java
  base/src/main/java/org/aya/concrete/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/concrete/visitor/ExprConsumer.java
  base/src/main/java/org/aya/concrete/visitor/ExprFixpoint.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/IntroTerm.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/generic/ParamLike.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/resources/failure/patterns/issues/issue681.aya.txt
  build.gradle.kts
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeSignature.java
  lsp/src/main/java/org/aya/lsp/actions/FindReferences.java
  lsp/src/main/java/org/aya/lsp/actions/GotoDefinition.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/server/AyaServer.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  lsp/src/main/java/org/aya/lsp/utils/Log.java
  lsp/src/main/java/org/aya/lsp/utils/LspRange.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  tools/src/main/java/org/aya/util/MutableGraph.java
Labels: lsp

#296 Fix jlink relevant issues
  cli/src/main/java/module-info.java
  lsp/build.gradle.kts
Labels: build

#300 Now I can play with Aya in VSCode happily
  .github/README.md
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  cli/src/main/java/org/aya/cli/library/source/LibrarySource.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeSignature.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeTerm.java
  lsp/src/main/java/org/aya/lsp/actions/FindReferences.java
  lsp/src/main/java/org/aya/lsp/actions/GotoDefinition.java
  lsp/src/main/java/org/aya/lsp/actions/Rename.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/server/AyaServer.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  lsp/src/main/java/org/aya/lsp/utils/ModuleVar.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: refactoring, lsp

#301 Fix some build issues
  build.gradle.kts
  buildSrc/src/main/groovy/org/aya/gradle/GenerateLexerTokenTask.groovy
  lsp/build.gradle.kts
Labels: build

#302 Fix a simple problem
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: test fixtures, lsp

#308 Fix lots of bugs
  lsp/src/main/java/org/aya/lsp/actions/ComputeSignature.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: bug

#306 Define square
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/visitor/Unfolder.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/test/resources/success/common/src/Cubical.aya
Labels: bug

#309 Fix a critical bug of SccTycker
  api/src/main/java/org/aya/api/error/CollectingReporter.java
  api/src/main/java/org/aya/api/error/CountingReporter.java
  api/src/main/java/org/aya/api/ref/DefVar.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/resolve/module/ModuleLoader.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: bug, tyck order

#310 Add Model.aya and Test.aya, remove some old, duplicated tests
  base/src/main/java/org/aya/core/visitor/TermFixpoint.java
  base/src/main/java/org/aya/core/visitor/Zonker.java
  base/src/test/resources/success/common/src/Cubical.aya
  base/src/test/resources/success/common/src/Refparo/Demo.aya
  base/src/test/resources/success/common/src/Refparo/Model.aya
  base/src/test/resources/success/src/Refparo/10.aya
  base/src/test/resources/success/src/Refparo/2.aya
  base/src/test/resources/success/src/Refparo/4.aya
  base/src/test/resources/success/src/Refparo/6.aya
  base/src/test/resources/success/src/Refparo/7.aya
  base/src/test/resources/success/src/Refparo/Common.aya
Labels: test fixtures

#311 Call `needTyck` with current module name
  api/src/main/java/org/aya/api/ref/DefVar.java
  base/src/main/java/org/aya/concrete/remark/Remark.java
  base/src/main/java/org/aya/concrete/stmt/Command.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/Generalize.java
  base/src/main/java/org/aya/concrete/stmt/Sample.java
  base/src/main/java/org/aya/concrete/stmt/Signatured.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/order/TyckUnit.java
  base/src/test/resources/success/common/src/Refparo/Model.aya
Labels: bug, test fixtures, tyck order

#313 Remove reporter from library owner
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/library/source/DiskLibraryOwner.java
  cli/src/main/java/org/aya/cli/library/source/LibraryOwner.java
  lsp/src/main/java/org/aya/lsp/library/WsLibrary.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
Labels: bug

#314 Use more pm
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/error/OperatorProblem.java
  base/src/main/java/org/aya/core/sort/Sort.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/Level.java
Labels: refactoring

#316 Use even more pm
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
Labels: refactoring
