Repository aya-prover/aya-dev, pull requests merged in 2021-11, with the labels that each got.

#131 New REPL command system and load/cd/pwd commands
  api/src/main/java/org/aya/api/error/CountingReporter.java
  base/src/main/java/org/aya/concrete/resolve/module/FileModuleLoader.java
  cli/build.gradle.kts
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/repl/Repl.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/repl/command/Command.java
  cli/src/main/java/org/aya/cli/repl/command/CommandArg.java
  cli/src/main/java/org/aya/cli/repl/command/CommandManager.java
  cli/src/main/java/org/aya/cli/repl/command/DefaultCommands.java
  cli/src/main/java/org/aya/cli/repl/command/HelpCommand.java
  cli/src/main/java/org/aya/cli/repl/jline/AyaReplParser.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli/src/main/java/org/aya/cli/repl/jline/completer/ArgCompleter.java
  cli/src/main/java/org/aya/cli/repl/jline/completer/AyaCompleters.java
  cli/src/main/java/org/aya/cli/repl/jline/completer/CmdCompleter.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
Labels: repl

#132 Simplify the code
  cli/src/main/java/org/aya/cli/repl/command/CommandArg.java
  cli/src/main/java/org/aya/cli/repl/jline/completer/AyaCompleters.java
Labels: refactoring

#133 REPL: choose parser by param type (currently only Path.class uses a shell like parser)
  cli/src/main/java/org/aya/cli/repl/Repl.java
  cli/src/main/java/org/aya/cli/repl/command/CommandArg.java
  cli/src/main/java/org/aya/cli/repl/jline/AyaReplParser.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli/src/main/java/org/aya/cli/repl/jline/completer/AyaCompleters.java
  cli/src/test/java/JlineTest.java
Labels: repl

#134 Many repl enhancements including command name parsing and general testing
  buildSrc/src/main/groovy/org/aya/gradle/CommonTasks.groovy
  cli/src/main/java/org/aya/cli/repl/Repl.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli/src/main/java/org/aya/cli/repl/command/Command.java
  cli/src/main/java/org/aya/cli/repl/command/CommandArg.java
  cli/src/main/java/org/aya/cli/repl/command/CommandManager.java
  cli/src/main/java/org/aya/cli/repl/jline/AyaReplParser.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli/src/main/java/org/aya/cli/repl/jline/completer/CmdCompleter.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  cli/src/test/java/JlineTest.java
  cli/src/test/java/org/aya/cli/ArgsParserTest.java
  cli/src/test/java/org/aya/cli/JlineReplTest.java
  cli/src/test/java/org/aya/cli/PlainReplTest.java
Labels: test fixtures, repl

#135 Bump version to 0.11, update changelog
  gradle/deps.properties
  note/early-changelog.md
Labels: release

#137 Create subproject tools for generic programming utilities
  base/build.gradle.kts
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/concrete/desugar/BinOpParser.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/context/Context.java
  base/src/main/java/org/aya/concrete/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/concrete/resolve/error/QualifiedNameNotFoundError.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/QualifiedID.java
  base/src/main/java/org/aya/core/Meta.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/serde/SerLevel.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/generic/Constants.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/LocalCtx.java
  base/src/main/java/org/aya/tyck/order/SCCTycker.java
  base/src/test/java/org/aya/tyck/LevelSolverRandomTest.java
  base/src/test/java/org/aya/tyck/TracingTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/java/org/aya/tyck/TyckExprTest.java
  cli/build.gradle.kts
  cli/src/main/java/org/aya/cli/repl/jline/completer/AyaCompleters.java
  lsp/build.gradle.kts
  note/haskell-agda-style-lang-ext.md
  settings.gradle.kts
  tools/build.gradle.kts
  tools/src/main/java/module-info.java
  tools/src/main/java/org/aya/util/Decision.java
  tools/src/main/java/org/aya/util/MutableGraph.java
  tools/src/main/java/org/aya/util/Ordering.java
  tools/src/main/java/org/aya/util/StringEscapeUtil.java
  tools/src/main/java/org/aya/util/Version.java
  tools/src/main/java/org/aya/util/cancel/CancellationException.java
  tools/src/main/java/org/aya/util/cancel/CancellationIndicator.java
  tools/src/test/java/org/aya/util/UtilTest.java
Labels: build

#139 Suppress some unnecessary errors
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/failure/tyck/issues/issue292.aya
  base/src/test/resources/failure/tyck/issues/issue292.aya.txt
  base/src/test/resources/failure/tyck/issues/issue300.aya
  base/src/test/resources/failure/tyck/issues/issue300.aya.txt
  base/src/test/resources/failure/tyck/issues/issue659-01.aya
  base/src/test/resources/failure/tyck/issues/issue659-01.aya.txt
  base/src/test/resources/failure/tyck/issues/issue697.aya
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  base/src/test/resources/failure/tyck/issues2/issue34.aya
  base/src/test/resources/failure/tyck/issues2/issue34.aya.txt
Labels: error report

#142 Useful unsolved meta message
  base/src/main/java/org/aya/core/visitor/Zonker.java
  base/src/main/java/org/aya/generic/Constants.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/failure/holes/ctor-condition.aya.txt
  base/src/test/resources/failure/holes/issue747.aya.txt
  base/src/test/resources/failure/holes/pattern-confluence.aya.txt
  base/src/test/resources/failure/holes/scope-check.aya.txt
  base/src/test/resources/failure/holes/ulf-hole-illtype.aya.txt
  base/src/test/resources/failure/implicit/implicit2.aya.txt
  base/src/test/resources/failure/tyck/issues2/issue34.aya.txt
Labels: error report

#145 Tyck of one SCC will not be interrupted by unrelated failed SCCs
  base/src/main/java/org/aya/concrete/desugar/BinOpSet.java
  base/src/main/java/org/aya/concrete/resolve/ResolveInfo.java
  base/src/main/java/org/aya/concrete/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/order/IncrementalTycker.java
  base/src/main/java/org/aya/tyck/order/SCCTycker.java
  base/src/test/java/org/aya/concrete/VisitorTest.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  tools/src/main/java/org/aya/util/MutableGraph.java
Labels: tyck

#148 Improve PP
  api/src/main/java/org/aya/api/distill/DistillerOptions.java
  base/src/main/java/org/aya/core/term/IntroTerm.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  base/src/test/resources/literate/standard-test.txt
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
Labels: pretty print

#153 Fix some issues, improve l∀t∃x backend
  base/src/main/java/org/aya/concrete/resolve/error/AmbiguousNameError.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/FieldProblem.java
  base/src/test/resources/failure/tyck/issues2/issue151.aya
  base/src/test/resources/failure/tyck/issues2/issue151.aya.txt
  cli/src/main/java/org/aya/cli/repl/Repl.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/style/EmacsColorScheme.java
  pretty/src/test/java/org/aya/pretty/Reproduction.java
Labels: error report, pretty print, repl

#155 Many improvements to the pretty printer
  api/src/main/java/org/aya/api/error/SourceFile.java
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/parse/AyaParsing.java
  base/src/main/java/org/aya/core/Matching.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/failure/patterns/issues-archived/issue681.aya.txt
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  base/src/test/resources/failure/tyck/issues2/issue34.aya.txt
  cli/build.gradle.kts
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  cli/src/main/java/org/aya/cli/utils/PicocliUtils.java
  cli/src/test/java/org/aya/cli/ImGuiTrace.java
  lsp/build.gradle.kts
  lsp/src/main/java/org/aya/lsp/utils/LspArgs.java
Labels: pretty print

#156 LSP: fix javadoc module path
  build.gradle.kts
Labels: build

#161 Bug fixes
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/Goal.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/resources/failure/patterns/issues-archived/issue681.aya.txt
  base/src/test/resources/failure/patterns/issues/issue187.aya
  base/src/test/resources/failure/patterns/issues/issue187.aya.txt
  base/src/test/resources/failure/patterns/issues/issue281.aya
  base/src/test/resources/failure/patterns/issues/issue281.aya.txt
  base/src/test/resources/failure/patterns/issues/issue302.aya
  base/src/test/resources/failure/patterns/issues/issue302.aya.txt
  base/src/test/resources/failure/patterns/issues/issue319.aya
  base/src/test/resources/failure/patterns/issues/issue319.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-confl.aya
  base/src/test/resources/failure/patterns/issues/issue354-confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya.txt
  base/src/test/resources/failure/patterns/issues/issue355.aya
  base/src/test/resources/failure/patterns/issues/issue355.aya.txt
  base/src/test/resources/failure/patterns/issues/issue363.aya
  base/src/test/resources/failure/patterns/issues/issue363.aya.txt
  base/src/test/resources/failure/patterns/issues/issue366.aya
  base/src/test/resources/failure/patterns/issues/issue366.aya.txt
  base/src/test/resources/failure/patterns/issues/issue681.aya
  base/src/test/resources/failure/patterns/issues/issue681.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue99-1.aya
  base/src/test/resources/failure/patterns/issues2/issue99-1.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue99-2.aya
  base/src/test/resources/failure/patterns/issues2/issue99-2.aya.txt
  base/src/test/resources/success/issues2/issue158.aya
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
Labels: bug

#164 More bug fixes
  base/src/main/java/org/aya/concrete/resolve/context/BindContext.java
  base/src/main/java/org/aya/concrete/resolve/context/Context.java
  base/src/main/java/org/aya/concrete/resolve/context/EmptyContext.java
  base/src/main/java/org/aya/concrete/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/core/Matching.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/def/UserDef.java
  base/src/main/java/org/aya/core/ops/Eta.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/term/ErrorTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/Substituter.java
  base/src/main/java/org/aya/tyck/LocalCtx.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/resources/failure/patterns/issues/issue281.aya.txt
  base/src/test/resources/success/issues/pull313.aya
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
Labels: conversion check, coverage

#165 Cherry pick from new bind block
  api/src/main/java/org/aya/api/distill/AyaDocile.java
  base/src/main/java/org/aya/concrete/desugar/BinOpSet.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/OpDecl.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
Labels: cherry-pick

#166 PP options
  api/src/main/java/org/aya/api/distill/AyaDocile.java
  api/src/main/java/org/aya/api/distill/DistillerOptions.java
  api/src/main/java/org/aya/api/error/StreamReporter.java
  base/src/main/java/org/aya/concrete/desugar/BinOpSet.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/remark/CodeOptions.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/visitor/Normalizer.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/order/SCCTycker.java
  base/src/main/java/org/aya/tyck/trace/MdUnicodeTrace.java
  base/src/test/java/org/aya/concrete/DesugarTest.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/experiments/NormalizeHugeChurch.java
  base/src/test/java/org/aya/test/ThrowingReporter.java
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/repl/Repl.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli/src/main/java/org/aya/cli/repl/ReplConfig.java
  cli/src/main/java/org/aya/cli/single/CliReporter.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  cli/src/test/java/org/aya/cli/ArgsParserTest.java
  lsp/src/main/java/org/aya/lsp/models/ComputeTermResult.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  tools/src/main/java/org/aya/util/MutableGraph.java
Labels: repl

#169 Print `new` expressions as blocks
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/test/resources/failure/tyck/nonstruct-new.aya.txt
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
Labels: pretty print

#171 Pattern keyword and unicode option in repl/cli
  api/src/main/java/org/aya/api/error/Problem.java
  api/src/main/java/org/aya/api/error/StreamReporter.java
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/BinOpSet.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/concrete/visitor/ExprFixpoint.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/Renamer.java
  base/src/main/java/org/aya/core/visitor/TermFixpoint.java
  base/src/main/java/org/aya/generic/ParamLike.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/java/org/aya/test/ThrowingReporter.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/failure/holes/ctor-condition.aya.txt
  base/src/test/resources/failure/holes/issue747.aya.txt
  base/src/test/resources/failure/holes/pattern-confluence.aya.txt
  base/src/test/resources/failure/holes/ulf-hole-illtype.aya.txt
  base/src/test/resources/failure/implicit/implicit2.aya.txt
  base/src/test/resources/failure/patterns/issues/issue681.aya.txt
  base/src/test/resources/failure/tyck/issues/issue300.aya.txt
  base/src/test/resources/failure/tyck/issues/issue659-01.aya.txt
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  base/src/test/resources/failure/tyck/issues2/issue34.aya.txt
  base/src/test/resources/failure/tyck/want-but-no.aya.txt
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/repl/Repl.java
  cli/src/main/java/org/aya/cli/single/CliReporter.java
  gradle/upload-maven.cmd
Labels: parser, repl, cli

#167 Add bind block & remove abuse block
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/BinOpSet.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/visitor/BindResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/concrete/stmt/Command.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/OpDecl.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtFixpoint.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LocalCtx.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/test/java/org/aya/concrete/DesugarTest.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/failure/operator/cyclic.aya
  base/src/test/resources/failure/operator/cyclic.aya.txt
  base/src/test/resources/failure/operator/self-bind.aya
  base/src/test/resources/failure/operator/self-bind.aya.txt
  base/src/test/resources/failure/patterns/issues/issue681.aya
  base/src/test/resources/failure/patterns/issues/issue681.aya.txt
  base/src/test/resources/success/add-comm.aya
  base/src/test/resources/success/assoc.aya
  base/src/test/resources/success/issues/issue726.aya
  base/src/test/resources/success/issues/issue729.aya
  base/src/test/resources/success/issues2/issue14.aya
  base/src/test/resources/success/issues2/issue158.aya
  base/src/test/resources/success/issues2/issue69.aya
  base/src/test/resources/success/nat-monoid.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  tools/src/main/java/org/aya/util/MutableGraph.java
Labels: concrete

#172 Release 0.12
  gradle/deps.properties
  gradle/upload-maven.cmd
  note/early-changelog.md
Labels: release

#173 Update readme and gradle
  .github/README.md
  build.gradle.kts
  gradle/upload-maven.cmd
  gradle/wrapper/gradle-wrapper.properties
Labels: build

#176 Pattern matching refactoring
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/context/Context.java
  base/src/main/java/org/aya/concrete/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/concrete/resolve/error/BadCounterexampleWarn.java
  base/src/main/java/org/aya/concrete/resolve/visitor/PatResolver.java
  base/src/main/java/org/aya/concrete/stmt/Sample.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/def/UserDef.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/order/SCCTycker.java
  base/src/main/java/org/aya/tyck/pat/PatTree.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/failure/counterexamples/not-counterexample.aya
  base/src/test/resources/failure/counterexamples/not-counterexample.aya.txt
  base/src/test/resources/failure/patterns/selection-failure.aya.txt
  base/src/test/resources/failure/patterns/split-on-nondata.aya
  base/src/test/resources/failure/patterns/split-on-nondata.aya.txt
  base/src/test/resources/failure/scope/ctor-scope.aya
  base/src/test/resources/failure/scope/ctor-scope.aya.txt
  base/src/test/resources/success/issues/pull313.aya
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  lsp/src/main/java/org/aya/lsp/actions/GotoDefinition.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
Labels: refactoring, tyck: pattern, resolving

#178 Extract `BinOpParser` into `tools`
  api/src/main/java/org/aya/api/concrete/ConcreteExpr.java
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/AyaBinOpSet.java
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/concrete/desugar/BinOpParser.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/desugar/error/OperatorProblem.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/ResolveInfo.java
  base/src/main/java/org/aya/concrete/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/visitor/BindResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/concrete/stmt/BindBlock.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/OpDecl.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/concrete/visitor/ExprFixpoint.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/test/java/org/aya/concrete/DesugarTest.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  tools/src/main/java/module-info.java
  tools/src/main/java/org/aya/util/binop/Assoc.java
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
  tools/src/main/java/org/aya/util/binop/BinOpSet.java
  tools/src/main/java/org/aya/util/binop/OpDecl.java
  tools/src/main/java/org/aya/util/binop/SourceNode.java
Labels: refactoring, binop

#179 Some preparation for binary patterns
  api/src/main/java/org/aya/api/concrete/ConcretePat.java
  api/src/main/java/org/aya/api/util/Arg.java
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/visitor/PatResolver.java
  base/src/main/java/org/aya/concrete/visitor/ExprConsumer.java
  base/src/main/java/org/aya/concrete/visitor/ExprFixpoint.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/LicitProblem.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  lsp/src/main/java/org/aya/lsp/actions/GotoDefinition.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
Labels: binop, concrete: pattern

#180 Last-minute refactoring before pattern binop parser
  api/src/main/java/org/aya/api/util/Arg.java
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
Labels: binop

#181 Infixable patterns
  .github/README.md
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/desugar/error/OperatorProblem.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/visitor/BindResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/PatResolver.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtFixpoint.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/test/resources/success/issues2/issue158.aya
  base/src/test/resources/success/issues2/issue83.aya
  lsp/src/main/java/org/aya/lsp/actions/GotoDefinition.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
Labels: desugar, binop

#183 Fix field pretty print
  base/src/main/java/org/aya/core/term/ElimTerm.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/test/resources/success/issues2/issue152.aya
Labels: pretty print

#185 😇😇
  base/src/main/java/org/aya/concrete/stmt/QualifiedID.java
  base/src/main/java/org/aya/core/sort/Sort.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/Level.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/LevelMismatchError.java
  base/src/main/java/org/aya/tyck/pat/PatTree.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/trace/Trace.java
  base/src/main/java/org/aya/tyck/unify/level/LevelEqnSet.java
  tools/src/main/java/org/aya/util/TreeBuilder.java
Labels: refactoring

#186 Make `opaque` and `inline` keywords actually useful
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/parse/ReporterErrorListener.java
  base/src/main/java/org/aya/concrete/parse/error/BadCounterexampleWarn.java
  base/src/main/java/org/aya/concrete/parse/error/BadModifierWarn.java
  base/src/main/java/org/aya/concrete/parse/error/ParseError.java
  base/src/main/java/org/aya/concrete/parse/error/PrimDependencyError.java
  base/src/main/java/org/aya/concrete/parse/error/RedefinitionError.java
  base/src/main/java/org/aya/concrete/parse/error/UnknownPrimError.java
  base/src/main/java/org/aya/core/def/FnDef.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/visitor/Unfolder.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/Modifier.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/resources/failure/syntax/issue165.aya.txt
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
Labels: error report, parser

#188 Improve literate code options
  base/src/main/java/org/aya/concrete/remark/CodeAttrProcessor.java
  base/src/main/java/org/aya/concrete/remark/CodeOptions.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/remark/Remark.java
  base/src/test/java/org/aya/experiments/CommonMark.java
  base/src/test/resources/literate/standard-test.txt
  base/src/test/resources/literate/test.aya
  tools/src/main/java/org/aya/util/StringUtil.java
Labels: literate

#190 Only enable overlapping pattern semantics on `overlap` modifier
  .github/README.md
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/visitor/Unfolder.java
  base/src/main/java/org/aya/generic/Modifier.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/test/java/org/aya/core/NormalizeTest.java
  base/src/test/java/org/aya/tyck/PatCCTest.java
  base/src/test/resources/failure/counterexamples/basic.aya
  base/src/test/resources/failure/counterexamples/not-in-ctx.aya
  base/src/test/resources/failure/holes/issue420.aya
  base/src/test/resources/failure/holes/pattern-confluence.aya
  base/src/test/resources/failure/holes/pattern-confluence.aya.txt
  base/src/test/resources/failure/holes/ulf-hole-illtype.aya
  base/src/test/resources/failure/patterns/confl.aya
  base/src/test/resources/failure/patterns/confl.aya.txt
  base/src/test/resources/failure/patterns/fm-dom.aya
  base/src/test/resources/failure/patterns/fm-dom.aya.txt
  base/src/test/resources/failure/patterns/issues/issue302.aya
  base/src/test/resources/failure/patterns/issues/issue302.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya
  base/src/test/resources/failure/patterns/issues/issue366.aya
  base/src/test/resources/failure/patterns/issues/issue366.aya.txt
  base/src/test/resources/failure/patterns/issues/issue681.aya
  base/src/test/resources/failure/patterns/issues2/issue99-1.aya
  base/src/test/resources/failure/patterns/issues2/issue99-1.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue99-2.aya
  base/src/test/resources/failure/patterns/issues2/issue99-2.aya.txt
  base/src/test/resources/failure/syntax/issue165.aya.txt
  base/src/test/resources/success/add-comm.aya
  base/src/test/resources/success/assoc.aya
  base/src/test/resources/success/examples.aya
  base/src/test/resources/success/implicit-pats.aya
  base/src/test/resources/success/issues/issue264.aya
  base/src/test/resources/success/issues/issue320.aya
  base/src/test/resources/success/issues/issue442.aya
  base/src/test/resources/success/issues/issue521.aya
  base/src/test/resources/success/issues/issue743.aya
  base/src/test/resources/success/issues2/issue14.aya
  base/src/test/resources/success/issues2/issue69.aya
  base/src/test/resources/success/issues2/issue83.aya
  base/src/test/resources/success/lambda-tuple-infer.aya
  base/src/test/resources/success/nat-ind-add.aya
  base/src/test/resources/success/nat-monoid.aya
  base/src/test/resources/success/redblack.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
Labels: confluence

#193 Enhance something
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/resources/failure/patterns/selection-failure.aya.txt
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  parser/build.gradle.kts
Labels: error report, parser, cherry-pick, tyck: pattern

#194 Enhance error report for rbTree
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/test/resources/failure/patterns/unsure-missing.aya
  base/src/test/resources/failure/patterns/unsure-missing.aya.txt
  base/src/test/resources/success/redblack.aya
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  tools/src/main/java/org/aya/util/ArrayUtil.java
Labels: bug, error report, cherry-pick

#196 Supersede `Pat.Visitor` with JEP 406
  .github/workflows/nightly-build.yml
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
Labels: refactoring

#197 Pretty printing enhancements
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/core/term/ElimTerm.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/resources/failure/patterns/issues/issue681.aya.txt
Labels: pretty print

#198 Implement "meta patteriables"
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/RefTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/Normalizer.java
  base/src/main/java/org/aya/core/visitor/TermConsumer.java
  base/src/main/java/org/aya/core/visitor/TermFixpoint.java
  base/src/main/java/org/aya/core/visitor/Unfolder.java
  base/src/main/java/org/aya/core/visitor/Zonker.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/resources/failure/patterns/selection-failure.aya
  base/src/test/resources/failure/patterns/selection-failure.aya.txt
  base/src/test/resources/success/curry.aya
  base/src/test/resources/success/lambda-tuple-infer.aya
  base/src/test/resources/success/omit-data-univ.aya
  base/src/test/resources/success/redblack.aya
  base/src/test/resources/success/type-safe-norm.aya
  base/src/test/resources/success/uncurry.aya
  base/src/test/resources/success/vect-map.aya
Labels: core: pattern

#202 Try to improve coverage
  cli/src/test/java/org/aya/cli/JlineReplTest.java
  cli/src/test/java/org/aya/cli/PlainReplTest.java
Labels: test fixtures, repl

#206 Agda's 'generalized' feature
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/error/GeneralizedNotAvailableError.java
  base/src/main/java/org/aya/concrete/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/concrete/stmt/Generalize.java
  base/src/main/java/org/aya/concrete/stmt/Sample.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtFixpoint.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/generic/Level.java
  base/src/main/java/org/aya/generic/ref/GeneralizedVar.java
  base/src/main/java/org/aya/generic/ref/PreLevelVar.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/test/java/org/aya/concrete/VisitorTest.java
  base/src/test/resources/success/redblack.aya
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
Labels: generalization

#208 Concrete syntax tree cleanup
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/PatResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/Signatured.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtFixpoint.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/order/SCCTycker.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
Labels: concrete, refactoring

#209 Release 0.13
  gradle/deps.properties
  note/early-changelog.md
  note/glossary.md
  note/index-unification.md
Labels: release

#211 Refactoring: A little step towards library system
  base/src/main/java/org/aya/concrete/resolve/ResolveInfo.java
  base/src/main/java/org/aya/concrete/resolve/ShallowResolveInfo.java
  base/src/main/java/org/aya/concrete/resolve/context/BindContext.java
  base/src/main/java/org/aya/concrete/resolve/context/Context.java
  base/src/main/java/org/aya/concrete/resolve/context/EmptyContext.java
  base/src/main/java/org/aya/concrete/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/concrete/resolve/context/NoExportContext.java
  base/src/main/java/org/aya/concrete/resolve/context/PhysicalModuleContext.java
  base/src/main/java/org/aya/concrete/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/repl/ReplContext.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
Labels: resolving

#210 Remove `TyckerException`
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/main/java/org/aya/tyck/error/FieldProblem.java
  base/src/main/java/org/aya/tyck/error/PrimProblem.java
  base/src/main/java/org/aya/tyck/error/TupleProblem.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/test/resources/failure/patterns/not-enough-pat.aya
  base/src/test/resources/failure/patterns/not-enough-pat.aya.txt
  base/src/test/resources/failure/patterns/too-many-implicit.aya
  base/src/test/resources/failure/patterns/too-many-implicit.aya.txt
  base/src/test/resources/failure/struct/arg-num-mismatch.aya
  base/src/test/resources/failure/struct/arg-num-mismatch.aya.txt
  base/src/test/resources/failure/tuple/too-many-elems.aya
  base/src/test/resources/failure/tuple/too-many-elems.aya.txt
  base/src/test/resources/failure/tyck/lam-param-type-mismatch.aya
  base/src/test/resources/failure/tyck/lam-param-type-mismatch.aya.txt
  base/src/test/resources/failure/tyck/tele-prim-no-type.aya
  base/src/test/resources/failure/tyck/tele-prim-no-type.aya.txt
Labels: error report, tyck

#212 A another step towards library
  api/src/main/java/org/aya/api/error/Reporter.java
  api/src/main/java/org/aya/api/ref/DefVar.java
  base/src/main/java/org/aya/concrete/desugar/AyaBinOpSet.java
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/ModuleCallback.java
  base/src/main/java/org/aya/concrete/resolve/ResolveInfo.java
  base/src/main/java/org/aya/concrete/resolve/module/CachedModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/module/EmptyModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/module/ModuleListLoader.java
  base/src/main/java/org/aya/concrete/resolve/module/ModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/Signatured.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/tyck/order/IncrementalTycker.java
  base/src/test/java/org/aya/literate/LiterateTest.java
  base/src/test/java/org/aya/test/TestRunner.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/library/ImportResolver.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/library/LibrarySource.java
  cli/src/main/java/org/aya/cli/library/Timestamp.java
  cli/src/main/java/org/aya/cli/library/json/LibraryConfigData.java
  cli/src/main/java/org/aya/cli/library/json/LibraryDependencyData.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/single/CompilerFlags.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  cli/src/main/java/org/aya/cli/utils/AyaCompiler.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  tools/src/main/java/org/aya/util/MutableGraph.java
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
  tools/src/main/java/org/aya/util/binop/BinOpSet.java
  tools/src/main/java/org/aya/util/binop/OpDecl.java
Labels: library

#217 Introduce `TyckUnit`
  api/src/main/java/org/aya/api/concrete/ConcreteDecl.java
  api/src/main/java/org/aya/api/concrete/ConcreteExpr.java
  api/src/main/java/org/aya/api/concrete/ConcretePat.java
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/remark/Remark.java
  base/src/main/java/org/aya/concrete/resolve/ResolveInfo.java
  base/src/main/java/org/aya/concrete/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/stmt/QualifiedID.java
  base/src/main/java/org/aya/concrete/stmt/Signatured.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/tyck/LocalCtx.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/CircularSignatureError.java
  base/src/main/java/org/aya/tyck/order/IncrementalTycker.java
  base/src/main/java/org/aya/tyck/order/SCCTycker.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/main/java/org/aya/tyck/order/TyckUnit.java
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
  tools/src/main/java/org/aya/util/error/SourceNode.java
Labels: concrete

#220 Cherry pick from library system bug fix PR
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/visitor/TermFixpoint.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/resources/failure/tyck/issues2/issue34.aya.txt
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/library/LibrarySource.java
Labels: bug, cherry-pick, library

#222 Error messages and unfold
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/CallTerm.java
  base/src/main/java/org/aya/core/visitor/Unfolder.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/failure/tyck/issues2/issue34.aya.txt
Labels: error report, cherry-pick, unfold

#219 Try to fix some obvious bugs of the library system
  api/src/main/java/org/aya/api/util/InternalException.java
  base/src/main/java/org/aya/concrete/parse/AyaParsing.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/remark/Remark.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/stmt/Command.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/Generalize.java
  base/src/main/java/org/aya/concrete/stmt/Sample.java
  base/src/main/java/org/aya/concrete/stmt/Signatured.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/tyck/order/TyckUnit.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  cli/src/main/java/org/aya/cli/utils/AyaCompiler.java
  tools/src/main/java/org/aya/util/error/SourceFile.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: library

#229 Improve cli output, add `--verbosity` flag
  api/src/main/java/org/aya/api/error/CollectingReporter.java
  api/src/main/java/org/aya/api/error/DelayedReporter.java
  api/src/main/java/org/aya/api/error/Problem.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/java/org/aya/test/LibraryTest.java
  base/src/test/java/org/aya/test/TestRunner.java
  base/src/test/java/org/aya/test/ThrowingReporter.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/repl/Repl.java
  cli/src/main/java/org/aya/cli/single/CliReporter.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  tools/src/main/java/org/aya/util/FileUtil.java
Labels: error report, cli

#230 Run library test for 3 times as said in the review
  base/src/test/java/org/aya/test/LibraryTest.java
Labels: test fixtures

#231 Reuse parsed tree instead of import only
  base/src/main/java/org/aya/concrete/parse/AyaParsing.java
  base/src/main/java/org/aya/concrete/parse/AyaProducer.java
  base/src/main/java/org/aya/concrete/resolve/module/CachedModuleLoader.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/test/LibraryTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/library/LibrarySource.java
Labels: library

#233 Revert some bad changes
  api/src/main/java/org/aya/api/error/Reporter.java
  base/src/main/java/org/aya/concrete/resolve/module/CachedModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/module/EmptyModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/concrete/resolve/module/ModuleListLoader.java
  base/src/main/java/org/aya/concrete/resolve/module/ModuleLoader.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/generic/Constants.java
  base/src/main/java/org/aya/tyck/order/AyaOrgaTycker.java
  base/src/test/java/org/aya/test/LibraryTest.java
  cli/src/main/java/org/aya/cli/library/ImportResolver.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/library/LibraryOwner.java
  cli/src/main/java/org/aya/cli/library/LibrarySource.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  tools/src/main/java/org/aya/util/tyck/OrgaTycker.java
Labels: refactoring

#234 Minor refactoring
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/ops/TermToPat.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LocalCtx.java
  base/src/main/java/org/aya/tyck/trace/Trace.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeTerm.java
Labels: refactoring

#235 Rely on `LocalCtx`
  base/src/main/java/org/aya/core/ops/Eta.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/LocalCtx.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/core/EtaTest.java
Labels: refactoring

#236 Remove `LittleTyper`
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
Labels: refactoring, cleanup

#238 Cherry pick refactoring changes from mixfix
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/concrete/resolve/visitor/StmtShallowResolver.java
Labels: resolving

#244 Get rid of RefTerm.type
  api/src/main/java/org/aya/api/core/CoreTerm.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/ops/TermToPat.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/RefTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/Renamer.java
  base/src/main/java/org/aya/core/visitor/TermConsumer.java
  base/src/main/java/org/aya/core/visitor/TermFixpoint.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/core/EtaTest.java
  base/src/test/resources/failure/holes/scope-check.aya.txt
Labels: refactoring
