Repository aya-prover/aya-dev, pull requests merged in 2022-10, with the labels that each got.

#551 GK parser
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/error/DoNotationError.java
  base/src/main/java/org/aya/concrete/stmt/QualifiedID.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/concrete/DesugarTest.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/java/org/aya/repr/ShapeMatcherTest.java
  base/src/test/java/org/aya/tyck/TracingTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/failure/syntax/do-notation.aya.banned
  base/src/test/resources/failure/syntax/issue164.aya.txt
  base/src/test/resources/failure/syntax/issue165.aya.txt
  base/src/test/resources/failure/syntax/issue293-emoji64.aya.txt
  base/src/test/resources/failure/syntax/issue293.aya.txt
  base/src/test/resources/failure/syntax/issue350-not-id.aya
  base/src/test/resources/failure/syntax/issue350-not-id.aya.txt
  base/src/test/resources/failure/syntax/issue350-qualified-id.aya
  base/src/test/resources/failure/syntax/issue350-qualified-id.aya.txt
  base/src/test/resources/failure/syntax/literate-unresolved.aya.txt
  base/src/test/resources/success/common/src/Data/List.aya
  base/src/test/resources/success/src/Assoc.aya
  base/src/test/resources/success/src/Idiom.aya.banned
  base/src/test/resources/success/src/ImportOpPrecedence.aya
  base/src/test/resources/success/src/ListComprehension.aya.banned
  buildSrc/build.gradle.kts
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/build.gradle.kts
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/incremental/CompilerAdvisor.java
  cli/src/main/java/org/aya/cli/parse/AyaGKParserImpl.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  gradle/deps.properties
  note/parser-migration.md
  parser-migrate/build.gradle.kts
  parser-migrate/src/main/gen/org/aya/parser/ij/AyaPsiElementTypes.java
  parser-migrate/src/main/gen/org/aya/parser/ij/AyaPsiParser.java
  parser-migrate/src/main/gen/org/aya/parser/ij/_AyaPsiLexer.java
  parser-migrate/src/main/grammar/AyaPsiLexer.flex
  parser-migrate/src/main/grammar/AyaPsiParser.bnf
  parser-migrate/src/main/java/module-info.java
  parser-migrate/src/main/java/org/aya/parser/ij/AyaLanguage.java
  parser-migrate/src/main/java/org/aya/parser/ij/AyaParserDefinitionBase.java
  parser-migrate/src/main/java/org/aya/parser/ij/AyaPsiElementType.java
  parser-migrate/src/main/java/org/aya/parser/ij/AyaPsiTokenType.java
  parser-migrate/src/main/java/org/aya/parser/ij/GenericNode.java
  pretty/src/main/java/org/aya/pretty/error/RangeSpan.java
  settings.gradle.kts
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: parser

#554 Try to save coverage, recover do/idiom tests
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/test/java/org/aya/concrete/DesugarTest.java
  base/src/test/resources/success/common/src/Data/List.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/test/java/org/aya/cli/JlineReplTest.java
  tools-repl/src/main/java/org/aya/repl/gk/ReplParser.java
Labels: desugar

#555 KALA: upgrade to 0.52.0
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  gradle/deps.properties
  tools-repl/src/main/java/org/aya/repl/gk/JFlexAdapter.java
Labels: deps: kala

#537 Use some Java 19 features
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/generic/SortKind.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
Labels: refactoring

#560 parser: post-migration changes
  cli/src/main/java/org/aya/cli/parse/AyaGKParserImpl.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/repl/jline/AyaCompleters.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/gen/org/aya/parser/_AyaPsiLexer.java
  parser/src/main/grammar/AyaPsiLexer.flex
  parser/src/main/grammar/AyaPsiParser.bnf
  parser/src/main/java/module-info.java
  parser/src/main/java/org/aya/parser/AyaLanguage.java
  parser/src/main/java/org/aya/parser/AyaParserDefinitionBase.java
  parser/src/main/java/org/aya/parser/AyaPsiElementType.java
  parser/src/main/java/org/aya/parser/AyaPsiTokenType.java
  parser/src/main/java/org/aya/parser/GenericNode.java
Labels: cleanup

#566 @HoshinoTented's branch
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/test/java/org/aya/cli/ReplParserTest.java
  cli/src/test/java/org/aya/cli/WidthPreviewToy.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
Labels: test fixtures, pretty print

#567 Some cleanup after using gk
  base/build.gradle.kts
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/concrete/remark/CodeAttrProcessor.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  cli/src/main/java/org/aya/cli/parse/AyaGKParserImpl.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  parser/src/main/java/org/aya/parser/GenericNode.java
  tools/build.gradle.kts
  tools/src/main/java/org/aya/util/StringEscapeUtil.java
  tools/src/main/java/org/aya/util/StringUtil.java
  tools/src/test/java/org/aya/util/UtilTest.java
Labels: error report, repl, cleanup

#570 Bump upstream
  cli/src/main/java/org/aya/cli/parse/AyaGKParserImpl.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  gradle/deps.properties
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  parser/src/main/java/org/aya/parser/GenericNode.java
  tools-repl/src/main/java/org/aya/repl/gk/JFlexAdapter.java
  tools-repl/src/main/java/org/aya/repl/gk/ReplHighlighter.java
  tools-repl/src/main/java/org/aya/repl/gk/ReplParser.java
Labels: repl, deps: upstream

#571 Cherry pick from an ongoing feature branch
  base/src/main/java/org/aya/core/term/CallTerm.java
  base/src/main/java/org/aya/core/term/ElimTerm.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/trace/MarkdownTrace.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/tyck/TracingTest.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli/src/test/java/org/aya/cli/ImGuiTrace.java
  lsp/aya.bat
  lsp/build.gradle.kts
Labels: trace, cubical

#572 More minor improvements
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/success/common/src/Arith/Nat.aya
  base/src/test/resources/success/common/src/Arith/Nat/More.aya
  base/src/test/resources/success/common/src/Paths.aya
  build.gradle.kts
Labels: refactoring

#573 Idiom fixes
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/test/resources/failure/syntax/do-notation.aya
  base/src/test/resources/failure/syntax/do-notation.aya.banned
  base/src/test/resources/failure/syntax/do-notation.aya.txt
  base/src/test/resources/success/src/Idiom.aya
  base/src/test/resources/success/src/Idiom.aya.banned
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: bug, desugar

#577 Lifting order
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/test/resources/failure/tyck/nonsigma-tup.aya.txt
  base/src/test/resources/success/src/Refparo/Model.aya
Labels: bug, mcbride universe

#579 Do not stop literal classification that early
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/test/resources/failure/patterns/confl-literal.aya.txt
  base/src/test/resources/failure/patterns/confl-literal2.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue578.aya
  base/src/test/resources/failure/patterns/issues2/issue578.aya.txt
Labels: confluence, literal

#575 Pattern Matching on List Literal
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/visitor/PatternTraversal.java
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/concrete/DistillerTest.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/resources/success/src/List.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser, concrete: pattern

#583 Fix #528 by not using unification
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/term/LitTerm.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
Labels: refactoring, literal

#586 Make PrettyPrinter Alive
  pretty/src/main/java/module-info.java
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/style/AyaColorScheme.java
  pretty/src/main/java/org/aya/pretty/style/AyaStyleFamily.java
Labels: pretty print

#590 misc: add me to developer list
  build.gradle.kts
  gradle/deps.properties
  note/developers.md
  note/early-changelog.md
Labels: build

#591 Some Java 19 shit
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
Labels: refactoring

#592 Some improvements generated in `andras` branch
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
Labels: refactoring, pretty print, tyck: path

#593 Use gradle to generate the lexer
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/org/aya/gradle/JFlexTask.groovy
  gradle/deps.properties
  parser/.gitignore
  parser/build.gradle.kts
  parser/src/main/gen/org/aya/parser/_AyaPsiLexer.java
  parser/src/main/grammar/aya-flex.skeleton
Labels: parser, build, developer experience

#587 New `coe` syntax
  .editorconfig
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/error/BadFreezingWarn.java
  base/src/main/java/org/aya/concrete/visitor/ExprTraversal.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/CubicalError.java
  base/src/main/java/org/aya/tyck/error/FieldError.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/resources/failure/cubical/boundary-disagrees.aya
  base/src/test/resources/failure/cubical/face-mismatch.aya
  base/src/test/resources/failure/cubical/meaningless-freeze.aya
  base/src/test/resources/failure/cubical/meaningless-freeze.aya.txt
  base/src/test/resources/failure/cubical/transport-non-constant.aya
  base/src/test/resources/failure/cubical/transport-non-constant.aya.txt
  base/src/test/resources/failure/projection/issues2/issue151.aya.txt
  base/src/test/resources/failure/projection/issues2/issue34.aya.txt
  base/src/test/resources/failure/projection/nonstruct-proj.aya.txt
  base/src/test/resources/success/src/CubicalBasics.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiLexer.flex
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: concrete, cubical

#589 repr: List
  .gitignore
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/repr/AyaShape.java
  base/src/main/java/org/aya/core/repr/CodeShape.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/LitTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/error/LiteralError.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/repr/ShapeMatcherTest.java
  base/src/test/resources/failure/patterns/literal-list-bad-inner.aya
  base/src/test/resources/failure/patterns/literal-list-bad-inner.aya.txt
  base/src/test/resources/failure/patterns/literal-list-bad.aya
  base/src/test/resources/failure/patterns/literal-list-bad.aya.txt
  base/src/test/resources/failure/tyck/list-type-mismatch.aya
  base/src/test/resources/failure/tyck/list-type-mismatch.aya.txt
  base/src/test/resources/failure/tyck/list-unknown.aya
  base/src/test/resources/failure/tyck/list-unknown.aya.txt
  base/src/test/resources/failure/tyck/literal-ambiguous-2.aya.txt
  base/src/test/resources/success/src/List.aya
  base/src/test/resources/success/src/List2.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
Labels: literal

#600 Computation for `coe`
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/PrimTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/resources/success/src/CubicalBasics.aya
Labels: cubical

#605 respect renamed operator in serialized bind
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/test/resources/success/common/src/Paths.aya
Labels: bug, serialization

#606 Overhaul the `Sub` system of unification
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
Labels: conversion check

#584 Prop and Erased
  base/reflect-config.txt
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/ElimTerm.java
  base/src/main/java/org/aya/core/term/ErasedTerm.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/SortKind.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/ErasedError.java
  base/src/test/resources/failure/tyck/erased.aya
  base/src/test/resources/failure/tyck/erased.aya.txt
  base/src/test/resources/success/src/Prop.aya
  base/src/test/resources/success/src/Sorts.aya
Labels: prop

#611 Many build improvements
  base/reflect-config.txt
  cli/src/main/java/org/aya/cli/library/source/MutableLibraryOwner.java
  gradle/wrapper/gradle-wrapper.properties
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  parser/build.gradle.kts
Labels: build

#612 Major tom
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/env/SeqLocalCtx.java
  gradle/wrapper/gradle-wrapper.properties
Labels: build, deps: kala

#614 @wsx-ucb's code cherry pick
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/concrete/visitor/EndoExpr.java
  base/src/main/java/org/aya/concrete/visitor/EndoPattern.java
  base/src/main/java/org/aya/concrete/visitor/ExprConsumer.java
  base/src/main/java/org/aya/concrete/visitor/ExprOps.java
  base/src/main/java/org/aya/concrete/visitor/ExprTraversal.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
Labels: cherry-pick

#615 Upgrade (again, sorry!)
  gradle/wrapper/gradle-wrapper.properties
Labels: build

#617 Cherry pick from @HoshinoTented's branch
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/failure/patterns/literal-conf.aya
  base/src/test/resources/failure/patterns/literal-conf.aya.txt
  base/src/test/resources/failure/syntax/issue164.aya.txt
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  base/src/test/resources/success/src/Issues/495.aya
  base/src/test/resources/success/src/Sorts.aya
Labels: cherry-pick

#616 Computation rule of coe for sigma type
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/test/resources/success/src/CubicalBasics.aya
Labels: feature, cubical

#619 Random changes, fix simple lsp bug
  LICENSE
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeTerm.java
  lsp/src/main/java/org/aya/lsp/models/ComputeTermResult.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
Labels: refactoring, lsp
