Repository aya-prover/aya-dev, pull requests merged in 2022-08, with the labels that each got.

#442 Pass `accessibleLocal` to fix NPE
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
Labels: bug

#441 Redo lift
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/RefTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/EndoFunctor.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/core/EtaTest.java
Labels: universe polymorphism

#444 Remove planned generalized pattern synonym
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/stmt/Generalize.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/EndoFunctor.java
  base/src/main/java/org/aya/generic/ParamLike.java
  base/src/test/resources/failure/syntax/issue165.aya.txt
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  note/early-changelog.md
Labels: cleanup

#445 Address module renames in run scripts
  cli/build.gradle.kts
  lsp/aya-lsp.bat
  lsp/aya-lsp.sh
  lsp/aya.bat
  lsp/aya.sh
  lsp/build.gradle.kts
Labels: build

#446 Partial elements
  base/build.gradle.kts
  base/reflect-config.txt
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/IntroTerm.java
  base/src/main/java/org/aya/core/term/PrimTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/main/java/org/aya/tyck/error/CubicalProblem.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/cubical/PartialTest.java
  base/src/test/resources/failure/cubical/boundary-disagrees.aya
  base/src/test/resources/failure/cubical/boundary-disagrees.aya.txt
  base/src/test/resources/failure/cubical/face-mismatch.aya
  base/src/test/resources/failure/cubical/face-mismatch.aya.txt
  base/src/test/resources/failure/syntax/issue164.aya.txt
  base/src/test/resources/failure/syntax/issue165.aya.txt
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Primitives.aya
  base/src/test/resources/success/src/Issues/289.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  gradle/deps.properties
  lsp/src/test/resources/lsp-test-lib/src/PathPrims.aya
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
Labels: cubical

#454 Properly configure the inputs of prepareMergedJarsDir
  buildSrc/src/main/groovy/org/aya/gradle/GenerateVersionTask.groovy
  lsp/build.gradle.kts
Labels: build

#456 Cherry pick from @tsao-chi branch
  base/src/main/java/org/aya/core/term/CallTerm.java
  base/src/main/java/org/aya/core/term/ElimTerm.java
  base/src/main/java/org/aya/core/visitor/EndoFunctor.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
Labels: reduction, refactoring, tyck

#457 Fix #345
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/test/resources/success/src/Issues/345.aya
Labels: concrete, resolving, generalization

#447 Generalized path
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/visitor/ExprTraversal.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/ElimTerm.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/IntroTerm.java
  base/src/main/java/org/aya/core/term/PrimTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/EndoFunctor.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/core/visitor/MonoidalVarFolder.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/Cube.java
  base/src/main/java/org/aya/generic/Partial.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/error/CubicalProblem.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/cubical/PartialTest.java
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/resources/failure/cubical/dim-mismatch.aya
  base/src/test/resources/failure/cubical/dim-mismatch.aya.txt
  base/src/test/resources/success/src/CubicalBasics.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
Labels: cubical

#460 Improve LSP
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageClient.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
  lsp/src/main/java/org/aya/lsp/utils/XY.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: lsp

#461 RELEASE: updated changelog for 0.19
  note/early-changelog.md
Labels: release

#470 Upgrade several dependencies
  .github/README.md
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/visitor/ExprTraversal.java
  base/src/main/java/org/aya/core/term/IntroTerm.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/core/visitor/MonoidalVarFolder.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/generic/Cube.java
  base/src/main/java/org/aya/generic/Partial.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  gradle/deps.properties
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
Labels: build
