Repository aya-prover/aya-dev, pull requests merged in 2022-09, with the labels that each got.

#473 `AnyVar` and refactoring
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/remark/CodeAttrProcessor.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/core/Meta.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/term/CallTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/EndoFunctor.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/core/visitor/MonoidalVarFolder.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/generic/Constants.java
  base/src/main/java/org/aya/generic/ref/GeneralizedVar.java
  base/src/main/java/org/aya/ref/AnyVar.java
  base/src/main/java/org/aya/ref/DefVar.java
  base/src/main/java/org/aya/ref/LocalVar.java
  base/src/main/java/org/aya/resolve/context/BindContext.java
  base/src/main/java/org/aya/resolve/context/Context.java
  base/src/main/java/org/aya/resolve/context/EmptyContext.java
  base/src/main/java/org/aya/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/resolve/context/NoExportContext.java
  base/src/main/java/org/aya/resolve/context/PhysicalModuleContext.java
  base/src/main/java/org/aya/resolve/error/DuplicateNameError.java
  base/src/main/java/org/aya/resolve/error/GeneralizedNotAvailableError.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/CounterexampleError.java
  base/src/main/java/org/aya/tyck/error/FieldProblem.java
  base/src/main/java/org/aya/tyck/error/NotYetTyckedError.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  cli/src/main/java/org/aya/cli/repl/ReplContext.java
  cli/src/test/java/org/aya/cli/ReplCompilerTest.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeSignature.java
  lsp/src/main/java/org/aya/lsp/actions/FindReferences.java
  lsp/src/main/java/org/aya/lsp/actions/Rename.java
  lsp/src/main/java/org/aya/lsp/utils/ModuleVar.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
  lsp/src/test/java/org/aya/lsp/tester/LspTestClient.java
  tools/src/main/java/org/aya/util/Version.java
Labels: refactoring

#475 REFACTOR: extract resolveOpDecl()
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/ref/DefVar.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
Labels: refactoring

#476 PRETTY: fix partially applied binop
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/test/java/org/aya/core/DistillerTest.java
Labels: pretty print

#478 Increase test coverage, remove unused classes
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/term/CallTerm.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/core/DistillerTest.java
  cli/src/main/java/org/aya/cli/library/ImportResolver.java
  cli/src/main/java/org/aya/cli/utils/AyaCompiler.java
  note/haskell-agda-style-lang-ext.md
  pretty/src/main/java/org/aya/pretty/backend/string/style/ClosingStylist.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/main/java/org/aya/pretty/doc/Style.java
  pretty/src/main/java/org/aya/pretty/doc/Styles.java
  tools/src/main/java/org/aya/util/Decision.java
  tools/src/main/java/org/aya/util/binop/OpDecl.java
Labels: refactoring

#479 RELEASE: 0.20 and bump version to 0.21-SNAPSHOT
  gradle/deps.properties
  gradle/upload-maven.cmd
  note/early-changelog.md
Labels: release

#481 Be strict when comparing constructors for termination
  .github/README.md
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/test/resources/success/src/FoetusLimitation.aya
Labels: terck

#482 Consider size-change in termination checker
  .github/README.md
  base/src/main/java/org/aya/terck/Behavior.java
  base/src/main/java/org/aya/terck/CallGraph.java
  base/src/main/java/org/aya/terck/CallMatrix.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/terck/Relation.java
  base/src/main/java/org/aya/terck/error/NonTerminating.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/java/org/aya/terck/RelationTest.java
  base/src/test/resources/failure/terck/issue471.aya
  base/src/test/resources/failure/terck/issue471.aya.txt
  base/src/test/resources/success/src/FoetusLimitation.aya
Labels: terck

#485 Update bors message, upgrade guest
  bors.toml
  gradle/deps.properties
Labels: build

#484 Reimplement call graph completion, supports interleaved arguments on recursion
  .github/workflows/commit-check.sh
  .github/workflows/commit-check.yml
  base/src/main/java/org/aya/terck/Behavior.java
  base/src/main/java/org/aya/terck/CallGraph.java
  base/src/main/java/org/aya/terck/CallMatrix.java
  base/src/main/java/org/aya/terck/Diagonal.java
  base/src/main/java/org/aya/terck/Relation.java
  base/src/main/java/org/aya/terck/Selector.java
  base/src/main/java/org/aya/terck/error/BadRecursion.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/resources/failure/terck/issue471.aya.txt
  base/src/test/resources/failure/terck/non-term.aya.txt
  base/src/test/resources/success/src/Order.aya
  bors.toml
Labels: terck

#486 Do not run commit-check on main
  .github/workflows/commit-check.yml
Labels: build

#487 IntelliJ theme
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/html/Html5Stylist.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/latex/TeXStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinterConfig.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/style/ClosingStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/style/DebugStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/style/UnixTermStylist.java
  pretty/src/main/java/org/aya/pretty/printer/PrinterConfig.java
  pretty/src/main/java/org/aya/pretty/printer/Stylist.java
  pretty/src/main/java/org/aya/pretty/style/AyaColorScheme.java
  pretty/src/main/java/org/aya/pretty/style/AyaStyleFamily.java
Labels: pretty print

#488 Distinguish unary from binary
  base/src/main/java/org/aya/concrete/error/OperatorProblem.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/tyck/TracingTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/failure/operator/ambiguous.aya.txt
  base/src/test/resources/failure/operator/cyclic.aya
  base/src/test/resources/failure/operator/cyclic.aya.txt
  base/src/test/resources/failure/operator/self-bind.aya
  base/src/test/resources/failure/operator/self-bind.aya.txt
  base/src/test/resources/failure/patterns/issues/issue681.aya
  base/src/test/resources/failure/syntax/issue165.aya.txt
  base/src/test/resources/success/common/src/Arith/Nat.aya
  base/src/test/resources/success/common/src/Data/List.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/src/Assoc.aya
  base/src/test/resources/success/src/CubicalBasics.aya
  base/src/test/resources/success/src/ImportOpPrecedence.aya
  base/src/test/resources/success/src/Issues/152.aya
  base/src/test/resources/success/src/Issues/289.aya
  base/src/test/resources/success/src/ProtoIssues/726.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  tools/src/main/java/org/aya/util/binop/Assoc.java
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
  tools/src/main/java/org/aya/util/binop/BinOpSet.java
  tools/src/main/java/org/aya/util/binop/OpDecl.java
  tools/src/main/java/org/aya/util/distill/DistillerOptions.java
Labels: binop

#493 Refactor: Separate delta and beta reduction.
  base/src/main/java/org/aya/core/term/CallTerm.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/IntroTerm.java
  base/src/main/java/org/aya/core/term/StableWHNF.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/EndoFunctor.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  build.gradle.kts
Labels: refactoring

#496 Inline with context
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/success/src/Issues/495.aya
Labels: bug, tyck: pattern

#500 Workaround a lsp4j bug
  lsp/src/main/java/org/aya/lsp/server/AyaServer.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
Labels: bug, lsp

#497 Replace cofibration syntax with interval expressions
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/visitor/ExprTraversal.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/core/term/ElimTerm.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/EndoFunctor.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/generic/Cube.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/cubical/PartialTest.java
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/resources/failure/cubical/boundary-disagrees.aya
  base/src/test/resources/failure/cubical/boundary-disagrees.aya.txt
  base/src/test/resources/failure/cubical/dim-mismatch.aya
  base/src/test/resources/failure/cubical/dim-mismatch.aya.txt
  base/src/test/resources/failure/cubical/face-mismatch.aya
  base/src/test/resources/failure/cubical/face-mismatch.aya.txt
  base/src/test/resources/failure/syntax/issue164.aya.txt
  base/src/test/resources/failure/syntax/issue165.aya.txt
  base/src/test/resources/success/src/CubicalBasics.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
Labels: parser, concrete, cubical

#501 Minor changes
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/Tycker.java
  base/src/main/java/org/aya/tyck/order/AyaOrgaTycker.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  tools/src/main/java/module-info.java
  tools/src/main/java/org/aya/util/binop/BinOpSet.java
  tools/src/main/java/org/aya/util/terck/MutableGraph.java
  tools/src/main/java/org/aya/util/tyck/MCT.java
Labels: refactoring

#503 Add `transp` primitive term
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/PrimTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/cubical/PartialTest.java
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/resources/failure/cubical/boundary-disagrees.aya
  base/src/test/resources/failure/cubical/dim-mismatch.aya
  base/src/test/resources/failure/cubical/face-mismatch.aya
  base/src/test/resources/failure/tyck/tele-prim-no-type.aya
  base/src/test/resources/failure/tyck/tele-prim-no-type.aya.txt
  base/src/test/resources/success/common/src/Primitives.aya
  base/src/test/resources/success/src/CubicalBasics.aya
  base/src/test/resources/success/src/ImportOpPrecedence.aya
  base/src/test/resources/success/src/Invol.aya
  base/src/test/resources/success/src/Issues/289.aya
  base/src/test/resources/success/src/Refparo/Model.aya
  lsp/src/test/resources/lsp-test-lib/src/HelloWorld.aya
Labels: primitives, cubical

#498 Introduce `Set` universe WIP
  base/reflect-config.txt
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/core/def/DataDef.java
  base/src/main/java/org/aya/core/def/FnDef.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/def/StructDef.java
  base/src/main/java/org/aya/core/def/TopLevelDef.java
  base/src/main/java/org/aya/core/def/UserDef.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/StableWHNF.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/EndoFunctor.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/LevelError.java
  base/src/main/java/org/aya/tyck/error/SortPiError.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/core/EtaTest.java
  base/src/test/resources/failure/levels/refparo5.aya.txt
  base/src/test/resources/failure/levels/too-high.aya.txt
  base/src/test/resources/failure/syntax/issue164.aya.txt
  base/src/test/resources/literate/standard-test.txt
  base/src/test/resources/literate/test.aya
  base/src/test/resources/success/src/ProtoIssues/726.aya
  base/src/test/resources/success/src/Refparo/Demo.aya
  base/src/test/resources/success/src/Sorts.aya
  base/src/test/resources/success/src/Structs.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  tools/src/main/java/org/aya/util/distill/DistillerOptions.java
Labels: sort system

#511 Fix two bugs
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/resources/success/src/Issues/506.aya
Labels: bug

#512 Cleanup
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/visitor/ExprView.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/test/resources/failure/syntax/issue164.aya.txt
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  buildSrc/src/main/groovy/org/aya/gradle/GenerateReflectionConfigTask.groovy
  cli/src/main/java/org/aya/cli/library/source/DiskLibraryOwner.java
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
Labels: concrete

#513 Cherry-pick from `coe-subst` branch
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/core/term/CallTerm.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/IntroTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/error/CubicalError.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/resources/failure/cubical/dim-mismatch.aya
  base/src/test/resources/failure/cubical/dim-mismatch.aya.txt
Labels: tyck, cubical

#516 Cherry pick 2 from `coe-subst` branch
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
Labels: tyck, cherry-pick, cubical

#523 Say goodbye to `arcoe` and rwc
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/def/FieldDef.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/def/SubLevelDef.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/visitor/DefConsumer.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/MonoidalVarFolder.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/core/NormalizeTest.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/resources/failure/holes/issue420.aya
  base/src/test/resources/failure/holes/issue420.aya.txt
  base/src/test/resources/failure/holes/scope-check.aya
  base/src/test/resources/failure/holes/scope-check.aya.txt
  base/src/test/resources/failure/patterns/issues/issue681.aya
  base/src/test/resources/failure/patterns/issues/issue681.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue352.aya
  base/src/test/resources/failure/patterns/issues2/issue352.aya.txt
  base/src/test/resources/failure/projection/issues2/issue151.aya
  base/src/test/resources/failure/projection/issues2/issue151.aya.txt
  base/src/test/resources/failure/projection/issues2/issue34.aya
  base/src/test/resources/failure/projection/issues2/issue34.aya.txt
  base/src/test/resources/failure/scope/re-prim.aya
  base/src/test/resources/failure/scope/re-prim.aya.txt
  base/src/test/resources/failure/struct/arg-num-mismatch.aya
  base/src/test/resources/failure/struct/arg-num-mismatch.aya.txt
  base/src/test/resources/failure/syntax/literate-unresolved.aya
  base/src/test/resources/failure/syntax/literate-unresolved.aya.txt
  base/src/test/resources/failure/tyck/issues/issue697.aya
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  base/src/test/resources/failure/tyck/unexpected-end.aya
  base/src/test/resources/failure/tyck/unexpected-end.aya.txt
  base/src/test/resources/success/common/src/Arith/Int.aya
  base/src/test/resources/success/common/src/Data/Unit.aya
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Primitives.aya
  base/src/test/resources/success/src/Issues/152.aya
  base/src/test/resources/success/src/Issues/523.aya
  base/src/test/resources/success/src/Refparo/Demo.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  lsp/src/test/resources/lsp-test-lib/src/HelloWorld.aya
  lsp/src/test/resources/lsp-test-lib/src/Path.aya
  lsp/src/test/resources/lsp-test-lib/src/PathPrims.aya
Labels: cleanup

#524 Changelog & plct report generator
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/plct/GsonClasses.java
  cli/src/main/java/org/aya/cli/plct/PLCTReport.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  note/early-changelog.md
Labels: cli

#526 Distiller fix
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/test/java/org/aya/core/DistillerTest.java
Labels: pretty print

#529 Rename `DefEq` to `Unifier`
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/Tycker.java
  base/src/main/java/org/aya/tyck/error/CubicalError.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
Labels: refactoring

#531 Allow empty system
  base/src/test/resources/success/common/src/Paths.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
Labels: parser

#533 Use Java 19
  .github/workflows/gradle-check.yml
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/core/visitor/EndoFunctor.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/terck/Relation.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  build.gradle.kts
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: build, java

#535 ci: really fix for Java 19
  .github/workflows/nightly-build.yml
  build.gradle.kts
Labels: help wanted, build, cursed thread

#540 Use javacs language server
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/deps.properties
  lsp/build.gradle.kts
  lsp/src/main/java/module-info.java
  lsp/src/main/java/org/aya/lsp/LspMain.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeSignature.java
  lsp/src/main/java/org/aya/lsp/actions/FindReferences.java
  lsp/src/main/java/org/aya/lsp/actions/Folding.java
  lsp/src/main/java/org/aya/lsp/actions/GotoDefinition.java
  lsp/src/main/java/org/aya/lsp/actions/InlayHintMaker.java
  lsp/src/main/java/org/aya/lsp/actions/LensMaker.java
  lsp/src/main/java/org/aya/lsp/actions/ProjectSymbol.java
  lsp/src/main/java/org/aya/lsp/actions/Rename.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/models/ComputeTermResult.java
  lsp/src/main/java/org/aya/lsp/models/HighlightResult.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageClient.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  lsp/src/main/java/org/aya/lsp/server/AyaServer.java
  lsp/src/main/java/org/aya/lsp/utils/Log.java
  lsp/src/main/java/org/aya/lsp/utils/LspRange.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
  lsp/src/main/java/org/aya/lsp/utils/XY.java
  lsp/src/main/java/org/aya/lsp/utils/XYXY.java
  lsp/src/test/java/org/aya/lsp/tester/LspTestClient.java
  settings.gradle.kts
Labels: refactoring, lsp, cleanup

#542 Improve inlay-hint info
  base/src/main/java/org/aya/concrete/visitor/PatternTraversal.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/success/common/src/Paths.aya
  lsp/src/test/java/org/aya/lsp/LspTest.java
  lsp/src/test/java/org/aya/lsp/tester/LspTestCompilerAdvisor.java
  lsp/src/test/resources/lsp-test-lib/src/Vec.aya
Labels: tyck: pattern, concrete: pattern

#544 Support explicitly raising errors in reporter
  cli/build.gradle.kts
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  tools/src/main/java/org/aya/util/reporter/CollectingReporter.java
  tools/src/main/java/org/aya/util/reporter/CountingReporter.java
  tools/src/main/java/org/aya/util/reporter/Reporter.java
Labels: bug, error report

#546 Release
  .github/README.md
  gradle/deps.properties
  note/early-changelog.md
Labels: release

#547 Flip `isLeft` to `isOne`
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/PrimTerm.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  gradle/deps.properties
Labels: refactoring

#549 Upgrade upstream LSP to 0.0.5 and simplify code
  buildSrc/build.gradle.kts
  gradle/deps.properties
  lsp/build.gradle.kts
  lsp/src/main/java/org/aya/lsp/LspMain.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageClient.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  lsp/src/test/java/org/aya/lsp/tester/LspTestClient.java
Labels: lsp, cleanup
