Repository aya-prover/aya-dev, pull requests merged in 2022-07, with the labels that each got.

#430 Fix nightly build
  .github/workflows/nightly-build.yml
Labels: build

#431 Slightly refactor for intellij-aya
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/models/HighlightResult.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  lsp/src/main/java/org/aya/lsp/utils/ForIDEA.java
Labels: lsp

#432 Turn LSP into a pure analyzer
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/test/java/org/aya/test/LibraryTest.java
  base/src/test/java/org/aya/test/TestRunner.java
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/library/Timestamp.java
  cli/src/main/java/org/aya/cli/library/incremental/CompilerAdvisor.java
  cli/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  cli/src/main/java/org/aya/cli/library/incremental/InMemoryCompilerAdvisor.java
  cli/src/main/java/org/aya/cli/library/json/LibraryConfigData.java
  cli/src/main/java/org/aya/cli/library/source/LibraryOwner.java
  cli/src/main/java/org/aya/cli/library/source/LibrarySource.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  lsp/build.gradle.kts
  lsp/src/main/java/module-info.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeTerm.java
  lsp/src/main/java/org/aya/lsp/library/WsLibrary.java
  lsp/src/main/java/org/aya/lsp/prim/LspPrimFactory.java
  lsp/src/main/java/org/aya/lsp/server/AyaServer.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  lsp/src/test/java/org/aya/lsp/LspTest.java
  lsp/src/test/java/org/aya/lsp/tester/LspTestClient.java
  lsp/src/test/java/org/aya/lsp/tester/LspTestCompilerAdvisor.java
  lsp/src/test/java/org/aya/lsp/tester/TestCommand.java
  lsp/src/test/resources/lsp-test-lib/aya.json
  lsp/src/test/resources/lsp-test-lib/src/HelloWorld.aya
  lsp/src/test/resources/lsp-test-lib/src/Nat.aya
  lsp/src/test/resources/lsp-test-lib/src/Path.aya
  lsp/src/test/resources/lsp-test-lib/src/PathPrims.aya
  lsp/src/test/resources/lsp-test-lib/src/StringPrims.aya
Labels: lsp, library

#434 Upgrade kala to 0.44.0 and make some LSP APIs public
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/stmt/BindBlock.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/term/RefTerm.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/terck/CallGraph.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTree.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli/src/main/java/org/aya/cli/library/source/LibrarySource.java
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/repl/ReplContext.java
  cli/src/main/java/org/aya/cli/repl/ReplShapeFactory.java
  cli/src/main/java/org/aya/cli/utils/RepoLike.java
  gradle/deps.properties
  lsp/src/main/java/org/aya/lsp/actions/ComputeTerm.java
  lsp/src/main/java/org/aya/lsp/actions/FindReferences.java
  lsp/src/main/java/org/aya/lsp/actions/Folding.java
  lsp/src/main/java/org/aya/lsp/actions/InlayHintMaker.java
  lsp/src/main/java/org/aya/lsp/actions/LensMaker.java
  lsp/src/main/java/org/aya/lsp/actions/ProjectSymbol.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/models/HighlightResult.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  lsp/src/main/java/org/aya/lsp/utils/ForIDEA.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
  pretty/src/main/java/org/aya/pretty/error/PrettyError.java
Labels: build

#435 Rework publishing and versioning
  .github/workflows/gradle-check.yml
  .github/workflows/nightly-build.yml
  build.gradle.kts
  gradle/deps.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: build

#436 Rename me in copyright
  .idea/copyright/TIZ.xml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/org/aya/gradle/GenerateLexerTokenTask.groovy
  buildSrc/src/main/groovy/org/aya/gradle/GenerateVersionTask.groovy
  buildSrc/src/main/java/org/aya/gradle/StripPreview.java
  gradle/deps.properties
Labels: build

#438 Put bind patterns in separate leaf nodes
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/test/resources/failure/patterns/confl-literal.aya.txt
  base/src/test/resources/failure/patterns/confl-literal2.aya.txt
Labels: test fixtures

#439 Fix primitive reload and polish some error messages
  base/build.gradle.kts
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/test/java/org/aya/test/LibraryTest.java
  base/src/test/resources/failure/counterexamples/not-counterexample.aya.txt
  cli/src/main/java/org/aya/cli/library/ImportResolver.java
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/incremental/CompilerAdvisor.java
  cli/src/main/java/org/aya/cli/library/incremental/DelegateCompilerAdvisor.java
  cli/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  cli/src/main/java/org/aya/cli/library/incremental/InMemoryCompilerAdvisor.java
  cli/src/main/java/org/aya/cli/library/source/LibrarySource.java
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageClient.java
  lsp/src/main/java/org/aya/lsp/server/AyaServer.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  lsp/src/main/java/org/aya/lsp/utils/Log.java
  lsp/src/test/java/org/aya/lsp/tester/LspTestClient.java
  lsp/src/test/java/org/aya/lsp/tester/LspTestCompilerAdvisor.java
  lsp/src/test/resources/lsp-test-lib/src/HelloWorld.aya
  lsp/src/test/resources/lsp-test-lib/src/PathPrims.aya
Labels: error report, performance
