Repository aya-prover/aya-dev, pull requests merged in 2022-12, with the labels that each got.

#760 Fix jlink
  lsp/build.gradle.kts
Labels: build

#761 Fix #595
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/visitor/EndoPattern.java
  base/src/main/java/org/aya/concrete/visitor/StmtFolder.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/pat/PatTree.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/concrete/DistillerTest.java
  base/src/test/java/org/aya/literate/AyaMdParserTest.java
  base/src/test/resources/failure/syntax/implicit-element-list-pattern.aya.txt
  base/src/test/resources/failure/syntax/source-pos-of-as.aya
  base/src/test/resources/failure/syntax/source-pos-of-as.aya.txt
  base/src/test/resources/literate/as.aya.md
  base/src/test/resources/success/src/AsPattern.aya
  base/src/test/resources/success/src/Issues/595.aya
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: bug, concrete: pattern

#769 Fix some random bugs
  base/build.gradle.kts
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/test/java/org/aya/literate/AyaMdParserTest.java
  base/src/test/resources/literate/hoshino-said.aya.md
  cli/src/main/java/org/aya/cli/literate/AyaMdParser.java
  cli/src/main/java/org/aya/cli/single/SingleAyaFile.java
  tools/src/main/java/org/aya/util/error/SourceFile.java
Labels: bug, test fixtures

#771 Fix Highlighting of the Param of Lambdas
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
Labels: bug, literate

#772 Escape backslash
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
Labels: bug

#774 Cleanup, more about ordinals
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/MetaPatTerm.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/PatTraversal.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/core/visitor/Zonker.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/env/MapLocalCtx.java
  base/src/main/java/org/aya/tyck/env/SeqLocalCtx.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/tyck/PatCCTest.java
  base/src/test/resources/failure/patterns/issues/issue355.aya
  base/src/test/resources/failure/patterns/issues/issue355.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue352.aya.txt
  base/src/test/resources/failure/patterns/unexpected-end-pat.aya
  base/src/test/resources/failure/patterns/unexpected-end-pat.aya.txt
  base/src/test/resources/success/common/src/Arith/Ordinal.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Relation/Formula.aya
  base/src/test/resources/success/common/src/Sets/Ordinal.aya
Labels: tyck, tyck: pattern, library

#763 Fix a serious termination check bug
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/test/resources/success/src/FoetusLimitation.aya
  base/src/test/resources/success/src/Mutual.aya
  base/src/test/resources/success/src/Termination.aya
Labels: terck

#777 Update Folder in the concrete layer.
  base/src/main/java/org/aya/concrete/visitor/ExprFolder.java
  base/src/main/java/org/aya/concrete/visitor/PatternFolder.java
  base/src/main/java/org/aya/concrete/visitor/StmtFolder.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: refactoring

#778 Improve literate renderer for vitepress
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/ref/DefVar.java
  base/src/test/resources/failure/syntax/literate-ill-typed.aya.banned
  base/src/test/resources/failure/syntax/literate-ill-typed.aya.txt
  base/src/test/resources/failure/syntax/literate-unresolved.aya.banned
  base/src/test/resources/failure/syntax/literate-unresolved.aya.txt
  cli/src/main/java/org/aya/cli/literate/HighlightInfo.java
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli/src/test/java/org/aya/cli/HighlighterTester.java
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/md/DocMdPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/LinkId.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/test/java/org/aya/pretty/HtmlStyleTest.java
  pretty/src/test/java/org/aya/pretty/MdStyleTest.java
Labels: literate

#779 FreezeHoles and check type in `doTy`
  base/src/main/java/org/aya/tyck/ExprTycker.java
Labels: tyck

#782 Maybe a Fix
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/visitor/ExprFolder.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/Codifier.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/literate/AyaMdParserTest.java
  base/src/test/resources/literate/syntax.aya.md
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
Labels: pretty print

#786 Properly escape css selectors
  base/src/main/java/org/aya/concrete/remark/Literate.java
  cli/src/main/java/org/aya/cli/literate/LiterateConsumer.java
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
Labels: pretty print, literate

#787 Fold with types
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/visitor/ExprFolder.java
  base/src/main/java/org/aya/concrete/visitor/PatternFolder.java
  base/src/main/java/org/aya/concrete/visitor/StmtFolder.java
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeSignature.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: concrete, refactoring

#788 Release
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/visitor/ExprFolder.java
  base/src/main/java/org/aya/concrete/visitor/StmtFolder.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/resources/success/src/GlueProto.aya
  gradle/deps.properties
  note/early-changelog.md
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
Labels: release

#791 Some decoupling
  base/src/main/java/org/aya/terck/BadRecursion.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/java/org/aya/terck/RelationTest.java
  ide/build.gradle.kts
  ide/src/main/java/module-info.java
  ide/src/main/java/org/aya/ide/Resolver.java
  ide/src/main/java/org/aya/ide/action/ComputeSignature.java
  ide/src/main/java/org/aya/ide/action/ComputeTerm.java
  ide/src/main/java/org/aya/ide/action/FindReferences.java
  ide/src/main/java/org/aya/ide/action/GotoDefinition.java
  ide/src/main/java/org/aya/ide/syntax/SyntaxDeclAction.java
  ide/src/main/java/org/aya/ide/syntax/SyntaxNodeAction.java
  ide/src/main/java/org/aya/ide/util/ModuleVar.java
  ide/src/main/java/org/aya/ide/util/XY.java
  ide/src/main/java/org/aya/ide/util/XYXY.java
  lsp/build.gradle.kts
  lsp/src/main/java/module-info.java
  lsp/src/main/java/org/aya/lsp/actions/Folding.java
  lsp/src/main/java/org/aya/lsp/actions/InlayHintMaker.java
  lsp/src/main/java/org/aya/lsp/actions/LensMaker.java
  lsp/src/main/java/org/aya/lsp/actions/ProjectSymbol.java
  lsp/src/main/java/org/aya/lsp/actions/Rename.java
  lsp/src/main/java/org/aya/lsp/actions/SemanticHighlight.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  lsp/src/main/java/org/aya/lsp/utils/LspRange.java
  lsp/src/test/java/org/aya/lsp/tester/LspTestClient.java
  settings.gradle.kts
  tools/src/main/java/org/aya/util/terck/CallGraph.java
  tools/src/main/java/org/aya/util/terck/CallMatrix.java
  tools/src/main/java/org/aya/util/terck/Diagonal.java
  tools/src/main/java/org/aya/util/terck/Relation.java
  tools/src/main/java/org/aya/util/terck/Selector.java
Labels: refactoring

#792 Refactor + implement binary path
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/PAppTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/Codifier.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  base/src/test/resources/literate/hoshino-said.aya.md
Labels: pretty print, cubical

#793 Fix pretty print
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
Labels: pretty print, cleanup

#797 Use html "class" attribute to set code style
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/literate/AyaMdParser.java
  cli/src/main/java/org/aya/cli/literate/FaithfulDistiller.java
  cli/src/main/java/org/aya/cli/literate/HighlightInfo.java
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli/src/main/java/org/aya/cli/render/RenderOptions.java
  cli/src/main/java/org/aya/cli/render/vscode/ColorTheme.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli/src/main/java/org/aya/cli/single/CompilerFlags.java
  cli/src/main/java/org/aya/cli/single/SingleAyaFile.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  cli/src/test/java/org/aya/cli/HighlighterTester.java
  cli/src/test/java/org/aya/cli/RenderOptionsTest.java
  cli/src/test/java/org/aya/cli/VscColorThemeTest.java
  ide/src/main/java/org/aya/ide/Resolver.java
  lsp/build.gradle.kts
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/html/Html5Stylist.java
  pretty/src/main/java/org/aya/pretty/backend/html/HtmlConstants.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/md/DocMdPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/ClosingStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinterConfig.java
  pretty/src/main/java/org/aya/pretty/backend/terminal/AdaptiveCliStylist.java
  pretty/src/main/java/org/aya/pretty/backend/terminal/DocTermPrinter.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/main/java/org/aya/pretty/doc/Link.java
  pretty/src/main/java/org/aya/pretty/printer/PrinterConfig.java
  pretty/src/main/java/org/aya/pretty/printer/Stylist.java
  pretty/src/main/java/org/aya/pretty/style/AyaColorScheme.java
  pretty/src/main/java/org/aya/pretty/style/AyaStyleFamily.java
  pretty/src/main/java/org/aya/pretty/style/AyaStyleKey.java
  pretty/src/test/java/org/aya/pretty/HtmlStyleTest.java
  pretty/src/test/java/org/aya/pretty/MdStyleTest.java
Labels: pretty print

#798 Bullet/Ordered List
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/html/Html5Stylist.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/latex/TeXStylist.java
  pretty/src/main/java/org/aya/pretty/backend/md/DocMdPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/md/MdStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/ClosingStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/DebugStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringStylist.java
  pretty/src/main/java/org/aya/pretty/backend/terminal/DocTermPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/terminal/UnixTermStylist.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/test/java/org/aya/pretty/DocStringPrinterTest.java
  pretty/src/test/java/org/aya/pretty/HtmlStyleTest.java
  pretty/src/test/java/org/aya/pretty/MdStyleTest.java
Labels: feature, pretty print

#800 fix(repl): allow prim redefinition in repl
  base/src/main/java/org/aya/core/def/PrimDef.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
Labels: repl

#799 fix(pattern): add check for absurd patterns
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/test/resources/failure/patterns/issues2/issue775.aya
  base/src/test/resources/failure/patterns/issues2/issue775.aya.txt
  base/src/test/resources/success/src/Match.aya
Labels: tyck: pattern

#802 Support ctor return type
  base/src/main/java/org/aya/concrete/stmt/ClassDecl.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/term/PartialTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/CubicalError.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/resources/failure/cubical/path-constructor-full.aya
  base/src/test/resources/failure/cubical/path-constructor-full.aya.txt
  base/src/test/resources/failure/cubical/path-constructor-return-type.aya
  base/src/test/resources/failure/cubical/path-constructor-return-type.aya.txt
  base/src/test/resources/success/common/src/Data/FiniteMultiSet.aya
  base/src/test/resources/success/common/src/Data/FiniteMultiSet/Core.aya
  base/src/test/resources/success/common/src/Data/List/Core.aya
  base/src/test/resources/success/common/src/Logic/False.aya
  base/src/test/resources/success/common/src/Logic/HLevels.aya
  base/src/test/resources/success/common/src/Logic/PropTrunc.aya
  base/src/test/resources/success/common/src/Logic/SetTrunc.aya
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Relation/Order.aya
  base/src/test/resources/success/common/src/Spaces/Segment.aya
  base/src/test/resources/success/common/src/Spaces/SetTrunc.aya
  base/src/test/resources/success/common/src/Spaces/Sphere/S1/Core.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T2-HoTT.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T2.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T3.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: hits

#803 Just use markdown list for plain text backend
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/md/DocMdPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/Cursor.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/test/java/org/aya/pretty/DocStringPrinterTest.java
  pretty/src/test/java/org/aya/pretty/HtmlStyleTest.java
  pretty/src/test/java/org/aya/pretty/MdStyleTest.java
Labels: pretty print

#804 Unification of many things
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/term/PartialTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/TermFolder.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/core/UsagesTest.java
  base/src/test/resources/success/common/src/Data/FiniteMultiSet/Core.aya
  ide/src/main/java/org/aya/ide/action/ComputeSignature.java
Labels: resolving

#807 Simplify: Forall
  base/src/test/resources/success/src/Forall.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser, syntax design

#811 Fix unification bugs
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/def/DataDef.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/term/PartialTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/env/MapLocalCtx.java
  base/src/main/java/org/aya/tyck/env/SeqLocalCtx.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/failure/patterns/confl-literal2.aya.txt
  base/src/test/resources/failure/patterns/issues/issue302.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya.txt
  base/src/test/resources/success/common/src/Arith/Int.aya
  base/src/test/resources/success/common/src/Data/FiniteMultiSet/Core.aya
  base/src/test/resources/success/common/src/Spaces/Join/Core.aya
  base/src/test/resources/success/common/src/Spaces/Susp/Core.aya
  base/src/test/resources/success/src/AsPattern.aya
  base/src/test/resources/success/src/Issues/595.aya
  base/src/test/resources/success/src/Termination.aya
Labels: conversion check

#812 Arg<Pat>
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/ops/Eta.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/MatchTerm.java
  base/src/main/java/org/aya/core/term/ProjTerm.java
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/term/TupTerm.java
  base/src/main/java/org/aya/core/visitor/DefConsumer.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/PatTraversal.java
  base/src/main/java/org/aya/distill/Codifier.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/core/EtaTest.java
  tools/src/main/java/org/aya/util/Arg.java
Labels: refactoring, core: pattern

#814 Initial support for markdown lists
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/test/java/org/aya/experiments/CommonMarkTest.java
  base/src/test/resources/literate/hoshino-said.aya.md
  cli/src/main/java/org/aya/cli/literate/AyaMdParser.java
Labels: pretty print

#815 Fix literate bugs
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/remark/LiterateConsumer.java
  cli/src/main/java/org/aya/cli/literate/AyaMdParser.java
  cli/src/main/java/org/aya/cli/literate/HighlightsCollector.java
  cli/src/main/java/org/aya/cli/single/SingleAyaFile.java
Labels: literate

#817 Improve literate backend again
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/ref/GenerateKind.java
  base/src/main/java/org/aya/ref/LocalVar.java
  base/src/main/java/org/aya/tyck/error/FieldError.java
  cli/src/main/java/org/aya/cli/literate/FaithfulDistiller.java
  pretty/src/main/java/org/aya/pretty/backend/html/HtmlConstants.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/main/java/org/aya/pretty/doc/Styles.java
  pretty/src/main/java/org/aya/pretty/style/AyaStyleFamily.java
  pretty/src/main/java/org/aya/pretty/style/AyaStyleKey.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: pretty print

#818 Improve literate backend for vuepress
  cli/src/main/java/org/aya/cli/literate/AyaMdParser.java
  pretty/src/main/java/org/aya/pretty/backend/md/DocMdPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/md/MdStyle.java
  pretty/src/main/java/org/aya/pretty/backend/md/MdStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/test/java/org/aya/pretty/DocStringPrinterTest.java
  pretty/src/test/java/org/aya/pretty/MdStyleTest.java
Labels: literate

#819 More markdown elements
  base/src/main/java/org/aya/concrete/remark/CodeAttrProcessor.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/test/resources/literate/hoshino-said.aya.md
  cli/src/main/java/org/aya/cli/literate/AyaMdParser.java
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/md/DocMdPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
Labels: literate

#822 nativeimg: update reflect-config
  base/reflect-config.txt
Labels: native

#826 Implement cubical subtype
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/AppTerm.java
  base/src/main/java/org/aya/core/term/DataCall.java
  base/src/main/java/org/aya/core/term/Formation.java
  base/src/main/java/org/aya/core/term/HCompTerm.java
  base/src/main/java/org/aya/core/term/InOutTerm.java
  base/src/main/java/org/aya/core/term/IntervalTerm.java
  base/src/main/java/org/aya/core/term/PartialTerm.java
  base/src/main/java/org/aya/core/term/PartialTyTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/PrimCall.java
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/core/term/SortTerm.java
  base/src/main/java/org/aya/core/term/StructCall.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/AyaRestrSimplifier.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Primitives.aya
  base/src/test/resources/success/src/CubicalSubtype.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: cubical

#831 Change log & use `StringView`
  base/src/main/java/org/aya/prettier/BasePrettier.java
  buildSrc/src/main/groovy/org/aya/gradle/GenerateReflectionConfigTask.groovy
  cli/src/main/java/org/aya/cli/literate/FaithfulPrettier.java
  cli/src/main/java/org/aya/cli/literate/FillCodeBlock.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/render/Color.java
  gradle/deps.properties
  note/early-changelog.md
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: release, deps: kala

#835 Checksums
  .github/workflows/nightly-build.yml
Labels: build

#837 Improve unify error reports: add `UnifyInfo`
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/CubicalError.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
  base/src/main/java/org/aya/tyck/error/UnifyInfo.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
Labels: refactoring

#836 Fix Using
  base/src/main/java/org/aya/concrete/stmt/UseHide.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/resolve/context/BindContext.java
  base/src/main/java/org/aya/resolve/context/Context.java
  base/src/main/java/org/aya/resolve/context/EmptyContext.java
  base/src/main/java/org/aya/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/resolve/context/ModuleExport.java
  base/src/main/java/org/aya/resolve/context/NoExportContext.java
  base/src/main/java/org/aya/resolve/context/PhysicalModuleContext.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/test/resources/failure/syntax/bad-hide.aya
  base/src/test/resources/failure/syntax/bad-hide.aya.txt
  base/src/test/resources/failure/syntax/bad-use-as.aya
  base/src/test/resources/failure/syntax/bad-use-as.aya.txt
  base/src/test/resources/failure/syntax/bad-use.aya
  base/src/test/resources/failure/syntax/bad-use.aya.txt
  base/src/test/resources/success/src/UseHide.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/repl/ReplContext.java
Labels: bug

#840 Try to fix graalvm error caused by `Tuple2`
  base/src/main/java/org/aya/concrete/stmt/UseHide.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/resolve/context/ModuleExport.java
Labels: bug

#841 A great crusade against error reporting and `ExprTycker` code reorganization
  base/reflect-config.txt
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/core/Meta.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/core/visitor/Zonker.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/Result.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/Tycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/main/java/org/aya/tyck/error/CubicalError.java
  base/src/main/java/org/aya/tyck/error/Goal.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
  base/src/main/java/org/aya/tyck/error/UnifyInfo.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/TypedSubst.java
  base/src/main/java/org/aya/tyck/trace/Trace.java
  base/src/main/java/org/aya/tyck/tycker/MockedTycker.java
  base/src/main/java/org/aya/tyck/tycker/PropTycker.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/main/java/org/aya/tyck/tycker/TracedTycker.java
  base/src/main/java/org/aya/tyck/tycker/TyckState.java
  base/src/main/java/org/aya/tyck/tycker/UnifiedTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/java/org/aya/core/NormalizeTest.java
  base/src/test/java/org/aya/experiments/NormalizeHugeChurch.java
  base/src/test/java/org/aya/tyck/PatCCTest.java
  base/src/test/resources/failure/patterns/confl-literal.aya.txt
  base/src/test/resources/failure/patterns/confl-literal2.aya.txt
  base/src/test/resources/failure/patterns/confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue302.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya.txt
  base/src/test/resources/failure/patterns/issues/issue366.aya.txt
  base/src/test/resources/failure/patterns/literal-conf.aya.txt
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  ide/src/main/java/org/aya/ide/action/ComputeTerm.java
Labels: refactoring

#843 Random improvements listed in the description
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/main/java/org/aya/tyck/tycker/UnifiedTycker.java
  base/src/test/java/org/aya/test/TestRunner.java
  base/src/test/resources/failure/patterns/confl-literal.aya.txt
  base/src/test/resources/failure/patterns/confl-literal2.aya.txt
  base/src/test/resources/failure/patterns/confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue302.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya.txt
  base/src/test/resources/failure/patterns/issues/issue366.aya.txt
  base/src/test/resources/failure/patterns/literal-conf.aya.txt
  base/src/test/resources/failure/tyck/lam-param-type-mismatch.aya.txt
  base/src/test/resources/success/common/src/Logic/PropTrunc.aya
Labels: refactoring, library

#844 Cherry-pick from an ongoing refactoring
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/BadExprError.java
  base/src/test/resources/failure/tyck/want-but-no.aya.txt
Labels: refactoring, cherry-pick

#848 tyck: add positivity check
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/PositivityError.java
  base/src/test/resources/failure/tyck/positivity.aya
  base/src/test/resources/failure/tyck/positivity.aya.txt
Labels: positivity

#845 No more `private public open`
  base/src/main/java/org/aya/concrete/stmt/UseHide.java
  base/src/main/java/org/aya/resolve/context/ModuleExport.java
  base/src/test/java/org/aya/concrete/DesugarTest.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/concrete/PrettierTest.java
  base/src/test/resources/failure/counterexamples/not-counterexample.aya.txt
  base/src/test/resources/failure/operator/ambiguous.aya
  base/src/test/resources/failure/scope/did-you-mean-disamb.aya.txt
  base/src/test/resources/failure/syntax/bad-modifier.aya
  base/src/test/resources/failure/syntax/bad-modifier.aya.txt
  base/src/test/resources/failure/syntax/private-open-private-data.aya
  base/src/test/resources/failure/syntax/private-open-private-data.aya.txt
  base/src/test/resources/failure/syntax/private-open-private-data2.aya
  base/src/test/resources/failure/syntax/private-open-private-data2.aya.txt
  base/src/test/resources/success/common/src/Arith/Bool.aya
  base/src/test/resources/success/common/src/Arith/Fin/Core.aya
  base/src/test/resources/success/common/src/Arith/Int.aya
  base/src/test/resources/success/common/src/Arith/Nat/Core.aya
  base/src/test/resources/success/common/src/Data/FiniteMultiSet/Core.aya
  base/src/test/resources/success/common/src/Data/List/Core.aya
  base/src/test/resources/success/common/src/Data/Tree/RedBlack/Base.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Logic/Dec.aya
  base/src/test/resources/success/common/src/Sets/Unit.aya
  base/src/test/resources/success/common/src/Spaces/Join/Core.aya
  base/src/test/resources/success/common/src/Spaces/Segment.aya
  base/src/test/resources/success/common/src/Spaces/Sphere/S1/Core.aya
  base/src/test/resources/success/common/src/Spaces/Sphere/S2/Core.aya
  base/src/test/resources/success/common/src/Spaces/Susp/Core.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T2-HoTT.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T2.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T3.aya
  base/src/test/resources/success/nonsense/src/Nonsense/Test.aya
  base/src/test/resources/success/src/Examples.aya
  base/src/test/resources/success/src/Issues/337.aya
  base/src/test/resources/success/src/Match.aya
  base/src/test/resources/success/src/Refparo/Demo.aya
  base/src/test/resources/success/src/Refparo/Model.aya
  base/src/test/resources/success/src/Sorts.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/parse/ModifierParser.java
  cli/src/main/java/org/aya/cli/parse/error/ContradictModifierError.java
  cli/src/main/java/org/aya/cli/parse/error/DuplicatedModifierWarn.java
  cli/src/main/java/org/aya/cli/parse/error/NotSuitableModifierWarn.java
  cli/src/test/java/org/aya/cli/ReplCompilerTest.java
  lsp/src/test/resources/lsp-test-lib/src/Nat.aya
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: syntax design

#855 Clean TODOs
  base/src/main/java/org/aya/core/visitor/PatTraversal.java
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/main/java/org/aya/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/resolve/context/ModuleExport.java
  base/src/main/java/org/aya/tyck/pat/TypedSubst.java
  base/src/test/java/org/aya/literate/AyaMdParserTest.java
  base/src/test/java/org/aya/literate/FaithfulPrettierTest.java
  cli/src/main/java/org/aya/cli/literate/FaithfulPrettier.java
  cli/src/main/java/org/aya/cli/literate/HighlightsCollector.java
  cli/src/main/java/org/aya/cli/repl/ReplContext.java
  cli/src/main/java/org/aya/cli/single/SingleAyaFile.java
Labels: cleanup

#856 Add `isType` to meta
  base/src/main/java/org/aya/core/Meta.java
  base/src/main/java/org/aya/core/term/MetaTerm.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/tycker/MockedTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
Labels: meta variables, refactoring

#858 Untyped lambdas, make `TermComparator` extend `StatedTycker`
  base/src/main/java/org/aya/core/UntypedParam.java
  base/src/main/java/org/aya/core/def/DataDef.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/CoeTerm.java
  base/src/main/java/org/aya/core/term/LamTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/prettier/Codifier.java
  base/src/main/java/org/aya/prettier/CorePrettier.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/Result.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/tycker/ConcreteAwareTycker.java
  base/src/main/java/org/aya/tyck/tycker/MockedTycker.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/main/java/org/aya/tyck/tycker/UnifiedTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/java/org/aya/core/EtaTest.java
  base/src/test/java/org/aya/core/PrettierTest.java
Labels: core: lambda

#860 README update & fix module name
  .github/README.md
  lsp/src/main/shell/aya-lsp.bat
  lsp/src/main/shell/aya-lsp.sh
Labels: documentation, build

#862 Implement conversion for `inS`/`outS`, without yet solving ZYF's problem
  base/src/main/java/org/aya/core/term/InOutTerm.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/success/src/CubicalSubtype.aya
Labels: cubical

#865 Implement type-directed reduction for `outS`
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/Elimination.java
  base/src/main/java/org/aya/core/term/InOutTerm.java
  base/src/main/java/org/aya/core/term/InTerm.java
  base/src/main/java/org/aya/core/term/OutTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/prettier/CorePrettier.java
  base/src/main/java/org/aya/tyck/Synthesizer.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/success/src/Issues/861.aya
Labels: cubical

#864 Simply Refactor PatTycker
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/pat/TypedSubst.java
Labels: refactoring
