Repository aya-prover/aya-dev, pull requests merged in 2022-11, with the labels that each got.

#621 Issue 620
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/success/src/Issues/620.aya
Labels: tyck: pattern

#623 No more useless subst
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/TypedSubst.java
Labels: tyck: pattern, performance

#624 Codifier: a new tool for writing helper functions internally
  base/src/main/java/org/aya/distill/Codifier.java
  cli/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/repl/ReplConfig.java
  cli/src/test/java/org/aya/cli/CodifierTest.java
  cli/src/test/java/org/aya/cli/PlainReplTest.java
  cli/src/test/java/org/aya/cli/ReplTestBase.java
Labels: developer experience, repl

#545 Match expression
  base/reflect-config.txt
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/visitor/EndoExpr.java
  base/src/main/java/org/aya/concrete/visitor/ExprConsumer.java
  base/src/main/java/org/aya/concrete/visitor/ExprTraversal.java
  base/src/main/java/org/aya/concrete/visitor/PatternConsumer.java
  base/src/main/java/org/aya/concrete/visitor/PatternTraversal.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtFolder.java
  base/src/main/java/org/aya/core/Matching.java
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/def/FnDef.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/ElimTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/DefConsumer.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/core/visitor/MonoidalVarFolder.java
  base/src/main/java/org/aya/core/visitor/TermFolder.java
  base/src/main/java/org/aya/core/visitor/Zonker.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/Arg.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/core/UsagesTest.java
  base/src/test/resources/success/common/src/Data/RedBlack.aya
  base/src/test/resources/success/src/Match.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  lsp/src/main/java/org/aya/lsp/actions/FindReferences.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: tyck, tyck: match

#628 Don't normalize too early
  base/src/main/java/org/aya/core/pat/PatMatcher.java
Labels: core: pattern

#630 Pat.Meta in Pat.Meta
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/visitor/PatTraversal.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/failure/holes/no-more-var.aya
  base/src/test/resources/failure/holes/no-more-var.aya.txt
  base/src/test/resources/success/src/MetaInMeta.aya
Labels: tyck: pattern

#629 Implement Prop pattern matching tyck
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/test/resources/failure/tyck/erased2.aya
  base/src/test/resources/failure/tyck/erased2.aya.txt
Labels: prop

#633 Disallow using `coe` as function
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/resolve/error/PrimResolveError.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/test/java/org/aya/core/NormalizeTest.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/resources/failure/syntax/bad-prim-usage.aya
  base/src/test/resources/failure/syntax/bad-prim-usage.aya.txt
  base/src/test/resources/failure/syntax/literate-unresolved.aya
  base/src/test/resources/failure/syntax/literate-unresolved.aya.txt
  base/src/test/resources/failure/tyck/issues/issue697.aya
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/src/Refparo/Model.aya
Labels: cubical

#634 Allowing Implicit Argument in List Ctor
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/core/repr/AyaShape.java
  base/src/main/java/org/aya/core/repr/CodeShape.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/test/java/org/aya/repr/ShapeMatcherTest.java
  base/src/test/resources/failure/syntax/implicit-element-list-pattern.aya
  base/src/test/resources/failure/syntax/implicit-element-list-pattern.aya.txt
  base/src/test/resources/success/src/List2.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
Labels: tyck: pattern, literal

#635 Constant check for `coeFill`, `coeInv` and `coeInvFill`
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/term/CoeTerm.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Primitives.aya
  base/src/test/resources/success/src/CubicalBasics.aya
  base/src/test/resources/success/src/Refparo/Demo.aya
Labels: primitives, cubical

#642 `Pattern` -> `Arg<Pattern>`
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/concrete/visitor/ExprTraversal.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtFolder.java
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/term/IntegerTerm.java
  base/src/main/java/org/aya/core/term/ListTerm.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTree.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/resources/failure/patterns/too-many-implicit.aya.txt
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  lsp/src/test/java/org/aya/lsp/LspTest.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: refactoring

#643 Delete `PatElem`
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/concrete/visitor/ExprTraversal.java
  base/src/main/java/org/aya/core/Meta.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/ops/Eta.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/AppTerm.java
  base/src/main/java/org/aya/core/term/Callable.java
  base/src/main/java/org/aya/core/term/CoeTerm.java
  base/src/main/java/org/aya/core/term/ConCall.java
  base/src/main/java/org/aya/core/term/DataCall.java
  base/src/main/java/org/aya/core/term/FieldTerm.java
  base/src/main/java/org/aya/core/term/FnCall.java
  base/src/main/java/org/aya/core/term/IntegerTerm.java
  base/src/main/java/org/aya/core/term/ListTerm.java
  base/src/main/java/org/aya/core/term/MetaTerm.java
  base/src/main/java/org/aya/core/term/PAppTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/PrimCall.java
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/core/term/StructCall.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/Codifier.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/Arg.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/error/LicitError.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTree.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/core/EtaTest.java
  base/src/test/resources/failure/patterns/too-many-implicit.aya.txt
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/grammar/AyaPsiParser.bnf
  tools/src/main/java/org/aya/util/Arg.java
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
Labels: refactoring, cleanup

#640 sort: use single record instead of interface
  base/reflect-config.txt
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/core/def/DataDef.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/def/StructDef.java
  base/src/main/java/org/aya/core/def/UserDef.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/FormTerm.java
  base/src/main/java/org/aya/core/term/PartialTyTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/core/term/SortTerm.java
  base/src/main/java/org/aya/core/term/StableWHNF.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/Codifier.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/LevelError.java
  base/src/main/java/org/aya/tyck/error/SortPiError.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/core/EtaTest.java
  base/src/test/java/org/aya/cubical/PathTest.java
  tools/src/main/java/org/aya/util/Arg.java
Labels: sort system

#644 Trivial
  base/src/main/java/org/aya/core/Meta.java
  base/src/main/java/org/aya/core/term/AppTerm.java
  base/src/main/java/org/aya/core/term/MetaTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
Labels: cleanup

#647 Define `coeSigma4` and `coeSigma5`, upgrade guest with a smol optimization
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/term/CoeTerm.java
  base/src/main/java/org/aya/core/term/PartialTyTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/AyaRestrSimplifier.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/success/src/CubicalBasics.aya
  gradle/deps.properties
Labels: refactoring, library, cubical

#641 Overhaul literal infrastructure
  base/reflect-config.txt
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/repr/AyaShape.java
  base/src/main/java/org/aya/core/repr/CodeShape.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/repr/ShapeRecognition.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/IntegerTerm.java
  base/src/main/java/org/aya/core/term/ListTerm.java
  base/src/main/java/org/aya/core/term/MetaLitTerm.java
  base/src/main/java/org/aya/core/term/StableWHNF.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/Zonker.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/error/LiteralError.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/repr/ShapeMatcherTest.java
  base/src/test/resources/failure/tyck/literal-ambiguous-1.aya.txt
  base/src/test/resources/failure/tyck/literal-ambiguous-2.aya.txt
  base/src/test/resources/failure/tyck/literal-ambiguous-3.aya
  base/src/test/resources/failure/tyck/literal-ambiguous-3.aya.txt
  cli/src/main/java/org/aya/cli/repl/ReplShapeFactory.java
Labels: literal

#648 Allow connected ↑
  base/src/test/java/org/aya/concrete/ParseTest.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/grammar/AyaPsiLexer.flex
Labels: mcbride universe

#649 Sigma transport
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/success/src/CubicalBasics.aya
Labels: cubical

#650 NXJASbhjasbxjhsbxhjasbxhjasbxjas
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/SortTerm.java
  base/src/main/java/org/aya/generic/SortKind.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
Labels: refactoring

#652 Fix some LSP bugs
  gradle/deps.properties
  tools/src/main/java/org/aya/util/Version.java
Labels: bug, lsp

#653 Add some cli options
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/literate/LiterateTest.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/library/incremental/CompilerAdvisor.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/parse/AyaParserImpl.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/repl/ReplConfig.java
  cli/src/main/java/org/aya/cli/single/CompilerFlags.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  cli/src/test/java/org/aya/cli/RenderOptionsTest.java
  cli/src/test/java/org/aya/cli/ReplParserTest.java
  gradle/deps.properties
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  tools-repl/src/main/java/org/aya/repl/CommandManager.java
  tools-repl/src/main/java/org/aya/repl/ReplCompleters.java
Labels: cli

#654 Release v0.23
  base/src/main/java/org/aya/distill/BaseDistiller.java
  build.gradle.kts
  gradle/deps.properties
  note/early-changelog.md
Labels: release

#655 Fix some code
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/term/ConCall.java
  base/src/main/java/org/aya/core/term/IntegerTerm.java
  base/src/main/java/org/aya/core/term/ListTerm.java
  base/src/main/java/org/aya/core/term/MatchTerm.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/PatTraversal.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/literate/LiterateTest.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/repl/render/RenderOptionsObject.java
  cli/src/main/java/org/aya/cli/single/CompilerFlags.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  note/parser-migration.md
Labels: refactoring

#658 Do Unifying Owner Telescope
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/def/DataDef.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/ConCall.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/PatTraversal.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  tools/src/main/java/org/aya/util/Arg.java
Labels: bug

#660 Fix some bugs
  base/src/main/java/org/aya/core/def/PrimDef.java
  lsp/aya.bat
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
Labels: bug

#661 More ShuYu
  base/src/main/java/org/aya/core/def/CtorDef.java
  note/glossary.md
Labels: documentation

#666 Use the meaningful test data
  base/src/test/resources/success/src/Issues/663.aya
Labels: test fixtures

#668 KALA: upgrade to 0.56.0
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  gradle/deps.properties
Labels: deps: kala

#669 Higher inductive types
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/MatchTerm.java
  base/src/main/java/org/aya/core/visitor/DefConsumer.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/core/visitor/TermFolder.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/core/UsagesTest.java
  base/src/test/resources/failure/counterexamples/basic.aya
  base/src/test/resources/failure/counterexamples/basic.aya.txt
  base/src/test/resources/failure/holes/ctor-condition.aya
  base/src/test/resources/failure/holes/ctor-condition.aya.txt
  base/src/test/resources/failure/holes/issue747.aya
  base/src/test/resources/failure/holes/issue747.aya.txt
  base/src/test/resources/failure/patterns/confl-cond.aya
  base/src/test/resources/failure/patterns/confl-cond.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-confl.aya
  base/src/test/resources/failure/patterns/issues/issue354-confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya.txt
  base/src/test/resources/failure/patterns/issues/issue363.aya
  base/src/test/resources/failure/patterns/issues/issue363.aya.txt
  base/src/test/resources/success/common/src/Arith/Int.aya
  base/src/test/resources/success/common/src/Homotopy.aya
  base/src/test/resources/success/src/Examples.aya
  base/src/test/resources/success/src/Issues/250.aya
  base/src/test/resources/success/src/Match.aya
  base/src/test/resources/success/src/SigmaEta.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  tools/src/main/java/org/aya/util/reporter/ThrowingReporter.java
Labels: hits

#674 LSP: Search library root in dependencies
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
Labels: bug, lsp

#673 graal: generate part of the config
  base/build.gradle.kts
  base/reflect-config.txt
  buildSrc/src/main/groovy/org/aya/gradle/GenerateReflectionConfigTask.groovy
Labels: build

#678 change: Change comment syntax (BREAKING CHANGE)
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/resources/failure/cubical/transport-non-constant.aya
  base/src/test/resources/failure/holes/scope-check.aya
  base/src/test/resources/failure/holes/scope-check.aya.txt
  base/src/test/resources/failure/implicit/refparo9.aya
  base/src/test/resources/failure/levels/refparo5.aya
  base/src/test/resources/failure/patterns/confl-literal2.aya
  base/src/test/resources/failure/patterns/issues2/issue578.aya
  base/src/test/resources/failure/patterns/refparo3.aya
  base/src/test/resources/failure/syntax/literate-ill-typed.aya
  base/src/test/resources/failure/syntax/literate-ill-typed.aya.txt
  base/src/test/resources/failure/syntax/literate-unresolved.aya
  base/src/test/resources/failure/syntax/literate-unresolved.aya.txt
  base/src/test/resources/failure/terck/issue471.aya
  base/src/test/resources/failure/tyck/literal-ambiguous-3.aya
  base/src/test/resources/failure/tyck/literal-ambiguous-3.aya.txt
  base/src/test/resources/literate/test.aya
  base/src/test/resources/success/common/src/Arith/Int.aya
  base/src/test/resources/success/common/src/Data/List.aya
  base/src/test/resources/success/common/src/Data/RedBlack.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Homotopy/Sphere/S2.aya
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/nonsense/src/Nonsense/Test.aya
  base/src/test/resources/success/src/Assoc.aya
  base/src/test/resources/success/src/CubicalBasics.aya
  base/src/test/resources/success/src/CubicalMoveFromLib.aya
  base/src/test/resources/success/src/Issues/519.aya
  base/src/test/resources/success/src/Issues/523.aya
  base/src/test/resources/success/src/Issues/For519.aya
  base/src/test/resources/success/src/List.aya
  base/src/test/resources/success/src/List2.aya
  base/src/test/resources/success/src/Literal.aya
  base/src/test/resources/success/src/Order.aya
  base/src/test/resources/success/src/ProtoIssues/608.aya
  base/src/test/resources/success/src/ProtoIssues/659.aya
  base/src/test/resources/success/src/Refparo/10.aya
  base/src/test/resources/success/src/Refparo/7.aya
  base/src/test/resources/success/src/Refparo/8.aya
  base/src/test/resources/success/src/Refparo/Model.aya
  base/src/test/resources/success/src/Sorts.aya
  parser/src/main/grammar/AyaPsiLexer.flex
Labels: breaking

#682 Improve readme, disallow | from beginning of identifiers
  .github/README.md
  cli/src/main/java/org/aya/cli/repl/render/RenderOptions.java
  lsp/src/test/resources/lsp-test-lib/src/Vec.aya
  parser/src/main/grammar/AyaPsiLexer.flex
Labels: breaking

#675 Better `did you mean` messages
  base/src/main/java/org/aya/resolve/context/Context.java
  base/src/main/java/org/aya/resolve/error/NameProblem.java
  base/src/test/resources/failure/scope/did-you-mean-disamb.aya
  base/src/test/resources/failure/scope/did-you-mean-disamb.aya.txt
  base/src/test/resources/failure/scope/did-you-mean.aya
  base/src/test/resources/failure/scope/did-you-mean.aya.txt
Labels: error report

#689 Parse private decl
  base/src/test/resources/failure/syntax/issue679.aya
  base/src/test/resources/failure/syntax/issue679.aya.txt
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
Labels: bug, parser

#688 Report mising operand for unary sections
  base/src/main/java/org/aya/concrete/desugar/BinExprParser.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/concrete/error/OperatorError.java
  base/src/test/resources/failure/operator/issue677.aya
  base/src/test/resources/failure/operator/issue677.aya.txt
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
Labels: error report, binop

#692 Minor improvements
  .github/README.md
  base/src/test/resources/success/common/src/Arith/Nat/Core.aya
  base/src/test/resources/success/common/src/Arith/Nat/Properties.aya
  base/src/test/resources/success/common/src/Data/List/Core.aya
  base/src/test/resources/success/src/Issues/14.aya
  base/src/test/resources/success/src/NatMonoid.aya
Labels: documentation

#693 Fix my opinions
  .github/README.md
  base/src/test/java/org/aya/literate/LiterateTest.java
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/Main.java
  cli/src/main/java/org/aya/cli/render/Color.java
  cli/src/main/java/org/aya/cli/render/RenderOptions.java
  cli/src/main/java/org/aya/cli/render/adapter/EitherAdapter.java
  cli/src/main/java/org/aya/cli/render/vscode/ColorTheme.java
  cli/src/main/java/org/aya/cli/render/vscode/VscColorTheme.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli/src/main/java/org/aya/cli/repl/ReplConfig.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli/src/main/java/org/aya/cli/repl/render/RenderOptions.java
  cli/src/main/java/org/aya/cli/single/CompilerFlags.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  cli/src/test/java/org/aya/cli/ImGuiTrace.java
  cli/src/test/java/org/aya/cli/RenderOptionsTest.java
  cli/src/test/java/org/aya/cli/VscColorThemeTest.java
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/html/Html5Stylist.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/latex/TeXStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinterConfig.java
  pretty/src/main/java/org/aya/pretty/backend/string/style/AdaptiveCliStylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/style/DebugStylist.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/main/java/org/aya/pretty/printer/Stylist.java
  pretty/src/main/java/org/aya/pretty/style/AyaColorScheme.java
  pretty/src/main/java/org/aya/pretty/style/AyaStyleFamily.java
  pretty/src/test/java/org/aya/pretty/Reproduction.java
  pretty/src/test/java/org/aya/pretty/UnixStyleTest.java
  tools-repl/src/main/java/org/aya/repl/gk/ReplHighlighter.java
  tools/src/main/java/org/aya/util/reporter/ThrowingReporter.java
Labels: cli, literate

#695 Try using `meta` rules
  base/src/test/resources/success/common/src/Spaces/Segment.aya
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser, refactoring

#700 Kiva fixing something today
  cli/src/main/java/org/aya/cli/render/RenderOptions.java
  cli/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli/src/main/java/org/aya/cli/repl/ReplConfig.java
  cli/src/test/java/org/aya/cli/PlainReplTest.java
  cli/src/test/java/org/aya/cli/RenderOptionsTest.java
  tools-repl/src/main/java/org/aya/repl/CommandArg.java
Labels: repl

#703 Cherry pick from 'no more duplicated vars'
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/env/MapLocalCtx.java
  base/src/main/java/org/aya/tyck/env/SeqLocalCtx.java
Labels: cherry-pick

#702 New `group` library config and polish some messages
  base/src/test/resources/success/aya.json
  base/src/test/resources/success/common/aya.json
  base/src/test/resources/success/nonsense/aya.json
  cli/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli/src/main/java/org/aya/cli/library/json/LibraryConfigData.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/test/java/org/aya/cli/LibraryConfigParseTest.java
  cli/src/test/java/org/aya/cli/ReplCompilerTest.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  lsp/src/test/resources/lsp-test-lib/aya.json
Labels: library

#701 REPL: decouple and fix
  cli/src/main/java/org/aya/cli/render/RenderOptions.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/repl/ReplShapeFactory.java
  cli/src/main/java/org/aya/cli/repl/gk/GKReplLexer.java
  cli/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli/src/test/java/org/aya/cli/JlineReplTest.java
  tools-repl/build.gradle.kts
  tools-repl/src/main/java/module-info.java
  tools-repl/src/main/java/org/aya/repl/CommandArg.java
  tools-repl/src/main/java/org/aya/repl/ReplHighlighter.java
  tools-repl/src/main/java/org/aya/repl/ReplLexer.java
  tools-repl/src/main/java/org/aya/repl/ReplParser.java
Labels: repl

#698 Highlighter with Linker
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  cli/src/main/java/org/aya/cli/literate/HighlightInfo.java
  cli/src/main/java/org/aya/cli/literate/HighlightInfoType.java
  cli/src/main/java/org/aya/cli/literate/Highlighter.java
  cli/src/main/java/org/aya/cli/literate/utils/HighlighterUtil.java
  cli/src/test/java/org/aya/cli/HighlighterTest.java
  cli/src/test/java/org/aya/cli/HighlighterTester.java
  cli/src/test/java/org/aya/cli/PlctReportTest.java
Labels: pretty print

#705 Fix a bug: HIT partial forgot to zonk
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/Tycker.java
  base/src/test/resources/success/common/src/Arith/Int.aya
  base/src/test/resources/success/common/src/Spaces/Susp.aya
  lsp/build.gradle.kts
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/models/HighlightResult.java
Labels: bug, library, hits

#707 Interesting parser improvements
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser, refactoring

#708 Unify literate highlighter and LSP highlighter
  base/src/main/java/org/aya/concrete/stmt/Command.java
  base/src/main/java/org/aya/concrete/stmt/Generalize.java
  cli/src/main/java/module-info.java
  cli/src/main/java/org/aya/cli/literate/HighlightInfo.java
  cli/src/main/java/org/aya/cli/literate/HighlightInfoType.java
  cli/src/main/java/org/aya/cli/literate/Highlighter.java
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli/src/main/java/org/aya/cli/literate/utils/HighlighterUtil.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/test/java/org/aya/cli/HighlighterTest.java
  cli/src/test/java/org/aya/cli/HighlighterTester.java
  cli/src/test/java/org/aya/cli/PlctReportTest.java
  lsp/src/main/java/org/aya/lsp/actions/GotoDefinition.java
  lsp/src/main/java/org/aya/lsp/actions/SemanticHighlight.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/models/HighlightResult.java
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: refactoring

#711 Slightly less code in parser
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser, refactoring

#699 Let Expression
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/java/org/aya/concrete/DistillerTest.java
  base/src/test/resources/failure/syntax/let-expr.aya
  base/src/test/resources/failure/syntax/let-expr.aya.txt
  base/src/test/resources/success/src/LetExpr.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser

#713 bnf: make `LetBind` a named element
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser

#712 Leafover of Let Expr
  base/src/test/resources/success/common/src/Data/List/Core.aya
  base/src/test/resources/success/src/TestStd/Data/List/Test.aya
Labels: test fixtures

#715 Fix SourcePos of Let
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/failure/syntax/issue164.aya.txt
  base/src/test/resources/failure/syntax/let-expr2.aya
  base/src/test/resources/failure/syntax/let-expr2.aya.txt
  base/src/test/resources/failure/syntax/let-expr3.aya
  base/src/test/resources/failure/syntax/let-expr3.aya.txt
  base/src/test/resources/failure/syntax/literate-unresolved.aya.txt
  base/src/test/resources/success/src/LetExpr.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  pretty/src/main/java/org/aya/pretty/error/PrettyError.java
  pretty/src/main/java/org/aya/pretty/error/Span.java
Labels: bug, concrete

#718 Release 0.24
  gradle/deps.properties
  note/early-changelog.md
Labels: release

#722 Add `*-comm`, `*-assoc` in library candidate
  base/src/test/resources/success/common/src/Arith/Nat/Core.aya
  base/src/test/resources/success/common/src/Arith/Nat/Properties.aya
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T2-HoTT.aya
Labels: library

#667 No Erase
  base/src/main/java/org/aya/core/Meta.java
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/def/FieldDef.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/AppTerm.java
  base/src/main/java/org/aya/core/term/ErasedTerm.java
  base/src/main/java/org/aya/core/term/ProjTerm.java
  base/src/main/java/org/aya/core/term/SortTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/distill/Codifier.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/main/java/org/aya/tyck/error/ErasedError.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/failure/tyck/erased.aya.txt
Labels: refactoring, prop

#720 cli: remove a duplicate checkDeserialization() call
  cli/src/main/java/org/aya/cli/library/json/LibraryConfigData.java
Labels: cleanup

#723 Push telescope
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/desugar/BinPatternParser.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/PatTree.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/failure/patterns/issues/issue681.aya
  base/src/test/resources/failure/patterns/issues/issue681.aya.txt
  base/src/test/resources/success/src/Issues/564.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
Labels: tyck: pattern

#724 Improve library with pushing
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/resources/success/common/src/Algebra/Formula.aya
  base/src/test/resources/success/common/src/Arith/Int.aya
  base/src/test/resources/success/common/src/Arith/Nat/Core.aya
  base/src/test/resources/success/common/src/Arith/Nat/Order.aya
  base/src/test/resources/success/common/src/Arith/Nat/Properties.aya
  base/src/test/resources/success/common/src/Data/List/Core.aya
  base/src/test/resources/success/common/src/Logic/False.aya
Labels: library

#732 Clear Garbage Code of PatTycker
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/Tycker.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
Labels: tyck: pattern

#734 Remove ulift
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/def/FieldDef.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/term/Callable.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeSignature.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: refactoring

#735 basic support for unary pretty print
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/ref/DefVar.java
  base/src/test/java/org/aya/core/DistillerTest.java
Labels: pretty print

#738 Implement coercion from path to pi
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/core/term/PAppTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/success/src/CubicalBasics.aya
  lsp/build.gradle.kts
Labels: cubical

#740 Small fixes.
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/resources/failure/cubical/boundary-disagrees.aya
  base/src/test/resources/failure/cubical/boundary-disagrees.aya.txt
  base/src/test/resources/failure/cubical/face-mismatch.aya
  base/src/test/resources/failure/cubical/face-mismatch.aya.txt
  base/src/test/resources/failure/cubical/transport-non-constant.aya
  base/src/test/resources/failure/cubical/transport-non-constant.aya.txt
  base/src/test/resources/success/common/src/Intervals.aya
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Spaces/Segment.aya
  base/src/test/resources/success/common/src/Spaces/Sphere/S2.aya
  base/src/test/resources/success/src/CubicalBasics.aya
  base/src/test/resources/success/src/ImportOpPrecedence.aya
  base/src/test/resources/success/src/Issues/289.aya
  base/src/test/resources/success/src/Issues/519.aya
  cli/src/test/java/org/aya/cli/CodifierTest.java
Labels: binop, breaking

#739 Really do support eta-expand paths
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/term/LamTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/src/CubicalBasics.aya
Labels: tyck: path

#744 Improve many things
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/java/org/aya/core/DistillerTest.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/java/org/aya/test/TestRunner.java
  base/src/test/resources/failure/holes/issue420.aya
  base/src/test/resources/failure/holes/issue420.aya.txt
  base/src/test/resources/failure/holes/issue747.aya
  base/src/test/resources/failure/holes/issue747.aya.txt
  base/src/test/resources/failure/holes/scope-check.aya
  base/src/test/resources/failure/holes/scope-check.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue352.aya
  base/src/test/resources/failure/patterns/issues2/issue352.aya.txt
  base/src/test/resources/failure/projection/issues2/issue151.aya
  base/src/test/resources/failure/projection/issues2/issue151.aya.txt
  base/src/test/resources/failure/projection/issues2/issue34.aya
  base/src/test/resources/failure/projection/issues2/issue34.aya.txt
  base/src/test/resources/failure/struct/field-type-mismatch.aya
  base/src/test/resources/failure/struct/field-type-mismatch.aya.txt
  base/src/test/resources/failure/syntax/issue679.aya
  base/src/test/resources/failure/terck/issue471.aya
  base/src/test/resources/failure/terck/issue471.aya.txt
  base/src/test/resources/failure/terck/non-term.aya
  base/src/test/resources/failure/terck/non-term.aya.txt
  base/src/test/resources/failure/tyck/issues/issue292.aya
  base/src/test/resources/failure/tyck/issues/issue292.aya.txt
  base/src/test/resources/failure/tyck/issues/issue300.aya
  base/src/test/resources/failure/tyck/issues/issue300.aya.txt
  base/src/test/resources/failure/tyck/issues/issue697.aya
  base/src/test/resources/failure/tyck/issues/issue697.aya.txt
  base/src/test/resources/failure/tyck/list-type-mismatch.aya
  base/src/test/resources/failure/tyck/list-unknown.aya
  base/src/test/resources/success/common/src/Data/List/Syntax.aya
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T2-HoTT.aya
  base/src/test/resources/success/src/CubicalBasics.aya
  base/src/test/resources/success/src/CubicalMoveFromLib.aya
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  lsp/src/test/resources/lsp-test-lib/aya.json
  lsp/src/test/resources/lsp-test-lib/src/Path.aya
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser, breaking, library

#745 Issue 596
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/remark/Remark.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/test/java/org/aya/literate/LiterateTest.java
  base/src/test/resources/literate/issue596.aya
  base/src/test/resources/literate/standard-issue596.txt
Labels: bug, literate

#747 Fix some issues, define Susp of S¹ to S²
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Spaces/Sphere/Core.aya
  base/src/test/resources/success/common/src/Spaces/Sphere/S1/Core.aya
  base/src/test/resources/success/common/src/Spaces/Sphere/S2/Core.aya
  base/src/test/resources/success/common/src/Spaces/Susp.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T2.aya
  base/src/test/resources/success/common/src/Spaces/Torus/T3.aya
  base/src/test/resources/success/src/CubicalBasics.aya
  base/src/test/resources/success/src/Issues/742.aya
Labels: bug, library, hits

#749 Fix many problems again
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/test/resources/failure/patterns/issues2/issue746.aya
  base/src/test/resources/failure/patterns/issues2/issue746.aya.txt
  base/src/test/resources/success/common/src/Spaces/Sphere/S1/Core.aya
  base/src/test/resources/success/src/Issues/748.aya
Labels: bug

#754 Run IDE inspections
  .github/README.md
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/term/MatchTerm.java
  base/src/main/java/org/aya/core/term/SortTerm.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/test/java/org/aya/tyck/TracingTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  lsp/src/main/java/org/aya/lsp/actions/Folding.java
  lsp/src/main/java/org/aya/lsp/actions/InlayHintMaker.java
  lsp/src/main/java/org/aya/lsp/actions/ProjectSymbol.java
  tools/src/main/java/org/aya/util/binop/OpDecl.java
Labels: refactoring

#756 Also fold resolved binds
  base/src/main/java/org/aya/concrete/visitor/StmtFolder.java
  cli/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
  tools/src/main/java/org/aya/util/StringUtil.java
Labels: lsp, binop
