Repository aya-prover/aya-dev, pull requests merged in 2022-05, with the labels that each got.

#406 add api for classable def
  base/src/main/java/org/aya/concrete/stmt/ClassDecl.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/GenericDecl.java
  base/src/main/java/org/aya/concrete/stmt/Signatured.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/concrete/stmt/TopLevelDecl.java
  base/src/main/java/org/aya/core/def/ClassDef.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/def/GenericDef.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/visitor/RefFinder.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/ref/DefVar.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/main/java/org/aya/tyck/order/TyckUnit.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeSignature.java
Labels: classes

#408 Improve pretty and syntax for named applications
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/test/resources/success/src/Implicits.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  gradle/deps.properties
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
Labels: parser, pretty print

#409 Decl no visitor! Stay at home!
  base/src/main/java/org/aya/concrete/remark/Remark.java
  base/src/main/java/org/aya/concrete/stmt/ClassDecl.java
  base/src/main/java/org/aya/concrete/stmt/Command.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/Generalize.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/concrete/stmt/TopLevelDecl.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/test/java/org/aya/concrete/VisitorTest.java
  lsp/src/main/java/org/aya/lsp/actions/ComputeTerm.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxHighlight.java
  lsp/src/main/java/org/aya/lsp/actions/SyntaxNodeAction.java
  lsp/src/main/java/org/aya/lsp/models/HighlightResult.java
  lsp/src/main/java/org/aya/lsp/server/AyaService.java
  lsp/src/main/java/org/aya/lsp/utils/Resolver.java
Labels: refactoring, breaking

#410 Delete expr visitors, release 0.18 (for guest0x0 use)
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/remark/Literate.java
  base/src/main/java/org/aya/concrete/visitor/ExprConsumer.java
  base/src/main/java/org/aya/concrete/visitor/ExprTraversal.java
  base/src/main/java/org/aya/concrete/visitor/StmtOps.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  note/early-changelog.md
Labels: refactoring, release

#400 Java integer backed literals
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/repr/AyaShape.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/LitTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/TermConsumer.java
  base/src/main/java/org/aya/core/visitor/TermFixpoint.java
  base/src/main/java/org/aya/core/visitor/TermOps.java
  base/src/main/java/org/aya/core/visitor/TermView.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/ref/DefVar.java
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/terck/Relation.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/AmbiguousLitError.java
  base/src/main/java/org/aya/tyck/error/BadLiteralPatternError.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTycker.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/java/org/aya/repr/ShapeMatcherTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/failure/patterns/literal-bad.aya
  base/src/test/resources/failure/patterns/literal-bad.aya.txt
  base/src/test/resources/failure/patterns/literal-conf.aya
  base/src/test/resources/failure/patterns/literal-conf.aya.txt
  base/src/test/resources/failure/tyck/literal-ambiguous-1.aya
  base/src/test/resources/failure/tyck/literal-ambiguous-1.aya.txt
  base/src/test/resources/failure/tyck/literal-ambiguous-2.aya
  base/src/test/resources/failure/tyck/literal-ambiguous-2.aya.txt
  base/src/test/resources/failure/tyck/literal-solving.aya
  base/src/test/resources/failure/tyck/literal-solving.aya.txt
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
Labels: tyck, literal

#413 Jdk 18
  .github/README.md
  .github/workflows/gradle-check.yml
  .github/workflows/nightly-build.yml
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#404 Follow-up of #400: REPL, Serialization, Distiller, Test of literals
  base/reflect-config.txt
  base/src/main/java/org/aya/core/repr/AyaShape.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/tyck/error/AmbiguousLitError.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/resources/failure/syntax/literal-too-large.aya
  base/src/test/resources/failure/syntax/literal-too-large.aya.txt
  base/src/test/resources/success/common/src/Arith/Int.aya
  base/src/test/resources/success/common/src/Arith/Nat.aya
  base/src/test/resources/success/common/src/Arith/Nat/Order.aya
  base/src/test/resources/success/common/src/Cubical.aya
  base/src/test/resources/success/common/src/Data/Fin.aya
  base/src/test/resources/success/common/src/Data/List.aya
  base/src/test/resources/success/common/src/Data/RedBlack.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/src/Assoc.aya
  base/src/test/resources/success/src/Binop.aya
  base/src/test/resources/success/src/Examples.aya
  base/src/test/resources/success/src/FoetusLimitation.aya
  base/src/test/resources/success/src/Implicits.aya
  base/src/test/resources/success/src/Issues/152.aya
  base/src/test/resources/success/src/LamTupInfer.aya
  base/src/test/resources/success/src/Literal.aya
  base/src/test/resources/success/src/NatMonoid.aya
  base/src/test/resources/success/src/Order.aya
  base/src/test/resources/success/src/ProtoIssues/313.aya
  base/src/test/resources/success/src/ProtoIssues/608.aya
  base/src/test/resources/success/src/ProtoIssues/743.aya
  base/src/test/resources/success/src/Structs.aya
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli/src/main/java/org/aya/cli/repl/ReplCompiler.java
  cli/src/main/java/org/aya/cli/repl/ReplShapeFactory.java
  gradle/deps.properties
  tools/src/main/java/org/aya/util/distill/DistillerOptions.java
Labels: cherry-pick

#412 String literal with primitive concatenation
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/PrimTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/TermConsumer.java
  base/src/main/java/org/aya/core/visitor/TermFixpoint.java
  base/src/main/java/org/aya/core/visitor/TermView.java
  base/src/main/java/org/aya/distill/ConcreteDistiller.java
  base/src/main/java/org/aya/distill/CoreDistiller.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/LittleTyper.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/resources/failure/tyck/string-lit-4.aya
  base/src/test/resources/failure/tyck/stringlit-1.aya
  base/src/test/resources/failure/tyck/stringlit-2.aya
  base/src/test/resources/failure/tyck/stringlit-3.aya
  base/src/test/resources/success/common/src/Primitives.aya
  base/src/test/resources/success/src/StringLit.aya
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
Labels: concrete

#415 Try to fix nightly build with Java 18
  .github/workflows/nightly-build.yml
  base/reflect-config.txt
  build.gradle.kts
  buildSrc/src/main/java/org/aya/gradle/StripPreview.java
Labels: build

#416 Remove check of string literal from ExprTycker and add test output
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/failure/tyck/string-lit-4.aya
  base/src/test/resources/failure/tyck/stringlit-1.aya.txt
  base/src/test/resources/failure/tyck/stringlit-2.aya.txt
  base/src/test/resources/failure/tyck/stringlit-3.aya.txt
Labels: test fixtures

#418 BUILD: shrink strip preview messages
  build.gradle.kts
  buildSrc/src/main/java/org/aya/gradle/StripPreview.java
Labels: build

#417 Normalizer should subst before normalizing
  base/src/main/java/org/aya/core/term/CallTerm.java
  base/src/main/java/org/aya/core/visitor/TermOps.java
  base/src/test/java/org/aya/core/NormalizeTest.java
Labels: bug, reduction

#403 Parse time desugaring of do notations, array syntax and list comprehension, and idiom brackets
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/visitor/TermOps.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/generic/Constants.java
  base/src/main/java/org/aya/ref/LocalVar.java
  base/src/main/java/org/aya/resolve/context/Context.java
  base/src/main/java/org/aya/tyck/unify/DefEq.java
  base/src/test/resources/failure/syntax/do-notation.aya
  base/src/test/resources/failure/syntax/do-notation.aya.txt
  base/src/test/resources/success/common/src/Data/List.aya
  base/src/test/resources/success/src/Assoc.aya
  base/src/test/resources/success/src/Idiom.aya
  base/src/test/resources/success/src/ListComprehension.aya
  buildSrc/src/main/antlr/org/aya/parser/AyaLexer.g4
  buildSrc/src/main/antlr/org/aya/parser/AyaParser.g4
  cli/src/main/java/org/aya/cli/parse/AyaProducer.java
Labels: desugar

#422 Move `AyaDocile` to base
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/TacNode.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/core/Matching.java
  base/src/main/java/org/aya/core/def/ClassDef.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/term/ErrorTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/distill/BaseDistiller.java
  base/src/main/java/org/aya/generic/Arg.java
  base/src/main/java/org/aya/generic/AyaDocile.java
  base/src/main/java/org/aya/generic/ParamLike.java
  base/src/main/java/org/aya/ref/Bind.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  cli/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli/src/main/java/org/aya/cli/single/SingleFileCompiler.java
Labels: refactoring
