Repository aya-prover/aya-dev, pull requests merged in 2023-08, with the labels that each got.

#991 Use Java 20 language features
  base/src/main/java/org/aya/core/term/FormulaTerm.java
  base/src/main/java/org/aya/core/term/PartialTerm.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/prettier/BasePrettier.java
  base/src/main/java/org/aya/prettier/Codifier.java
  base/src/main/java/org/aya/tyck/tycker/UnifiedTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  tools/src/main/java/org/aya/util/Pair.java
Labels: refactoring, java

#990 Use graalvm with Java 20
  .github/workflows/nightly-build.yml
Labels: build

#992 Respect `--pretty-dir` for libraries
  cli-console/src/main/java/org/aya/cli/console/MainArgs.java
  cli-impl/src/main/java/org/aya/cli/library/LibraryCompiler.java
Labels: literate, library

#993 Fix highlight lost when converting non-literal file to literal file
  .github/README.md
  base/src/main/java/org/aya/concrete/GenericAyaFile.java
  base/src/main/java/org/aya/concrete/remark/AyaLiterate.java
Labels: bug, literate

#994 Upgrade deps
  cli-impl/src/main/java/org/aya/cli/parse/AyaParserImpl.java
  gradle/deps.properties
  note/early-changelog.md
Labels: build, deps: upstream
