Repository aya-prover/aya-dev, pull requests merged in 2023-11, with the labels that each got.

#1008 Some cli fixes
  cli-console/src/main/java/org/aya/cli/console/Main.java
  gradle/libs.versions.toml
Labels: bug, cli

#1009 Dependencies
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  gradle/libs.versions.toml
  ide/src/main/java/org/aya/ide/action/ComputeSignature.java
  ide/src/main/java/org/aya/ide/action/Rename.java
  parser/src/main/grammar/FlclPsiLexer.flex
  pretty/src/main/java/org/aya/pretty/backend/html/Html5Stylist.java
  pretty/src/main/java/org/aya/pretty/backend/string/ClosingStylist.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/main/java/org/aya/pretty/error/PrettyError.java
Labels: literate, deps: upstream

#1011 Misc: Remove `isProp`
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/core/term/SortTerm.java
  base/src/main/java/org/aya/generic/SortKind.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/tycker/PropTycker.java
  base/src/main/java/org/aya/tyck/tycker/TyckState.java
  base/src/main/java/org/aya/tyck/tycker/UnifiedTycker.java
  base/src/main/java/org/aya/tyck/unify/Synthesizer.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/repr/ShapeMatcherTest.java
  base/src/test/resources/failure/projection/issues2/issue879.aya
  base/src/test/resources/failure/projection/issues2/issue879.aya.txt
  base/src/test/resources/failure/tyck/erased2.aya
  base/src/test/resources/failure/tyck/erased2.aya.txt
  base/src/test/resources/success/common/src/Arith/Nat/Encoding.aya
  base/src/test/resources/success/src/Issues/874.aya
  base/src/test/resources/success/src/Sorts.aya
  cli-impl/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli-impl/src/test/java/org/aya/cli/ReplCompilerTest.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiLexer.flex
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: prop

#1014 Freeze holes in context
  base/src/main/java/org/aya/tyck/error/Goal.java
Labels: error report

#1017 Do ReplaceWith
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/core/ops/Eta.java
  base/src/main/java/org/aya/prettier/BasePrettier.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/env/SeqLocalCtx.java
  base/src/main/java/org/aya/tyck/unify/Synthesizer.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  cli-impl/src/test/java/org/aya/cli/ModifierParserTest.java
  ide-lsp/src/test/java/org/aya/lsp/LspTest.java
Labels: deps: kala

#1018 Do not unify in case of errors
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
Labels: tyck: pattern
