Repository aya-prover/aya-dev, pull requests merged in 2023-05, with the labels that each got.

#971 KALA: upgrade to 0.66.0
  gradle/deps.properties
Labels: deps: kala

#973 Fix #972
  base/src/main/java/org/aya/concrete/stmt/decl/TeleDecl.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/test/java/org/aya/test/LibraryTest.java
  base/src/test/resources/success/src/Issues/972.aya
  cli-impl/src/main/java/org/aya/cli/parse/AyaProducer.java
Labels: bug, resolving

#974 Fix #972.5
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/test/java/org/aya/test/LibraryTest.java
  base/src/test/resources/failure/syntax/bad-gen-var.aya
  base/src/test/resources/failure/syntax/bad-gen-var.aya.txt
  ide-lsp/src/test/java/org/aya/lsp/LspTest.java
Labels: bug, resolving

#975 Release 0.29
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/stmt/Command.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/test/java/org/aya/experiments/CommonMarkTest.java
  base/src/test/java/org/aya/literate/HighlighterTester.java
  base/src/test/java/org/aya/pretty/error/PrettyErrorTest.java
  cli-impl/src/main/java/org/aya/cli/render/vscode/VscColorTheme.java
  gradle/deps.properties
  ide-lsp/src/main/java/org/aya/lsp/models/ServerOptions.java
  ide-lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  note/early-changelog.md
  pretty/src/main/java/org/aya/pretty/backend/html/Html5Stylist.java
  pretty/src/main/java/org/aya/pretty/error/PrettyError.java
  tools-md/src/main/java/org/aya/literate/LiterateConsumer.java
  tools-repl/src/main/java/org/aya/repl/CmdCompleter.java
  tools-repl/src/main/java/org/aya/repl/CommandManager.java
  tools/src/main/java/org/aya/util/tyck/OrgaTycker.java
Labels: release

#976 Fix some bad code
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/stmt/Stmt.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/success/src/Issues/963.aya
Labels: desugar

#981 Parse only selected languages in markdown
  base/src/main/java/org/aya/concrete/GenericAyaFile.java
  base/src/main/java/org/aya/concrete/remark/AyaLiterate.java
  base/src/test/resources/success/src/Literate/Syntax.aya.md
  cli-impl/src/main/java/org/aya/cli/literate/AyaMdParser.java
  cli-impl/src/main/java/org/aya/cli/literate/FaithfulPrettier.java
  tools-md/build.gradle.kts
  tools-md/src/main/java/org/aya/literate/Literate.java
  tools-md/src/main/java/org/aya/literate/parser/BaseMdParser.java
  tools-md/src/main/java/org/aya/literate/parser/InterestingLanguage.java
  tools-md/src/test/java/org/aya/literate/MarkdownTest.java
Labels: literate

#980 Fix native-image build
  .github/workflows/commit-check.yml
  .github/workflows/gradle-check.yml
  base/reflect-config.txt
  ide-lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
Labels: build

#982 Fix baka let and add some improvement
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/generic/Nested.java
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/tycker/LetListTycker.java
  base/src/main/java/org/aya/tyck/tycker/MockTycker.java
Labels: tyck

#983 Correctly count usage in recursive definitions
  ide-lsp/src/main/java/org/aya/lsp/actions/LensMaker.java
  ide/src/main/java/org/aya/ide/action/FindReferences.java
Labels: lsp

#978 Libary Dependency Graph
  cli-impl/src/main/java/org/aya/cli/library/source/LibraryOwner.java
  cli-impl/src/test/java/org/aya/cli/LibraryGraphTest.java
Labels: library

#984 Extract some classifier code into tools
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  tools/src/main/java/org/aya/util/tyck/pat/ClassifierUtil.java
Labels: coverage

#985 v0.29.1
  note/developers.md
  note/early-changelog.md
Labels: release
