Repository aya-prover/aya-dev, pull requests merged in 2023-12, with the labels that each got.

#1021 Grouping methods in ExprTycker
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/test/resources/failure/tyck/not-pi.aya
  base/src/test/resources/failure/tyck/not-pi.aya.txt
Labels: refactoring

#995 Reduction Rule
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/repr/AyaShape.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/core/serde/SerPat.java
  base/src/main/java/org/aya/core/serde/SerShapable.java
  base/src/main/java/org/aya/core/serde/SerTerm.java
  base/src/main/java/org/aya/core/serde/Serializer.java
  base/src/main/java/org/aya/core/term/Callable.java
  base/src/main/java/org/aya/core/term/ConCall.java
  base/src/main/java/org/aya/core/term/ConCallLike.java
  base/src/main/java/org/aya/core/term/FnCall.java
  base/src/main/java/org/aya/core/term/FnCallLike.java
  base/src/main/java/org/aya/core/term/IntegerOps.java
  base/src/main/java/org/aya/core/term/IntegerTerm.java
  base/src/main/java/org/aya/core/term/RuleReducer.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/prettier/CorePrettier.java
  base/src/main/java/org/aya/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/TyckOrderError.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/repr/ShapeFactory.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/main/java/org/aya/tyck/unify/Synthesizer.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/java/org/aya/core/NormalizeTest.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/failure/patterns/confl-literal2.aya.txt
  base/src/test/resources/failure/patterns/confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya.txt
  base/src/test/resources/failure/patterns/issues/issue366.aya.txt
  ide-lsp/src/test/java/org/aya/lsp/LspTest.java
  tools/src/main/java/org/aya/util/Arg.java
Labels: reduction, core: definitions, shape

#1023 Use Java 21 features
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/BetaExpander.java
  base/src/main/java/org/aya/prettier/Codifier.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/java/org/aya/literate/AyaMdParserTest.java
  base/src/test/java/org/aya/literate/HighlighterTester.java
  base/src/test/java/org/aya/test/TestRunner.java
  cli-impl/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli-impl/src/test/java/org/aya/cli/LibraryGraphTest.java
  gradle/libs.versions.toml
  ide-lsp/src/test/java/org/aya/lsp/LspTest.java
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/html/Html5Stylist.java
  tools-kala/src/main/java/org/aya/util/terck/Relation.java
  tools-repl/src/main/java/org/aya/repl/CommandManager.java
  tools-repl/src/main/java/org/aya/repl/ReplUtil.java
  tools/src/main/java/org/aya/util/Version.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: refactoring, java
