Repository aya-prover/aya-dev, pull requests merged in 2023-01, with the labels that each got.

#867 Generate test reports
  .github/workflows/gradle-check.yml
Labels: build

#870 KALA: upgrade to 0.61.0
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/visitor/StmtFolder.java
  base/src/main/java/org/aya/core/repr/AyaShape.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/core/term/MetaLitTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/visitor/DeltaExpander.java
  base/src/main/java/org/aya/core/visitor/Zonker.java
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/Goal.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/tycker/MockedTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/java/org/aya/core/NormalizeTest.java
  base/src/test/java/org/aya/core/PrettierTest.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/java/org/aya/cubical/PartialTest.java
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/java/org/aya/experiments/NormalizeHugeChurch.java
  base/src/test/java/org/aya/literate/HighlighterTester.java
  base/src/test/java/org/aya/repr/ShapeMatcherTest.java
  base/src/test/java/org/aya/tyck/PatCCTest.java
  base/src/test/java/org/aya/tyck/TracingTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  cli/src/main/java/org/aya/cli/literate/AyaMdParser.java
  cli/src/main/java/org/aya/cli/literate/FaithfulPrettier.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/plct/PLCTReport.java
  cli/src/main/java/org/aya/cli/repl/jline/AyaCompleters.java
  cli/src/test/java/org/aya/cli/CodifierTest.java
  cli/src/test/java/org/aya/cli/PlainReplTest.java
  gradle/deps.properties
  lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  pretty/src/main/java/org/aya/pretty/backend/html/Html5Stylist.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/main/java/org/aya/pretty/error/PrettyError.java
  tools/src/main/java/org/aya/util/binop/BinOpParser.java
  tools/src/main/java/org/aya/util/terck/CallGraph.java
Labels: deps: kala

#869 Do not reuse tycker
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/tycker/TracedTycker.java
  base/src/test/resources/failure/holes/issue420.aya.txt
Labels: refactoring, cleanup

#873 Happy new year!
  LICENSE
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/visitor/EndoPattern.java
  base/src/main/java/org/aya/core/Meta.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/term/PartialTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/resolve/error/NameProblem.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/Synthesizer.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/error/FieldError.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/tycker/UnifiedTycker.java
  cli/src/main/java/org/aya/cli/utils/MainArgs.java
  cli/src/main/java/org/aya/cli/utils/PicocliUtils.java
  lsp/src/main/java/org/aya/lsp/utils/LspArgs.java
  tools-repl/src/main/java/org/aya/repl/ReplUtil.java
Labels: documentation

#874 Reimplement sort system: step 1
  base/src/main/java/module-info.java
  base/src/main/java/org/aya/core/meta/Meta.java
  base/src/main/java/org/aya/core/meta/MetaInfo.java
  base/src/main/java/org/aya/core/term/MetaTerm.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/SortTerm.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/error/Goal.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/tycker/ConcreteAwareTycker.java
  base/src/main/java/org/aya/tyck/tycker/LetListTycker.java
  base/src/main/java/org/aya/tyck/tycker/MockTycker.java
  base/src/main/java/org/aya/tyck/tycker/PropTycker.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/main/java/org/aya/tyck/tycker/TyckState.java
  base/src/main/java/org/aya/tyck/tycker/UnifiedTycker.java
  base/src/main/java/org/aya/tyck/unify/DoubleChecker.java
  base/src/main/java/org/aya/tyck/unify/Synthesizer.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/resources/failure/holes/pi-dom-meta.aya
  base/src/test/resources/failure/holes/pi-dom-meta.aya.txt
  base/src/test/resources/failure/holes/pi-dom.aya
  base/src/test/resources/failure/holes/pi-dom.aya.txt
  base/src/test/resources/failure/levels/too-high.aya.txt
  base/src/test/resources/success/src/Issues/874.aya
  note/sort-system.md
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
Labels: bug, test fixtures, sort system, prop

#876 More robust parsing
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/concrete/error/ParseError.java
  base/src/main/java/org/aya/tyck/unify/Synthesizer.java
  base/src/test/resources/failure/syntax/implicit-element-list-pattern.aya.txt
  base/src/test/resources/failure/syntax/incomplete-code.aya
  base/src/test/resources/failure/syntax/incomplete-code.aya.txt
  base/src/test/resources/failure/syntax/issue164.aya.txt
  base/src/test/resources/failure/syntax/issue165.aya.txt
  base/src/test/resources/failure/syntax/literal-too-large.aya.txt
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser

#875 Irrelevance of `Prop` WIP
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/pat/PatToTerm.java
  base/src/main/java/org/aya/core/pat/PatUnify.java
  base/src/main/java/org/aya/core/term/ConCall.java
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/core/visitor/Subst.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/failure/holes/issue747.aya.txt
  base/src/test/resources/success/src/Prop.aya
  note/glossary.md
Labels: confluence, conditions, prop

#665 No More Duplicated Vars
  base/src/main/java/org/aya/tyck/env/LocalCtx.java
  base/src/main/java/org/aya/tyck/env/MapLocalCtx.java
  base/src/main/java/org/aya/tyck/env/SeqLocalCtx.java
Labels: tyck, developer experience

#878 Better error reporting for holes with conditions.
  base/src/main/java/org/aya/core/term/ErrorTerm.java
  base/src/main/java/org/aya/tyck/pat/Conquer.java
  base/src/test/resources/failure/holes/issue747.aya.txt
  base/src/test/resources/failure/holes/pattern-confluence.aya.txt
Labels: error report

#880 Random refactoring, preparing for fixing `Prop` tycking
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/tycker/PropTycker.java
  base/src/main/java/org/aya/tyck/unify/Synthesizer.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  tools/src/main/java/org/aya/util/Decision.java
Labels: refactoring

#881 Fix sigma projection checking
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/error/IrrElimProblem.java
  base/src/main/java/org/aya/tyck/error/PrimError.java
  base/src/main/java/org/aya/tyck/error/UnifyInfo.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/tycker/PropTycker.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/resources/failure/projection/issues2/issue879.aya
  base/src/test/resources/failure/projection/issues2/issue879.aya.txt
  base/src/test/resources/failure/struct/proj-fn.aya.txt
  base/src/test/resources/failure/struct/universe.aya.txt
  base/src/test/resources/failure/tyck/erased.aya.txt
  base/src/test/resources/failure/tyck/nonsigma-proj.aya.txt
  base/src/test/resources/failure/tyck/nonsigma-tup.aya.txt
  base/src/test/resources/failure/tyck/nonstruct-new.aya.txt
Labels: error report, prop

#882 Release v0.27
  gradle/deps.properties
  note/early-changelog.md
Labels: release

#884 Cleanup concrete decls: step 0
  base/src/main/java/org/aya/concrete/stmt/ClassDecl.java
  base/src/main/java/org/aya/concrete/stmt/CommonDecl.java
  base/src/main/java/org/aya/concrete/stmt/Decl.java
  base/src/main/java/org/aya/concrete/stmt/DeclInfo.java
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/main/java/org/aya/concrete/visitor/StmtConsumer.java
  base/src/main/java/org/aya/concrete/visitor/StmtFolder.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/term/Callable.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/UnifyError.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/parse/ModifierParser.java
  ide/src/main/java/org/aya/ide/action/ComputeSignature.java
  tools/src/main/java/org/aya/util/terck/Relation.java
Labels: concrete, refactoring

#885 Concrete refactoring: step 1
  base/src/main/java/org/aya/concrete/stmt/TeleDecl.java
  base/src/test/resources/failure/counterexamples/not-counterexample.aya.txt
  base/src/test/resources/failure/syntax/bad-modifier.aya.txt
  base/src/test/resources/failure/syntax/incomplete-code.aya.txt
  base/src/test/resources/failure/syntax/issue165.aya.txt
  cli/src/main/java/org/aya/cli/parse/AyaGKProducer.java
  cli/src/main/java/org/aya/cli/parse/ModifierParser.java
  cli/src/main/java/org/aya/cli/parse/error/DuplicatedModifierWarn.java
  cli/src/main/java/org/aya/cli/parse/error/NotSuitableModifierError.java
  cli/src/test/java/org/aya/cli/ModifierParserTest.java
Labels: parser, cleanup

#888 Gradle 8.0-rc-2
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  parser/build.gradle.kts
Labels: build

#890 Fix jlink problems
  base/src/main/java/org/aya/resolve/context/PhysicalModuleContext.java
  cli-console/src/main/java/org/aya/cli/console/Main.java
  cli-console/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli-console/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli-impl/src/main/java/module-info.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplCompiler.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplConfig.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplContext.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplShapeFactory.java
  cli-impl/src/main/java/org/aya/cli/utils/RepoLike.java
  cli-impl/src/test/java/org/aya/cli/RenderOptionsTest.java
  cli-impl/src/test/java/org/aya/cli/ReplCompilerTest.java
  cli-impl/src/test/java/org/aya/cli/ReplConfigTest.java
  cli-impl/src/test/java/org/aya/cli/ReplTestBase.java
  ide-lsp/build.gradle.kts
  ide-lsp/src/main/java/module-info.java
  ide-lsp/src/main/shell/aya.bat
  ide-lsp/src/main/shell/aya.sh
Labels: build, deps: jline

#892 Improve scripts for real this time
  .github/workflows/nightly-build.yml
  base/reflect-config.txt
  base/src/main/java/org/aya/core/serde/SerDef.java
Labels: build
