Repository aya-prover/aya-dev, pull requests merged in 2023-02, with the labels that each got.

#898 Implement #896
  base/src/main/java/org/aya/core/term/ProjTerm.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/main/java/org/aya/tyck/unify/Synthesizer.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/success/common/src/Data/List/Core.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/src/Issues/896.aya
  cli-impl/src/main/java/org/aya/cli/parse/AyaProducer.java
Labels: feature, cherry-pick

#895 Leafover of #894
  base/src/main/java/org/aya/concrete/stmt/Command.java
  base/src/main/java/org/aya/concrete/stmt/UseHide.java
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/main/java/org/aya/ref/LocalVar.java
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/resolve/context/ModuleExport.java
  base/src/main/java/org/aya/resolve/context/ModuleSymbol.java
  base/src/main/java/org/aya/resolve/context/NoExportContext.java
  base/src/main/java/org/aya/resolve/context/PhysicalModuleContext.java
  base/src/main/java/org/aya/resolve/error/AccessibilityError.java
  base/src/main/java/org/aya/resolve/error/NameProblem.java
  base/src/main/java/org/aya/resolve/module/CachedModuleLoader.java
  base/src/main/java/org/aya/resolve/module/FileModuleLoader.java
  base/src/main/java/org/aya/resolve/module/ModuleListLoader.java
  base/src/main/java/org/aya/resolve/module/ModuleLoader.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/test/java/org/aya/test/EmptyModuleLoader.java
  base/src/test/resources/failure/scope/import-define-shadow.aya
  base/src/test/resources/failure/scope/import-define-shadow.aya.txt
  base/src/test/resources/failure/scope/import-define-shadow2.aya
  base/src/test/resources/failure/scope/import-define-shadow2.aya.txt
  base/src/test/resources/failure/syntax/use-symbol-module.aya
  base/src/test/resources/failure/syntax/use-symbol-module.aya.txt
  base/src/test/resources/success/nonsense/src/Nonsense/Left.aya
  base/src/test/resources/success/nonsense/src/Nonsense/Right.aya
  base/src/test/resources/success/nonsense/src/Nonsense/Top.aya
  base/src/test/resources/success/src/Diamond.aya
  base/src/test/resources/success/src/Disambiguous.aya
  base/src/test/resources/success/src/OpenImpliesImport.aya
  cli-impl/src/main/java/org/aya/cli/interactive/ReplContext.java
  cli-impl/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli-impl/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli-impl/src/test/java/org/aya/cli/ReplCompilerTest.java
  ide-lsp/src/test/java/org/aya/lsp/LspTest.java
  ide-lsp/src/test/resources/lsp-test-lib/src/HelloWorld.aya
  ide-lsp/src/test/resources/lsp-test-lib/src/NatCore.aya
  ide-lsp/src/test/resources/lsp-test-lib/src/Vec.aya
  note/module.md
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: resolving, syntax design

#901 Fix #900
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/success/common/src/Arith/Nat/Encoding.aya
  base/src/test/resources/success/src/Impredicative.aya
  ide/src/main/java/org/aya/ide/action/InlayHints.java
Labels: bug

#902 Improve LaTeX literate backend
  base/src/test/java/org/aya/literate/HighlighterTest.java
  cli-impl/src/main/java/org/aya/cli/literate/FaithfulPrettier.java
  cli-impl/src/main/java/org/aya/cli/literate/HighlightInfo.java
  cli-impl/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  parser/src/main/java/org/aya/parser/AyaParserDefinitionBase.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
Labels: pretty print

#903 Dedicated token for eols
  base/src/test/java/org/aya/literate/HighlighterTest.java
  base/src/test/java/org/aya/literate/HighlighterTester.java
  base/src/test/resources/success/src/UnivIR.aya
  cli-impl/src/main/java/org/aya/cli/literate/FaithfulPrettier.java
  cli-impl/src/main/java/org/aya/cli/literate/HighlightInfo.java
  cli-impl/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  parser/src/main/grammar/AyaPsiLexer.flex
Labels: pretty print

#905 Try to fix GraalVM build
  .github/workflows/gradle-check.yml
  .github/workflows/nightly-build.yml
  base/reflect-config.txt
  buildSrc/src/main/groovy/org/aya/gradle/CommonTasks.groovy
  gradle/guard-pattern-fix.jar
Labels: build

#906 Fix graal, fix an infinite loop in `CallResolver`, implement unify for `MetaLitTerm`
  .github/workflows/nightly-build.yml
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/test/resources/success/common/src/Arith/Nat.aya
  base/src/test/resources/success/common/src/Arith/Nat/Core.aya
  base/src/test/resources/success/common/src/Arith/Nat/Miscellaneous.aya
  base/src/test/resources/success/common/src/Arith/Nat/Order.aya
  base/src/test/resources/success/common/src/Arith/Nat/Properties.aya
  base/src/test/resources/success/common/src/Logic/HLevels.aya
  base/src/test/resources/success/common/src/Logic/SetTrunc.aya
  base/src/test/resources/success/common/src/Paths.aya
Labels: bug, build

#908 Predicativity assumption for terck
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/test/resources/success/common/src/Data/FiniteMultiSet/Core.aya
  base/src/test/resources/success/common/src/Logic/SetTrunc.aya
Labels: library, terck

#909 Let Open Expr
  base/src/main/java/org/aya/concrete/Expr.java
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/resolve/context/NoExportContext.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/test/resources/failure/syntax/duplicate-let-open.aya
  base/src/test/resources/failure/syntax/duplicate-let-open.aya.txt
  base/src/test/resources/success/src/LetOpenExpr.aya
  cli-impl/src/main/java/org/aya/cli/parse/AyaProducer.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: syntax design

#913 Partially address some problems in pretty printer
  base/src/test/java/org/aya/literate/AyaMdParserTest.java
  base/src/test/java/org/aya/literate/HighlighterTest.java
  base/src/test/java/org/aya/literate/HighlighterTester.java
  cli-impl/src/main/java/org/aya/cli/literate/FaithfulPrettier.java
  cli-impl/src/main/java/org/aya/cli/literate/HighlightInfo.java
  cli-impl/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli-impl/src/main/java/org/aya/cli/single/SingleAyaFile.java
  cli-impl/src/test/java/org/aya/cli/LexerPlayground.java
  cli-impl/src/test/java/org/aya/cli/RenderOptionsTest.java
  parser/src/main/grammar/AyaPsiLexer.flex
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/style/AyaColorScheme.java
  pretty/src/test/java/org/aya/pretty/Reproduction.java
  tools-repl/src/main/java/org/aya/repl/ReplHighlighter.java
  tools-repl/src/main/java/org/aya/repl/ReplLexer.java
  tools-repl/src/main/java/org/aya/repl/ReplParser.java
Labels: highlighter

#917 Slightly improve MCTs
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  base/src/test/java/org/aya/tyck/PatCCTest.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  tools/src/main/java/module-info.java
  tools/src/main/java/org/aya/util/tyck/MCT.java
Labels: coverage

#915 Rework `Term` visitor to include patterns.
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/core/def/CtorDef.java
  base/src/main/java/org/aya/core/def/DataDef.java
  base/src/main/java/org/aya/core/def/FieldDef.java
  base/src/main/java/org/aya/core/def/FnDef.java
  base/src/main/java/org/aya/core/def/GenericDef.java
  base/src/main/java/org/aya/core/def/PrimDef.java
  base/src/main/java/org/aya/core/def/StructDef.java
  base/src/main/java/org/aya/core/pat/Pat.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/term/AppTerm.java
  base/src/main/java/org/aya/core/term/CoeTerm.java
  base/src/main/java/org/aya/core/term/ConCall.java
  base/src/main/java/org/aya/core/term/DataCall.java
  base/src/main/java/org/aya/core/term/ErrorTerm.java
  base/src/main/java/org/aya/core/term/FieldTerm.java
  base/src/main/java/org/aya/core/term/FnCall.java
  base/src/main/java/org/aya/core/term/FormulaTerm.java
  base/src/main/java/org/aya/core/term/HCompTerm.java
  base/src/main/java/org/aya/core/term/InTerm.java
  base/src/main/java/org/aya/core/term/IntegerTerm.java
  base/src/main/java/org/aya/core/term/IntervalTerm.java
  base/src/main/java/org/aya/core/term/LamTerm.java
  base/src/main/java/org/aya/core/term/ListTerm.java
  base/src/main/java/org/aya/core/term/MatchTerm.java
  base/src/main/java/org/aya/core/term/MetaLitTerm.java
  base/src/main/java/org/aya/core/term/MetaPatTerm.java
  base/src/main/java/org/aya/core/term/MetaTerm.java
  base/src/main/java/org/aya/core/term/NewTerm.java
  base/src/main/java/org/aya/core/term/OutTerm.java
  base/src/main/java/org/aya/core/term/PAppTerm.java
  base/src/main/java/org/aya/core/term/PLamTerm.java
  base/src/main/java/org/aya/core/term/PartialTerm.java
  base/src/main/java/org/aya/core/term/PartialTyTerm.java
  base/src/main/java/org/aya/core/term/PathTerm.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/term/PrimCall.java
  base/src/main/java/org/aya/core/term/ProjTerm.java
  base/src/main/java/org/aya/core/term/RefTerm.java
  base/src/main/java/org/aya/core/term/SigmaTerm.java
  base/src/main/java/org/aya/core/term/SortTerm.java
  base/src/main/java/org/aya/core/term/StringTerm.java
  base/src/main/java/org/aya/core/term/StructCall.java
  base/src/main/java/org/aya/core/term/Term.java
  base/src/main/java/org/aya/core/term/TupTerm.java
  base/src/main/java/org/aya/core/visitor/DefConsumer.java
  base/src/main/java/org/aya/core/visitor/DefVisitor.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/core/visitor/PatTraversal.java
  base/src/main/java/org/aya/core/visitor/TermConsumer.java
  base/src/main/java/org/aya/core/visitor/VarConsumer.java
  base/src/main/java/org/aya/terck/CallResolver.java
  tools/src/main/java/org/aya/util/Arg.java
Labels: refactoring

#919 Pattern classifier v2
  base/src/main/java/org/aya/core/term/Callable.java
  base/src/main/java/org/aya/core/visitor/EndoTerm.java
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatTree.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  base/src/main/java/org/aya/tyck/tycker/StatedTycker.java
  base/src/test/java/org/aya/test/TestRunner.java
  base/src/test/java/org/aya/tyck/PatCCTest.java
  base/src/test/java/org/aya/tyck/TyckDeclTest.java
  base/src/test/resources/failure/patterns/confl-literal.aya.txt
  base/src/test/resources/failure/patterns/confl-literal2.aya.txt
  base/src/test/resources/failure/patterns/issues/issue187.aya.txt
  base/src/test/resources/failure/patterns/issues/issue281.aya.txt
  base/src/test/resources/failure/patterns/issues/issue319.aya.txt
  base/src/test/resources/failure/patterns/issues/issue366.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue352.aya.txt
  base/src/test/resources/failure/patterns/literal-conf.aya.txt
  base/src/test/resources/failure/patterns/nested-missing.aya.txt
  base/src/test/resources/success/src/PaulsonNormalization.aya
  tools/src/main/java/module-info.java
  tools/src/main/java/org/aya/util/TreeBuilder.java
  tools/src/main/java/org/aya/util/tyck/MCT.java
  tools/src/main/java/org/aya/util/tyck/pat/Indexed.java
  tools/src/main/java/org/aya/util/tyck/pat/PatClass.java
Labels: coverage

#918 Merge: declModifiers + fnModifiers
  base/src/main/java/org/aya/generic/Modifier.java
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/core/NormalizeTest.java
  base/src/test/java/org/aya/core/PrettierTest.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/java/org/aya/cubical/PartialTest.java
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/java/org/aya/tyck/PatCCTest.java
  base/src/test/resources/failure/counterexamples/basic.aya
  base/src/test/resources/failure/counterexamples/not-in-ctx.aya
  base/src/test/resources/failure/cubical/boundary-disagrees.aya
  base/src/test/resources/failure/cubical/face-mismatch.aya
  base/src/test/resources/failure/cubical/transport-non-constant.aya
  base/src/test/resources/failure/holes/issue420.aya
  base/src/test/resources/failure/holes/pattern-confluence.aya
  base/src/test/resources/failure/holes/pattern-confluence.aya.txt
  base/src/test/resources/failure/patterns/confl-literal.aya
  base/src/test/resources/failure/patterns/confl-literal.aya.txt
  base/src/test/resources/failure/patterns/confl-literal2.aya
  base/src/test/resources/failure/patterns/confl-literal2.aya.txt
  base/src/test/resources/failure/patterns/confl.aya
  base/src/test/resources/failure/patterns/confl.aya.txt
  base/src/test/resources/failure/patterns/issues/issue302.aya
  base/src/test/resources/failure/patterns/issues/issue302.aya.txt
  base/src/test/resources/failure/patterns/issues/issue354-confl.aya
  base/src/test/resources/failure/patterns/issues/issue354-reduce.aya
  base/src/test/resources/failure/patterns/issues/issue363.aya
  base/src/test/resources/failure/patterns/issues/issue366.aya
  base/src/test/resources/failure/patterns/issues/issue366.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue99-1.aya
  base/src/test/resources/failure/patterns/issues2/issue99-1.aya.txt
  base/src/test/resources/failure/patterns/issues2/issue99-2.aya
  base/src/test/resources/failure/patterns/issues2/issue99-2.aya.txt
  base/src/test/resources/failure/patterns/literal-conf.aya
  base/src/test/resources/failure/patterns/literal-conf.aya.txt
  base/src/test/resources/failure/patterns/unsure-missing.aya
  base/src/test/resources/failure/syntax/bad-modifier.aya.txt
  base/src/test/resources/literate/hoshino-said.aya.md
  base/src/test/resources/success/common/src/Arith/Nat/Core.aya
  base/src/test/resources/success/common/src/Arith/Nat/Miscellaneous.aya
  base/src/test/resources/success/common/src/Data/List/Core.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Intervals.aya
  base/src/test/resources/success/src/Assoc.aya
  base/src/test/resources/success/src/Examples.aya
  base/src/test/resources/success/src/LamTupInfer.aya
  base/src/test/resources/success/src/Literal.aya
  base/src/test/resources/success/src/ProtoIssues/743.aya
  cli-impl/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli-impl/src/main/java/org/aya/cli/parse/ModifierParser.java
  cli-impl/src/main/java/org/aya/cli/parse/ModifierProblem.java
  cli-impl/src/main/java/org/aya/cli/parse/error/ContradictModifierError.java
  cli-impl/src/main/java/org/aya/cli/parse/error/DuplicatedModifierWarn.java
  cli-impl/src/test/java/org/aya/cli/CodifierTest.java
  cli-impl/src/test/java/org/aya/cli/ModifierParserTest.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser

#920 Improve library
  base/src/test/resources/success/common/src/Arith/Nat/Encoding.aya
  base/src/test/resources/success/common/src/Arith/Ordinal.aya
  base/src/test/resources/success/common/src/Paths.aya
  base/src/test/resources/success/common/src/Relation/Formula.aya
Labels: library

#922 Kala improvements
  base/src/main/java/org/aya/tyck/pat/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  base/src/test/resources/failure/patterns/issues/issue281.aya.txt
  base/src/test/resources/failure/patterns/issues/issue319.aya.txt
  cli-impl/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli-impl/src/main/java/org/aya/cli/render/vscode/VscColorTheme.java
  tools/src/main/java/org/aya/util/tyck/pat/Indexed.java
Labels: coverage, deps: kala

#923 Improve unification to compile the blogs
  base/src/main/java/org/aya/concrete/Pattern.java
  base/src/main/java/org/aya/concrete/TacNode.java
  base/src/main/java/org/aya/concrete/desugar/Desugarer.java
  base/src/main/java/org/aya/concrete/error/BadCounterexampleWarn.java
  base/src/main/java/org/aya/concrete/error/BadModifierWarn.java
  base/src/main/java/org/aya/concrete/error/DoNotationError.java
  base/src/main/java/org/aya/concrete/error/OperatorError.java
  base/src/main/java/org/aya/concrete/remark/CodeAttrProcessor.java
  base/src/main/java/org/aya/concrete/remark/CodeOptions.java
  base/src/main/java/org/aya/concrete/remark/UnsupportedMarkdown.java
  base/src/main/java/org/aya/concrete/visitor/ExprFolder.java
  base/src/main/java/org/aya/core/def/Def.java
  base/src/main/java/org/aya/core/meta/Meta.java
  base/src/main/java/org/aya/core/repr/CodeShape.java
  base/src/main/java/org/aya/core/term/ErrorTerm.java
  base/src/main/java/org/aya/core/term/IntegerTerm.java
  base/src/main/java/org/aya/core/term/LamTerm.java
  base/src/main/java/org/aya/core/term/ListTerm.java
  base/src/main/java/org/aya/core/term/MetaLitTerm.java
  base/src/main/java/org/aya/core/term/PiTerm.java
  base/src/main/java/org/aya/core/visitor/DefVisitor.java
  base/src/main/java/org/aya/prettier/BasePrettier.java
  base/src/main/java/org/aya/resolve/context/ModuleSymbol.java
  base/src/main/java/org/aya/resolve/error/GeneralizedNotAvailableError.java
  base/src/main/java/org/aya/resolve/error/PrimResolveError.java
  base/src/main/java/org/aya/terck/BadRecursion.java
  base/src/main/java/org/aya/tyck/error/CounterexampleError.java
  base/src/main/java/org/aya/tyck/error/FieldError.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/error/LevelError.java
  base/src/main/java/org/aya/tyck/error/LicitError.java
  base/src/main/java/org/aya/tyck/error/TupleError.java
  base/src/main/java/org/aya/tyck/pat/PatternProblem.java
  base/src/main/java/org/aya/tyck/trace/Trace.java
  base/src/main/java/org/aya/tyck/unify/DoubleChecker.java
  base/src/main/java/org/aya/tyck/unify/TermComparator.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/resources/success/src/Issues/924.aya
Labels: meta variables

#925 Anonymous examples
  base/src/main/java/org/aya/concrete/stmt/decl/TeleDecl.java
  base/src/main/java/org/aya/generic/Constants.java
  base/src/main/java/org/aya/resolve/visitor/StmtShallowResolver.java
  base/src/test/resources/success/src/AnonymousExample.aya
  cli-impl/src/main/java/org/aya/cli/parse/AyaProducer.java
  cli-impl/src/main/java/org/aya/cli/parse/ModifierParser.java
  cli-impl/src/test/java/org/aya/cli/ModifierParserTest.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: syntax design

#916 Unfold before termination check!
  base/src/main/java/org/aya/core/visitor/Expander.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/test/resources/success/common/src/Data/FiniteMultiSet/Core.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
Labels: unfold, terck

#926 Keyword: `Pi` -> `Fn`, `λ` -> `fn`
  base/src/main/java/org/aya/prettier/ConcretePrettier.java
  base/src/main/java/org/aya/prettier/CorePrettier.java
  base/src/test/java/org/aya/concrete/ParseTest.java
  base/src/test/java/org/aya/core/PrettierTest.java
  base/src/test/java/org/aya/core/SuedeTest.java
  base/src/test/java/org/aya/cubical/PathTest.java
  base/src/test/java/org/aya/experiments/NormalizeHugeChurch.java
  base/src/test/resources/failure/cubical/transport-non-constant.aya.txt
  base/src/test/resources/failure/holes/ulf-hole-illtype.aya
  base/src/test/resources/failure/holes/ulf-hole-illtype.aya.txt
  base/src/test/resources/failure/implicit/implicit2.aya
  base/src/test/resources/failure/implicit/implicit2.aya.txt
  base/src/test/resources/failure/patterns/selection-failure.aya
  base/src/test/resources/failure/patterns/selection-failure.aya.txt
  base/src/test/resources/failure/struct/arg-num-mismatch.aya
  base/src/test/resources/failure/struct/arg-num-mismatch.aya.txt
  base/src/test/resources/failure/syntax/issue164.aya
  base/src/test/resources/failure/syntax/issue164.aya.txt
  base/src/test/resources/failure/tyck/issues/issue659-01.aya.txt
  base/src/test/resources/failure/tyck/unexpected-end.aya
  base/src/test/resources/failure/tyck/unexpected-end.aya.txt
  base/src/test/resources/failure/tyck/want-but-no.aya.txt
  base/src/test/resources/literate/syntax.aya.md
  base/src/test/resources/success/common/src/Algebra/Formula.aya
  base/src/test/resources/success/common/src/Arith/Nat/Encoding.aya
  base/src/test/resources/success/common/src/Arith/Ordinal.aya
  base/src/test/resources/success/common/src/Data/Tree/RedBlack/Base.aya
  base/src/test/resources/success/common/src/Data/Vec.aya
  base/src/test/resources/success/common/src/Logic/SetTrunc.aya
  base/src/test/resources/success/common/src/Relation/Formula.aya
  base/src/test/resources/success/src/Binop.aya
  base/src/test/resources/success/src/CubicalBasics.aya
  base/src/test/resources/success/src/CubicalMoveFromLib.aya
  base/src/test/resources/success/src/GlueProto.aya
  base/src/test/resources/success/src/Invol.aya
  base/src/test/resources/success/src/Issues/523.aya
  base/src/test/resources/success/src/Issues/564.aya
  base/src/test/resources/success/src/Issues/595.aya
  base/src/test/resources/success/src/Issues/625.aya
  base/src/test/resources/success/src/Issues/861.aya
  base/src/test/resources/success/src/Issues/924.aya
  base/src/test/resources/success/src/Mutual.aya
  base/src/test/resources/success/src/ProtoIssues/659.aya
  base/src/test/resources/success/src/ProtoIssues/726.aya
  base/src/test/resources/success/src/ProtoIssues/736.aya
  base/src/test/resources/success/src/Refparo/Model.aya
  base/src/test/resources/success/src/Sorts.aya
  base/src/test/resources/success/src/TypeSafeNorm.aya
  base/src/test/resources/success/src/UnivIR.aya
  cli-impl/src/test/java/org/aya/cli/CodifierTest.java
  cli-impl/src/test/java/org/aya/cli/ReplTestBase.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/grammar/AyaPsiLexer.flex
  parser/src/main/grammar/AyaPsiParser.bnf
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
Labels: syntax design

#929 Fix some potential bugs
  base/src/main/java/org/aya/core/serde/CompiledAya.java
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/resolve/context/Context.java
  base/src/main/java/org/aya/resolve/context/ModulePath.java
  base/src/main/java/org/aya/resolve/context/ModuleSymbol.java
Labels: bug

#932 Literate: KaTeX, ServerSideRendering, and options to inline highlight styles
  base/src/test/java/org/aya/literate/AyaMdParserTest.java
  cli-console/src/main/java/org/aya/cli/console/Main.java
  cli-console/src/main/java/org/aya/cli/console/MainArgs.java
  cli-console/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli-console/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplConfig.java
  cli-impl/src/main/java/org/aya/cli/render/RenderOptions.java
  cli-impl/src/main/java/org/aya/cli/single/CompilerFlags.java
  cli-impl/src/main/java/org/aya/cli/single/SingleAyaFile.java
  cli-impl/src/main/java/org/aya/cli/utils/CliEnums.java
  cli-impl/src/test/java/org/aya/cli/RenderOptionsTest.java
  pretty/src/main/java/org/aya/pretty/backend/html/DocHtmlPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/html/HtmlConstants.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/latex/TeXStylist.java
  pretty/src/main/java/org/aya/pretty/backend/md/DocMdPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/string/StringPrinterConfig.java
  pretty/src/main/java/org/aya/pretty/backend/terminal/DocTermPrinter.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/main/java/org/aya/pretty/printer/PrinterConfig.java
Labels: literate

#933 Refactorings, fix tyck ordering in patterns, improve latex backend, add things to library
  .github/README.md
  base/src/main/java/org/aya/concrete/remark/CodeAttrProcessor.java
  base/src/main/java/org/aya/core/pat/PatMatcher.java
  base/src/main/java/org/aya/core/term/IntervalTerm.java
  base/src/main/java/org/aya/core/visitor/AyaRestrSimplifier.java
  base/src/main/java/org/aya/ref/GenerateKind.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/order/SigRefFinder.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/test/java/org/aya/literate/HighlighterTest.java
  base/src/test/java/org/aya/test/EmptyModuleLoader.java
  base/src/test/resources/failure/holes/ulf-hole-illtype.aya.txt
  base/src/test/resources/failure/patterns/issues/issue281.aya.txt
  base/src/test/resources/failure/patterns/issues/issue319.aya.txt
  base/src/test/resources/failure/patterns/selection-failure.aya.txt
  base/src/test/resources/failure/struct/arg-num-mismatch.aya.txt
  base/src/test/resources/failure/syntax/issue164.aya.txt
  base/src/test/resources/failure/tyck/unexpected-end.aya.txt
  base/src/test/resources/success/common/src/TypeTheory/Thorsten.aya
  base/src/test/resources/success/src/TypeTheory.aya
  cli-impl/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli-impl/src/test/java/org/aya/cli/RenderOptionsTest.java
  parser/src/main/java/org/aya/parser/AyaParserDefinitionBase.java
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
  pretty/src/main/java/org/aya/pretty/backend/latex/TeXStylist.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  pretty/src/test/java/org/aya/pretty/Reproduction.java
  tools/src/main/java/org/aya/util/reporter/IgnoringReporter.java
  tools/src/main/java/org/aya/util/terck/Relation.java
Labels: bug, refactoring

#934 Fix native image build
  base/reflect-config.txt
  buildSrc/src/main/groovy/org/aya/gradle/CommonTasks.groovy
  cli-console/reflect-config.txt
  cli-impl/.gitignore
  cli-impl/build.gradle.kts
  cli-impl/reflect-config.txt
Labels: native

#936 Add more stuffs
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/tyck/unify/Unifier.java
  base/src/test/resources/success/common/src/TypeTheory/Thorsten.aya
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
Labels: parser, library
