Repository aya-prover/aya-dev, pull requests merged in 2023-10, with the labels that each got.

#1001 Upgrade Gradle Wrapper to 8.4
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#1002 Shape matcher code review
  base/src/main/java/org/aya/core/repr/AyaShape.java
  base/src/main/java/org/aya/core/repr/CodeShape.java
  base/src/main/java/org/aya/core/repr/ParamShape.java
  base/src/main/java/org/aya/core/repr/PatShape.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/repr/ShapeRecognition.java
  base/src/main/java/org/aya/core/repr/TermShape.java
  base/src/main/java/org/aya/core/serde/SerDef.java
  base/src/main/java/org/aya/generic/Shaped.java
  base/src/main/java/org/aya/prettier/CorePrettier.java
  base/src/test/java/org/aya/repr/ShapeMatcherTest.java
  base/src/test/resources/failure/syntax/implicit-element-list-pattern.aya
  base/src/test/resources/failure/syntax/implicit-element-list-pattern.aya.txt
  base/src/test/resources/success/src/List2.aya
  cli-impl/src/main/java/org/aya/cli/interactive/ReplContext.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplShapeFactory.java
  tools/src/main/java/org/aya/util/RepoLike.java
Labels: shape

#1003 Leftover #1003
  base/src/main/java/org/aya/core/repr/AyaShape.java
  base/src/main/java/org/aya/core/repr/CodeShape.java
  base/src/main/java/org/aya/core/repr/ParamShape.java
  base/src/main/java/org/aya/core/repr/PatShape.java
  base/src/main/java/org/aya/core/repr/ShapeMatcher.java
  base/src/main/java/org/aya/core/repr/TermShape.java
  base/src/test/java/org/aya/repr/ShapeMatcherTest.java
Labels: shape

#1005 Aya quality fake literate
  .gitignore
  base/src/test/java/org/aya/literate/LiterateFaithfulPrettierTest.java
  cli-console/src/main/java/org/aya/cli/console/Main.java
  cli-console/src/main/java/org/aya/cli/console/MainArgs.java
  cli-impl/src/main/java/org/aya/cli/literate/FaithfulPrettier.java
  cli-impl/src/main/java/org/aya/cli/literate/FlclFaithfulPrettier.java
  cli-impl/src/main/java/org/aya/cli/literate/FlclToken.java
  cli-impl/src/main/java/org/aya/cli/literate/LiterateFaithfulPrettier.java
  cli-impl/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli-impl/src/main/java/org/aya/cli/parse/AyaParserImpl.java
  cli-impl/src/main/java/org/aya/cli/parse/FlclParser.java
  cli-impl/src/main/java/org/aya/cli/parse/ParserUtil.java
  cli-impl/src/main/java/org/aya/cli/single/SingleAyaFile.java
  cli-impl/src/main/java/org/aya/cli/utils/LiterateData.java
  gradle/libs.versions.toml
  parser/.gitignore
  parser/build.gradle.kts
  parser/src/main/gen/org/aya/parser/FlclPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/FlclPsiParser.java
  parser/src/main/grammar/FlclPsiLexer.flex
  parser/src/main/grammar/FlclPsiParser.bnf
  parser/src/main/java/org/aya/parser/AyaParserDefinitionBase.java
  parser/src/main/java/org/aya/parser/FlclLanguage.java
  parser/src/main/java/org/aya/parser/FlclParserDefinition.java
  parser/src/main/java/org/aya/parser/ParserDefBase.java
  tools/src/main/java/org/aya/util/error/SourceFileLocator.java
Labels: cli, literate

#1006 Slightly polish code to respect more pretty settings
  base/src/test/java/org/aya/literate/AyaMdParserTest.java
  base/src/test/java/org/aya/literate/FaithfulPrettierTest.java
  base/src/test/java/org/aya/literate/HighlighterTester.java
  base/src/test/java/org/aya/test/TestRunner.java
  base/src/test/resources/flcl/.gitignore
  base/src/test/resources/flcl/test.flcl
  cli-console/src/main/java/org/aya/cli/console/Main.java
  cli-console/src/main/java/org/aya/cli/console/MainArgs.java
  tools/src/main/java/org/aya/util/FileUtil.java
Labels: test fixtures, cli

#1007 Fix nightly build, improve whitespace handling
  cli-console/src/main/java/org/aya/cli/console/Main.java
  cli-console/src/main/java/org/aya/cli/console/MainArgs.java
  cli-impl/src/main/java/org/aya/cli/literate/FlclToken.java
  cli-impl/src/main/java/org/aya/cli/parse/FlclParser.java
  parser/src/main/grammar/FlclPsiLexer.flex
  pretty/src/main/java/org/aya/pretty/backend/latex/DocTeXPrinter.java
Labels: cli, literate
