Repository aya-prover/aya-dev, pull requests merged in 2024-12, with the labels that each got.

#1168 Fix #1151
  base/src/main/java/org/aya/primitive/PrimFactory.java
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/resolve/module/ModuleCallback.java
  base/src/main/java/org/aya/resolve/visitor/StmtBinder.java
  base/src/main/java/org/aya/resolve/visitor/StmtPreResolver.java
  base/src/main/java/org/aya/unify/TermComparator.java
  base/src/test/java/org/aya/tyck/TyckTest.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplCompiler.java
  cli-impl/src/main/java/org/aya/cli/library/LibraryModuleLoader.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/CompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DelegateCompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/InMemoryCompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  cli-impl/src/main/java/org/aya/cli/utils/CompilerUtil.java
  ide-lsp/src/test/java/org/aya/lsp/tester/LspTestCompilerAdvisor.java
  ide/src/main/java/org/aya/ide/LspPrimFactory.java
  jit-compiler/src/main/java/org/aya/compiler/CompiledModule.java
  jit-compiler/src/main/java/org/aya/compiler/TermExprializer.java
  jit-compiler/src/test/java/CompileTest.java
  syntax/src/main/java/org/aya/prettier/BasePrettier.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/BindBlock.java
Labels: library, jit

#1171 Projection Typecheck
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  base/src/main/java/org/aya/unify/TermComparator.java
  cli-impl/src/test/resources/success/src/Test.aya
  jit-compiler/src/main/java/org/aya/compiler/TermExprializer.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/core/term/ProjTerm.java
Labels: tyck

#1170 Fix #1037 and check my cubical knowledge
  base/src/main/java/org/aya/normalize/Normalizer.java
  cli-impl/src/test/resources/shared/src/data/vec/properties.aya
  cli-impl/src/test/resources/success/src/KanPDF.aya
  syntax/src/main/java/org/aya/syntax/core/term/DepTypeTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/xtt/CoeTerm.java
Labels: reduction, cubical

#1175 Fix head normalization
  base/src/main/java/org/aya/normalize/Normalizer.java
  cli-impl/src/test/java/org/aya/test/cli/ReplCompilerTest.java
  ide-lsp/build.gradle.kts
  syntax/src/main/java/org/aya/syntax/core/term/AppTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/ClassCastTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/LamTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/ProjTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/call/Callable.java
  syntax/src/main/java/org/aya/syntax/core/term/call/MemberCall.java
  syntax/src/main/java/org/aya/syntax/core/term/call/MetaCall.java
  syntax/src/main/java/org/aya/syntax/core/term/marker/BetaRedex.java
  syntax/src/main/java/org/aya/syntax/core/term/xtt/EqTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/xtt/PAppTerm.java
Labels: reduction

#1180 doc: fix imkiva blog link in readme
  .github/README.md
Labels: documentation

#1176 Add `connect`, `disconnect` APIs, change related functions to perform necessary cleanups
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/tycker/AbstractTycker.java
  base/src/main/java/org/aya/tyck/tycker/Contextful.java
  base/src/main/java/org/aya/tyck/tycker/Stateful.java
  syntax/src/main/java/org/aya/syntax/ref/LocalCtx.java
  syntax/src/main/java/org/aya/syntax/ref/MapLocalCtx.java
  syntax/src/main/java/org/aya/syntax/ref/SeqLocalCtx.java
Labels: tyck, cartesian cubical

#1182 Fix #1178
  cli-impl/src/test/resources/negative/GoalAndMeta.txt
  tools/src/main/java/org/aya/util/reporter/CountingReporter.java
  tools/src/main/java/org/aya/util/reporter/Problem.java
  tools/src/main/java/org/aya/util/reporter/ThrowingReporter.java
Labels: bug, library

#1183 A bunch of error report improvements
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/main/java/org/aya/tyck/error/ClassError.java
  base/src/main/java/org/aya/tyck/error/CubicalError.java
  base/src/main/java/org/aya/tyck/error/MetaVarError.java
  base/src/main/java/org/aya/tyck/error/PrimError.java
  base/src/main/java/org/aya/tyck/error/TyckOrderError.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatUnify.java
  base/src/main/java/org/aya/unify/Unifier.java
  cli-impl/src/test/java/org/aya/test/fixtures/ClassError.java
  cli-impl/src/test/resources/negative/ClassError.txt
  cli-impl/src/test/resources/negative/ExprTyckError.txt
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
  syntax/src/main/java/org/aya/syntax/core/pat/BindEater.java
  syntax/src/main/java/org/aya/syntax/core/pat/Pat.java
  syntax/src/main/java/org/aya/syntax/core/pat/PatMatcher.java
Labels: error report

#1184 Applying to a meta-typed term is ok, avoid reporting the same unsolved meta many times
  base/src/main/java/org/aya/normalize/Finalizer.java
  base/src/main/java/org/aya/tyck/ArgsComputer.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  cli-impl/src/test/resources/negative/GoalAndMeta.txt
  cli-impl/src/test/resources/success/src/Test.aya
  note/jit.md
Labels: documentation, error report, tyck, clauses

#1186 Better code to deal with metavar refinements
  base/src/main/java/org/aya/tyck/ArgsComputer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  cli-impl/src/test/resources/success/src/Test.aya
  syntax/src/main/java/org/aya/syntax/core/term/DepTypeTerm.java
  syntax/src/main/java/org/aya/syntax/ref/MetaVar.java
Labels: core: dep type

#1189 Cherry picks from match term
  base/src/main/java/org/aya/normalize/Finalizer.java
  base/src/main/java/org/aya/tyck/ArgsComputer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/TyckState.java
  base/src/main/java/org/aya/unify/DoubleChecker.java
  base/src/main/java/org/aya/unify/Unifier.java
  cli-impl/src/test/resources/shared/src/data/either.aya
  cli-impl/src/test/resources/shared/src/data/list/properties.aya
  cli-impl/src/test/resources/shared/src/data/sum.aya
  cli-impl/src/test/resources/shared/src/data/sum/base.aya
  cli-impl/src/test/resources/success/src/PLFA.aya
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/core/term/call/MetaCall.java
  syntax/src/main/java/org/aya/syntax/ref/MetaVar.java
Labels: documentation, error report, cherry-pick, library

#1190 Cherry pick erased patterns from match PR
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/TermExprializer.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/core/pat/Pat.java
  syntax/src/main/java/org/aya/syntax/core/pat/PatMatcher.java
  syntax/src/main/java/org/aya/syntax/core/pat/PatToTerm.java
  syntax/src/main/java/org/aya/syntax/core/pat/TypeEraser.java
Labels: core: pattern, tyck: pattern

#1188 Introduce MathTerm
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/primitive/ShapeMatcher.java
  base/src/main/java/org/aya/resolve/StmtResolvers.java
  base/src/main/java/org/aya/resolve/salt/Desalt.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/IApplyConfl.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  base/src/test/java/org/aya/syntax/core/PrettierTest.java
  base/src/test/java/org/aya/tyck/TyckTest.java
  cli-impl/src/test/resources/success/src/Match.aya
  jit-compiler/src/main/java/org/aya/compiler/ExprializeUtils.java
  jit-compiler/src/main/java/org/aya/compiler/FnSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/TermExprializer.java
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/prettier/ConcretePrettier.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/prettier/Tokens.java
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
  syntax/src/main/java/org/aya/syntax/core/def/FnDef.java
  syntax/src/main/java/org/aya/syntax/core/pat/Pat.java
  syntax/src/main/java/org/aya/syntax/core/term/MatchTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/Term.java
Labels: meta variables, core: pattern, tyck: match, core: match

#1191 Pragma syntax and "suppress warnings"
  base/src/main/java/org/aya/resolve/context/BindContext.java
  base/src/main/java/org/aya/resolve/context/Context.java
  base/src/main/java/org/aya/resolve/visitor/StmtBinder.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/tycker/Problematic.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplCompiler.java
  cli-impl/src/test/java/org/aya/test/fixtures/ParseError.java
  cli-impl/src/test/resources/negative/ParseError.txt
  cli-impl/src/test/resources/shared/src/data/fmset/base.aya
  cli-impl/src/test/resources/shared/src/data/vec/properties.aya
  cli-impl/src/test/resources/success/src/Guide.aya
  cli-impl/src/test/resources/success/src/PLFA.aya
  cli-impl/src/test/resources/success/src/Test.aya
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiLexer.flex
  parser/src/main/grammar/AyaPsiParser.bnf
  producer/src/main/java/org/aya/producer/AyaProducer.java
  producer/src/main/java/org/aya/producer/error/BadModifierWarn.java
  producer/src/main/java/org/aya/producer/error/BadXWarn.java
  producer/src/main/java/org/aya/producer/error/ModifierProblem.java
  syntax/src/main/java/org/aya/generic/Modifier.java
  syntax/src/main/java/org/aya/generic/Suppress.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/decl/Decl.java
  tools/src/main/java/org/aya/util/reporter/SuppressingReporter.java
Labels: pragma

#1192 Release 0.35
  gradle/libs.versions.toml
  note/early-changelog.md
Labels: release

#1196 TRO in normalizer, report fewer unsolved meta errors
  base/src/main/java/org/aya/normalize/Finalizer.java
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/tyck/Jdg.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/tycker/AbstractTycker.java
  base/src/main/java/org/aya/tyck/tycker/TeleTycker.java
  cli-impl/src/test/resources/negative/GoalAndMeta.txt
Labels: error report, reduction, meta variables, test fixtures, performance

#1200 Unimport and correctly loading libraries in REPL
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/resolve/visitor/StmtPreResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  cli-console/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli-console/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplCompiler.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/library/source/LibrarySource.java
  cli-impl/src/test/java/org/aya/test/cli/ReplCompilerTest.java
  ide-lsp/src/test/java/org/aya/lsp/LspTest.java
  jit-compiler/src/main/java/org/aya/compiler/CompiledModule.java
Labels: bug, repl

#1203 Use try-with-resource for cleanup
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  base/src/main/java/org/aya/tyck/tycker/AbstractTycker.java
  base/src/main/java/org/aya/tyck/tycker/AppTycker.java
  base/src/main/java/org/aya/tyck/tycker/Contextful.java
  base/src/main/java/org/aya/unify/DoubleChecker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  base/src/main/java/org/aya/unify/TermComparator.java
Labels: refactoring

#1204 Correctly report "instance not found" errors
  base/src/main/java/org/aya/tyck/ArgsComputer.java
  base/src/main/java/org/aya/tyck/error/ClassError.java
  base/src/main/java/org/aya/tyck/error/LicitError.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  cli-impl/src/test/java/org/aya/test/fixtures/ClassError.java
  cli-impl/src/test/resources/negative/ClassError.txt
  syntax/src/main/java/org/aya/syntax/concrete/stmt/StmtVisitor.java
Labels: error report

#1205 Introduce `aya-lexer`, slightly reorganize code
  base/src/main/java/org/aya/tyck/ArgsComputer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/ctx/LocalLet.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/tycker/AbstractTycker.java
  base/src/main/java/org/aya/tyck/tycker/AppTycker.java
  base/src/main/java/org/aya/tyck/tycker/Problematic.java
  base/src/main/java/org/aya/tyck/tycker/TeleTycker.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplCompiler.java
  cli-impl/src/main/java/org/aya/cli/literate/AyaMdParser.java
  cli-impl/src/main/java/org/aya/cli/literate/FaithfulPrettier.java
  cli-impl/src/main/java/org/aya/cli/literate/LiterateFaithfulPrettier.java
  cli-impl/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli-impl/src/main/java/org/aya/cli/utils/LiterateData.java
  cli-impl/src/test/java/org/aya/test/literate/AyaMdParserTest.java
  cli-impl/src/test/resources/literate/expected-test.aya
  cli-impl/src/test/resources/literate/test.aya.md
  syntax/src/main/java/org/aya/syntax/GenericAyaFile.java
  syntax/src/main/java/org/aya/syntax/core/Jdg.java
  syntax/src/main/java/org/aya/syntax/literate/AyaLiterate.java
  tools-md/src/main/java/org/aya/literate/Literate.java
  tools-md/src/main/java/org/aya/literate/parser/BaseMdParser.java
  tools-md/src/main/java/org/aya/literate/parser/InterestingLanguage.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: refactoring, literate, highlighter

#1207 repl: only prints TopLevelDef
  cli-console/src/main/java/org/aya/cli/repl/AyaRepl.java
Labels: repl

#1209 Improve the cli output of many things
  base/src/main/java/org/aya/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/resolve/error/NameProblem.java
  cli-console/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli-impl/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli-impl/src/test/java/org/aya/test/TestRunner.java
  tools/src/main/java/org/aya/util/reporter/CountingReporter.java
Labels: test fixtures, developer experience

#1210 New match term syntax concrete stuff
  base/src/main/java/org/aya/resolve/salt/Desalt.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  cli-impl/src/test/java/org/aya/test/fixtures/ParseError.java
  cli-impl/src/test/resources/negative/ParseError.txt
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiLexer.flex
  parser/src/main/grammar/AyaPsiParser.bnf
  parser/src/main/java/org/aya/parser/AyaParserDefinitionBase.java
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
  syntax/src/main/java/org/aya/syntax/concrete/Pattern.java
Labels: feature, parser, concrete, test fixtures

#1211 Match term `as returns`
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/MatchMissingReturnsError.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  cli-impl/src/test/java/org/aya/test/fixtures/ExprTyckError.java
  cli-impl/src/test/resources/negative/ExprTyckError.txt
  cli-impl/src/test/resources/success/src/Test.aya
  jit-compiler/src/main/java/org/aya/compiler/TermExprializer.java
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/core/term/MatchTerm.java
Labels: tyck: match, core: match

#1214 Update docs with status quo
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Labels: documentation

#1216 Replace commonmark with jbmd
  .github/README.md
  cli-impl/build.gradle.kts
  cli-impl/src/main/java/module-info.java
  cli-impl/src/main/java/org/aya/cli/literate/AttrWarn.java
  cli-impl/src/main/java/org/aya/cli/literate/AyaMdParser.java
  cli-impl/src/test/java/org/aya/test/literate/AyaMdParserTest.java
  cli-impl/src/test/resources/literate/expected-wow.aya
  cli-impl/src/test/resources/literate/hoshino-said.aya.md
  cli-impl/src/test/resources/literate/wow.aya.md
  gradle/libs.versions.toml
  producer/src/main/java/org/aya/producer/AyaProducer.java
  producer/src/main/java/org/aya/producer/flcl/FlclParser.java
  syntax/src/main/java/module-info.java
  syntax/src/main/java/org/aya/syntax/literate/AyaBacktickParser.java
  syntax/src/main/java/org/aya/syntax/literate/CodeAttrProcessor.java
  syntax/src/main/java/org/aya/syntax/literate/CodeOptions.java
  tools-md/build.gradle.kts
  tools-md/src/main/java/module-info.java
  tools-md/src/main/java/org/aya/literate/FencedBlock.java
  tools-md/src/main/java/org/aya/literate/frontmatter/YamlFrontMatter.java
  tools-md/src/main/java/org/aya/literate/math/InlineMath.java
  tools-md/src/main/java/org/aya/literate/math/MathBlock.java
  tools-md/src/main/java/org/aya/literate/parser/BaseMdParser.java
  tools-md/src/main/java/org/aya/literate/parser/FillCodeBlock.java
  tools-md/src/test/java/org/aya/literate/MarkdownTest.java
  tools/build.gradle.kts
  tools/src/main/java/module-info.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: deps: upstream

#1217 test: hopefully this fixes all the issues I've seen so far
  cli-impl/src/test/java/org/aya/test/literate/AyaMdParserTest.java
  syntax/src/main/java/org/aya/syntax/literate/AyaBacktickParser.java
  tools-md/src/main/java/org/aya/literate/parser/BaseMdParser.java
Labels: literate

#1221 Fix another markdown generation issue
  cli-impl/src/test/java/org/aya/test/cli/RenderOptionsTest.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  tools-md/src/main/java/org/aya/literate/parser/BaseMdParser.java
Labels: literate

#1223 Remove a bunch of unnecessary `Term` ops
  base/src/main/java/org/aya/normalize/Normalizer.java
  syntax/src/main/java/org/aya/syntax/core/term/Term.java
Labels: refactoring

#1224 Reimplement match as a call
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/IApplyConfl.java
  base/src/main/java/org/aya/tyck/pat/PatUnify.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  base/src/main/java/org/aya/tyck/tycker/TeleTycker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/compile/JitCon.java
  syntax/src/main/java/org/aya/syntax/compile/JitMatchy.java
  syntax/src/main/java/org/aya/syntax/core/def/ConDef.java
  syntax/src/main/java/org/aya/syntax/core/def/Matchy.java
  syntax/src/main/java/org/aya/syntax/core/def/MatchyLike.java
  syntax/src/main/java/org/aya/syntax/core/pat/BindEater.java
  syntax/src/main/java/org/aya/syntax/core/pat/PatMatcher.java
  syntax/src/main/java/org/aya/syntax/core/term/FreeCollector.java
  syntax/src/main/java/org/aya/syntax/core/term/MatchTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/Param.java
  syntax/src/main/java/org/aya/syntax/core/term/Term.java
  syntax/src/main/java/org/aya/syntax/core/term/call/Callable.java
  syntax/src/main/java/org/aya/syntax/core/term/call/ConCallLike.java
  syntax/src/main/java/org/aya/syntax/core/term/call/MatchCall.java
  syntax/src/main/java/org/aya/syntax/core/term/call/MetaCall.java
  syntax/src/main/java/org/aya/syntax/telescope/AbstractTele.java
Labels: core: match

#1225 Compilation for match calls
  base/src/main/java/org/aya/normalize/Finalizer.java
  base/src/main/java/org/aya/resolve/ResolveInfo.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplCompiler.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  jit-compiler/src/main/java/org/aya/compiler/CompiledModule.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeClassBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/SourceClassBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ClassSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ClassTargetSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ConSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/DataSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/FnSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/JitDefSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/JitTeleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MatchySerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MemberSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ModuleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PrimSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  jit-compiler/src/test/java/CompileTest.java
  syntax/src/main/java/org/aya/prettier/BasePrettier.java
  syntax/src/main/java/org/aya/syntax/compile/JitDef.java
  syntax/src/main/java/org/aya/syntax/compile/JitMatchy.java
  syntax/src/main/java/org/aya/syntax/core/Closure.java
  syntax/src/main/java/org/aya/syntax/core/def/AnyDef.java
  syntax/src/main/java/org/aya/syntax/core/def/Matchy.java
  syntax/src/main/java/org/aya/syntax/core/def/MatchyLike.java
  syntax/src/main/java/org/aya/syntax/core/term/Term.java
  syntax/src/main/java/org/aya/syntax/core/term/call/MatchCall.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: core: match

#1227 Refactorings
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/tycker/AppTycker.java
  jit-compiler/src/main/java/org/aya/compiler/CompiledModule.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/AbstractExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ClassTargetSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/JitDefSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MatchySerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ModuleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/NameSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  note/jit.md
  syntax/src/main/java/org/aya/prettier/BasePrettier.java
  syntax/src/main/java/org/aya/syntax/compile/JitClass.java
  syntax/src/main/java/org/aya/syntax/compile/JitCon.java
  syntax/src/main/java/org/aya/syntax/compile/JitData.java
  syntax/src/main/java/org/aya/syntax/compile/JitDef.java
  syntax/src/main/java/org/aya/syntax/compile/JitFn.java
  syntax/src/main/java/org/aya/syntax/compile/JitMatchy.java
  syntax/src/main/java/org/aya/syntax/compile/JitMember.java
  syntax/src/main/java/org/aya/syntax/compile/JitPrim.java
  syntax/src/main/java/org/aya/syntax/compile/JitUnit.java
  syntax/src/main/java/org/aya/syntax/core/def/AnyDef.java
  syntax/src/main/java/org/aya/syntax/core/def/Matchy.java
  syntax/src/main/java/org/aya/syntax/core/def/MatchyLike.java
  syntax/src/main/java/org/aya/syntax/telescope/JitTele.java
Labels: refactoring, jit

#1229 JIT improvements & use goal filling & report pattern errors with substed free terms
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/Goal.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/tycker/AbstractTycker.java
  base/src/main/java/org/aya/tyck/tycker/Contextful.java
  cli-impl/src/test/resources/negative/GoalAndMeta.txt
  cli-impl/src/test/resources/negative/PatTyckError.txt
  jit-compiler/src/main/java/org/aya/compiler/free/Constants.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/FnSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  jit-compiler/src/test/java/CompileTest.java
  jit-compiler/src/test/java/RedBlackTreeTest.java
  parser/src/main/grammar/AyaPsiLexer.flex
  syntax/src/main/java/org/aya/generic/stmt/Reducible.java
  syntax/src/main/java/org/aya/generic/stmt/Shaped.java
  syntax/src/main/java/org/aya/prettier/BasePrettier.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/compile/JitFn.java
  syntax/src/main/java/org/aya/syntax/core/term/Param.java
  syntax/src/main/java/org/aya/syntax/core/term/call/RuleReducer.java
  syntax/src/main/java/org/aya/syntax/ref/GenerateKind.java
Labels: error report, tyck: pattern, jit

#1230 Fix JIT of matchy calls
  base/src/main/java/org/aya/normalize/Normalizer.java
  jit-compiler/src/main/java/org/aya/compiler/free/Constants.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MatchySerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  jit-compiler/src/test/resources/TreeSort.aya
  syntax/src/main/java/org/aya/prettier/BasePrettier.java
  syntax/src/main/java/org/aya/syntax/compile/JitMatchy.java
  syntax/src/main/java/org/aya/syntax/compile/JitUnit.java
  syntax/src/main/java/org/aya/syntax/core/pat/Pat.java
Labels: normalization, jit

#1231 Std lib updates
  cli-impl/src/test/resources/shared/.gitignore
  cli-impl/src/test/resources/shared/src/arith/nat/base.aya
  cli-impl/src/test/resources/shared/src/data/list/base.aya
  cli-impl/src/test/resources/shared/src/data/list/properties.aya
  cli-impl/src/test/resources/shared/src/data/maybe.aya
Labels: library

#1233 Release 0.36, upgrade to Java 22
  .github/README.md
  base/build.gradle.kts
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  build.gradle.kts
  buildSrc/src/main/groovy/org/aya/gradle/GenerateVersionTask.groovy
  cli-console/src/main/java/module-info.java
  cli-console/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplCompiler.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/utils/LiteratePrettierOptions.java
  cli-impl/src/test/java/org/aya/test/LibraryTest.java
  cli-impl/src/test/java/org/aya/test/cli/ReplCompilerTest.java
  gradle/libs.versions.toml
  ide-lsp/src/main/java/org/aya/lsp/utils/Log.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  jit-compiler/src/test/java/CompileTester.java
  note/early-changelog.md
  producer/src/main/java/org/aya/producer/AyaProducer.java
  tools-kala/src/main/java/org/aya/util/terck/Relation.java
  tools-repl/src/main/java/org/aya/repl/CommandArg.java
  tools-repl/src/main/java/org/aya/repl/Repl.java
  tools/src/main/java/org/aya/util/FileUtil.java
Labels: release, java

#1237 Fix The Bug I Wrote
  base/src/main/java/org/aya/tyck/ExprTycker.java
Labels: bug, tyck: match

#1239 Bug fix & slightly use more markdown doc comments
  base/src/main/java/org/aya/resolve/context/ModuleExport.java
  base/src/main/java/org/aya/resolve/error/NameProblem.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/tycker/AppTycker.java
  base/src/main/java/org/aya/unify/TermComparator.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplContext.java
  cli-impl/src/test/java/org/aya/test/fixtures/ExprTyckError.java
  cli-impl/src/test/java/org/aya/test/literate/HighlighterTester.java
  cli-impl/src/test/resources/negative/ExprTyckError.txt
  ide/src/main/java/org/aya/ide/LspPrimFactory.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternSerializer.java
  pretty/src/main/java/org/aya/pretty/doc/Doc.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/ModuleName.java
  syntax/src/main/java/org/aya/syntax/core/def/AnyDef.java
  tools-kala/src/main/java/org/aya/util/terck/CallMatrix.java
  tools-md/src/main/java/org/aya/literate/parser/BaseMdParser.java
  tools/src/main/java/org/aya/util/ForLSP.java
Labels: bug, documentation, developer experience

#1241 Remove `Span` and `LineColSpan`
  base/src/main/java/org/aya/resolve/error/OperatorError.java
  base/src/main/java/org/aya/tyck/error/TyckOrderError.java
  pretty/src/main/java/module-info.java
  pretty/src/main/java/org/aya/pretty/error/LineColSpan.java
  pretty/src/main/java/org/aya/pretty/error/Span.java
  tools/src/main/java/module-info.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
  tools/src/main/java/org/aya/util/error/pretty/PrettyError.java
  tools/src/main/java/org/aya/util/error/pretty/PrettyErrorConfig.java
  tools/src/main/java/org/aya/util/reporter/Problem.java
  tools/src/main/java/org/aya/util/reporter/Reporter.java
Labels: refactoring

#1242 Improve code coverage
  base/src/test/java/org/aya/syntax/concrete/SyntaxTest.java
  build.gradle.kts
  cli-impl/src/test/java/org/aya/test/fixtures/ScopeError.java
  cli-impl/src/test/resources/negative/ScopeError.txt
  note/haskell-agda-style-lang-ext.md
  tools/src/main/java/org/aya/util/ArrayUtil.java
  tools/src/main/java/org/aya/util/Decision.java
  tools/src/main/java/org/aya/util/MapUtil.java
  tools/src/main/java/org/aya/util/Scoped.java
  tools/src/main/java/org/aya/util/TreeBuilder.java
  tools/src/test/java/org/aya/util/VersionTest.java
Labels: test fixtures

#1244 Allow `-` and `-->` and `------------------------------------->`
  cli-impl/src/test/resources/success/src/Test.aya
  parser/src/main/grammar/AyaPsiLexer.flex
Labels: parser

#1246 Robustness
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  cli-impl/src/test/java/org/aya/test/fixtures/ParseError.java
  cli-impl/src/test/java/org/aya/test/fixtures/PatTyckError.java
  cli-impl/src/test/resources/negative/ParseError.txt
  cli-impl/src/test/resources/negative/PatTyckError.txt
  producer/src/main/java/org/aya/producer/AyaProducer.java
Labels: bug

#1247 Report Error When Using Implicit Patterns with Eliminator
  base/src/main/java/org/aya/tyck/error/PatternProblem.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  cli-impl/src/test/java/org/aya/test/fixtures/PatTyckError.java
  cli-impl/src/test/resources/negative/PatTyckError.txt
Labels: error report, tyck: pattern

#1248 Fix #1243
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/PatternProblem.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  cli-impl/src/test/java/org/aya/test/fixtures/PatTyckError.java
  cli-impl/src/test/resources/negative/PatTyckError.txt
  syntax/src/main/java/org/aya/generic/Suppress.java
  tools/src/main/java/org/aya/util/reporter/SuppressingReporter.java
Labels: error report, tyck: pattern

#1250 Fix subtyping from path to pi
  base/src/main/java/org/aya/tyck/ExprTycker.java
  cli-impl/src/test/resources/success/src/Test.aya
Labels: bug

#1252 Patch hoshino branch as a PR
  cli-impl/src/test/java/org/aya/test/LibraryTest.java
  cli-impl/src/test/resources/negative/ParseError.txt
  cli-impl/src/test/resources/negative/PatTyckError.txt
  cli-impl/src/test/resources/shared/src/arith/nat/base.aya
  cli-impl/src/test/resources/shared/src/arith/nat/properties.aya
  cli-impl/src/test/resources/shared/src/data/list/base.aya
  cli-impl/src/test/resources/shared/src/data/list/properties.aya
  cli-impl/src/test/resources/shared/src/data/maybe.aya
  cli-impl/src/test/resources/shared/src/data/maybe/base.aya
  cli-impl/src/test/resources/shared/src/data/maybe/properties.aya
  cli-impl/src/test/resources/shared/src/relation/binary/nat_cmp.aya
  cli-impl/src/test/resources/shared/src/relation/nullary/decidable.aya
  cli-impl/src/test/resources/shared/src/relation/nullary/empty.aya
  cli-impl/src/test/resources/success/.gitignore
  cli-impl/src/test/resources/success/src/STLC.aya
  jit-compiler/src/main/java/org/aya/compiler/serializers/JitDefSerializer.java
  producer/src/main/java/org/aya/producer/AyaProducer.java
Labels: library

#1253 Only report unimported con when the con is no-arg
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  cli-impl/src/main/java/org/aya/cli/single/CompilerFlags.java
  cli-impl/src/main/java/org/aya/cli/single/SingleFileCompiler.java
  cli-impl/src/test/java/org/aya/test/LibraryTest.java
  cli-impl/src/test/java/org/aya/test/TestRunner.java
  producer/src/main/java/org/aya/producer/AyaProducer.java
Labels: error report

#1256 Allow injecting the literate output with datetime info
  cli-console/src/main/java/org/aya/cli/console/Main.java
  cli-console/src/main/java/org/aya/cli/console/MainArgs.java
  cli-impl/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli-impl/src/main/java/org/aya/cli/library/json/LibraryConfig.java
  cli-impl/src/main/java/org/aya/cli/library/json/LibraryConfigData.java
  cli-impl/src/main/java/org/aya/cli/library/json/LibraryDependency.java
  cli-impl/src/main/java/org/aya/cli/library/source/LibrarySource.java
  cli-impl/src/main/java/org/aya/cli/single/CompilerFlags.java
  cli-impl/src/main/java/org/aya/cli/single/SingleAyaFile.java
  cli-impl/src/main/java/org/aya/cli/utils/LiterateData.java
  cli-impl/src/test/java/org/aya/test/LibraryTest.java
  cli-impl/src/test/java/org/aya/test/cli/LibraryGraphTest.java
  cli-impl/src/test/java/org/aya/test/literate/AyaMdParserTest.java
  cli-impl/src/test/resources/literate/frontmatter.aya.md
  ide-lsp/src/main/java/org/aya/lsp/library/WsLibrary.java
  pretty/src/main/java/org/aya/pretty/printer/Printer.java
  tools-kala/src/main/java/org/aya/util/more/StringUtil.java
  tools-md/src/main/java/org/aya/literate/Literate.java
  tools-md/src/main/java/org/aya/literate/LiterateConsumer.java
  tools-md/src/main/java/org/aya/literate/parser/BaseMdParser.java
  tools-md/src/test/java/org/aya/literate/MarkdownTest.java
  tools/src/main/java/org/aya/util/reporter/DelayedReporter.java
Labels: cli, literate

#1257 Fix a bug in literate code generation
  cli-impl/src/main/java/org/aya/cli/utils/LiterateData.java
Labels: literate

#1258 Let `registerLibrary` returns the loaded libraries
  ide-lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  ide-lsp/src/test/java/org/aya/lsp/tester/LspTestClient.java
Labels: lsp

#1262 Properly initialize `DiskLibraryOwner`
  cli-impl/src/main/java/org/aya/cli/library/source/DiskLibraryOwner.java
  cli-impl/src/test/resources/shared/src/data/list/properties.aya
  cli-impl/src/test/resources/shared/src/relation/binary/nat_cmp.aya
  cli-impl/src/test/resources/shared/src/relation/nullary/decidable.aya
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
Labels: lsp, library

#1263 Add `elim` for Simpl Indexed Type
  base/src/main/java/org/aya/resolve/visitor/StmtPreResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/test/java/org/aya/syntax/concrete/SyntaxTest.java
  cli-impl/src/test/resources/shared/src/data/vec/base.aya
  ide/src/main/java/org/aya/ide/Resolver.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/prettier/ConcretePrettier.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/StmtVisitor.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/decl/DataDecl.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/decl/FnBody.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/decl/MatchBody.java
Labels: feature

#1264 Eliminate Unnecessary Shadow Warning
  base/src/main/java/org/aya/resolve/context/NoExportContext.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/resolve/visitor/PatternResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtPreResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  cli-impl/src/test/java/org/aya/test/fixtures/ScopeError.java
  cli-impl/src/test/resources/negative/ScopeError.txt
  cli-impl/src/test/resources/shared/src/data/list/base.aya
  cli-impl/src/test/resources/shared/src/data/list/properties.aya
  cli-impl/src/test/resources/shared/src/data/vec/base.aya
  cli-impl/src/test/resources/shared/src/data/vec/properties.aya
  cli-impl/src/test/resources/shared/src/relation/binary/nat_cmp.aya
  syntax/src/main/java/org/aya/generic/Suppress.java
Labels: feature

#1266 More readable negative test expects
  cli-impl/src/test/java/org/aya/test/LibraryTest.java
  cli-impl/src/test/java/org/aya/test/TestRunner.java
  gradle/libs.versions.toml
  producer/src/main/java/org/aya/producer/AyaParserImpl.java
  producer/src/main/java/org/aya/producer/flcl/FlclParser.java
Labels: test fixtures
