Repository aya-prover/aya-dev, pull requests merged in 2024-05, with the labels that each got.

#1044 Implement prim serialization, do more experiments
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  cli-impl/src/test/java/org/aya/test/cli/ReplCompilerTest.java
  ide-lsp/src/test/java/org/aya/lsp/LspTest.java
  ide-lsp/src/test/resources/lsp-test-lib/src/HelloWorld.aya
  ide-lsp/src/test/resources/lsp-test-lib/src/Nat/Core.aya
  ide-lsp/src/test/resources/lsp-test-lib/src/VecCore.aya
  jit-compiler/src/main/java/org/aya/compiler/JitTeleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/PrimSerializer.java
  syntax/src/main/java/org/aya/syntax/compile/JitPrim.java
Labels: jit

#1045 Improve build, make it possible to write code with lsp
  .github/README.md
  cli-impl/src/test/java/org/aya/test/fixtures/PatTyckError.java
  cli-impl/src/test/resources/shared/aya.json
  cli-impl/src/test/resources/shared/src/Arith/Nat.aya
  cli-impl/src/test/resources/shared/src/Data/Vec.aya
  cli-impl/src/test/resources/shared/src/Paths.aya
  cli-impl/src/test/resources/shared/src/TypeTheory/Thorsten.aya
  ide-lsp/build.gradle.kts
  ide-lsp/src/main/java/org/aya/lsp/LspMain.java
Labels: build, lsp

#1046 Document for Reducible and JitPrim should not implement Reducible
  syntax/src/main/java/org/aya/generic/stmt/Reducible.java
  syntax/src/main/java/org/aya/syntax/compile/JitPrim.java
Labels: documentation

#1047 Upgrade many things in deps and ci
  .github/README.md
  .github/workflows/commit-check.yaml
  .github/workflows/extract-version.yaml
  .github/workflows/gradle-check.yaml
  .github/workflows/nightly-build.yaml
  cli-impl/src/test/java/org/aya/test/TestRunner.java
  gradle/libs.versions.toml
  tools/src/main/java/org/aya/util/error/SourceFile.java
Labels: documentation, deps: kala, deps: upstream

#1048 Refactor the Class Name Generator of Compiler
  base/src/main/java/org/aya/resolve/module/DumbModuleLoader.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  jit-compiler/src/main/java/org/aya/compiler/AbstractSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/FileSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/JitTeleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/ModuleSerializer.java
  jit-compiler/src/test/java/CompileTest.java
  jit-compiler/src/test/java/CompileTester.java
  jit-compiler/src/test/java/MiscTest.java
  jit-compiler/src/test/java/RedBlackTreeTest.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/ModuleName.java
  syntax/src/main/java/org/aya/syntax/ref/QName.java
  syntax/src/main/java/org/aya/syntax/ref/QPath.java
Labels: serialization, jit

#1050 Mangling & pattern tyck fix
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  cli-impl/build.gradle.kts
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  cli-impl/src/test/java/org/aya/test/LibraryTest.java
  cli-impl/src/test/resources/shared/aya.json
  cli-impl/src/test/resources/shared/src/TypeTheory/Thorsten.aya
  cli-impl/src/test/resources/success/aya.json
  jit-compiler/src/main/java/org/aya/compiler/AbstractSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/FileSerializer.java
  jit-compiler/src/test/java/CompileTest.java
Labels: test fixtures, tyck: pattern, jit

#1052 Extract Name Serialization Methods from AbstractSerializer
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  jit-compiler/src/main/java/org/aya/compiler/AbstractSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/ConSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/DataSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/FileSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/JitTeleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/ModuleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/NameSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/TermExprializer.java
  jit-compiler/src/test/java/CompileTest.java
  jit-compiler/src/test/java/CompileTester.java
  jit-compiler/src/test/java/MiscTest.java
  jit-compiler/src/test/java/RedBlackTreeTest.java
Labels: refactoring

#1053 Trying to make library deserialization work
  base/src/main/java/org/aya/primitive/ShapeFactory.java
  base/src/main/java/org/aya/primitive/ShapeMatcher.java
  base/src/main/java/org/aya/resolve/context/Context.java
  base/src/main/java/org/aya/resolve/context/ModuleContext.java
  base/src/main/java/org/aya/resolve/context/ModuleExport.java
  base/src/main/java/org/aya/resolve/context/PhysicalModuleContext.java
  base/src/main/java/org/aya/resolve/visitor/StmtPreResolver.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplContext.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/CompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DelegateCompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/InMemoryCompilerAdvisor.java
  cli-impl/src/main/java/org/aya/cli/utils/CompilerUtil.java
  cli-impl/src/test/resources/shared/src/arith/Nat.aya
  cli-impl/src/test/resources/success/src/Test.aya
  jit-compiler/src/main/java/org/aya/compiler/AbstractSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/CompiledModule.java
  jit-compiler/src/main/java/org/aya/compiler/FnSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/ModuleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/NameSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternSerializer.java
  syntax/src/main/java/org/aya/syntax/core/def/AnyDef.java
  syntax/src/main/java/org/aya/syntax/ref/AnyDefVar.java
  syntax/src/main/java/org/aya/syntax/ref/CompiledVar.java
  syntax/src/main/java/org/aya/syntax/ref/DefVar.java
  tools-kala/src/main/java/org/aya/util/binop/BinOpSet.java
Labels: serialization, jit

#1054 Release v0.31
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  cli-console/build.gradle.kts
  cli-console/src/main/java/module-info.java
  cli-console/src/main/java/org/aya/cli/console/AnsiReporter.java
  gradle/libs.versions.toml
  ide-lsp/build.gradle.kts
  jit-compiler/src/main/java/org/aya/compiler/AbstractSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/DataSerializer.java
  note/old/0.31-changelog.md
  note/old/glossary.md
  note/old/pre-0.30-changelog.md
  note/old/unfiled.md
Labels: release

#1055 Normalize types
  base/src/main/java/org/aya/tyck/ExprTycker.java
  cli-impl/src/test/resources/shared/aya.json
  cli-impl/src/test/resources/shared/src/Paths.aya
  cli-impl/src/test/resources/shared/src/arith/Int.aya
  cli-impl/src/test/resources/shared/src/data/Interval.aya
  cli-impl/src/test/resources/shared/src/type-theory/Thorsten.aya
Labels: library

#1057 Tyck fixes
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/normalize/PatMatcher.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatUnify.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  base/src/main/java/org/aya/tyck/tycker/AppTycker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  base/src/main/java/org/aya/unify/TermComparator.java
  cli-console/src/main/java/org/aya/cli/console/AnsiReporter.java
  cli-console/src/main/java/org/aya/cli/repl/jline/JlineRepl.java
  cli-impl/src/test/resources/negative/PatCohError.txt
  cli-impl/src/test/resources/shared/src/data/Interval.aya
  cli-impl/src/test/resources/shared/src/data/Vec.aya
  jit-compiler/src/main/java/org/aya/compiler/PatternSerializer.java
  syntax/src/main/java/org/aya/syntax/compile/JitCon.java
  syntax/src/main/java/org/aya/syntax/core/pat/Pat.java
  syntax/src/main/java/org/aya/syntax/core/pat/PatToTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/call/ConCallLike.java
Labels: bug, confluence, tyck: pattern

#1062 Cherry pick bug fixes
  base/src/main/java/org/aya/normalize/PatMatcher.java
  base/src/main/java/org/aya/tyck/pat/BindEater.java
  base/src/test/java/org/aya/tyck/PatternTyckTest.java
  cli-console/src/main/java/org/aya/cli/console/Main.java
  jit-compiler/src/main/java/org/aya/compiler/AyaSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/NameSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternSerializer.java
  syntax/src/main/java/org/aya/syntax/core/pat/Pat.java
Labels: cherry-pick, tyck: pattern

#1063 Use persistent data structure from kala
  base/src/main/java/org/aya/tyck/ExprTycker.java
  gradle/libs.versions.toml
  jit-compiler/src/main/java/org/aya/compiler/AbstractExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/AyaSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/TermExprializer.java
  jit-compiler/src/test/java/RedBlackTreeTest.java
  syntax/src/main/java/org/aya/syntax/core/term/repr/ListTerm.java
Labels: deps: kala

#1064 Thorsten's HIIR revisited
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/normalize/PatMatcher.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/BindEater.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatUnify.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/tycker/AppTycker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  base/src/main/java/org/aya/unify/TermComparator.java
  cli-impl/src/test/resources/shared/src/type-theory/Thorsten.aya
  jit-compiler/src/main/java/org/aya/compiler/AbstractExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/AbstractSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/AyaSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/ConSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/NameSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/PatternSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/TermExprializer.java
  syntax/src/main/java/org/aya/generic/State.java
  syntax/src/main/java/org/aya/prettier/BasePrettier.java
  syntax/src/main/java/org/aya/syntax/compile/JitCon.java
  syntax/src/main/java/org/aya/syntax/compile/JitDef.java
  syntax/src/main/java/org/aya/syntax/compile/JitTele.java
  syntax/src/main/java/org/aya/syntax/core/def/AnyDef.java
  syntax/src/main/java/org/aya/syntax/core/def/ConDef.java
  syntax/src/main/java/org/aya/syntax/core/def/ConDefLike.java
  syntax/src/main/java/org/aya/syntax/core/def/TyckAnyDef.java
  syntax/src/main/java/org/aya/syntax/core/def/TyckDef.java
  syntax/src/main/java/org/aya/syntax/core/pat/Pat.java
  syntax/src/main/java/org/aya/syntax/core/pat/PatToTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/call/ConCallLike.java
  syntax/src/main/java/org/aya/syntax/core/term/call/DataCall.java
  syntax/src/main/java/org/aya/syntax/ref/QName.java
Labels: core: pattern, core: definitions

#1067 Push telescopes
  base/src/main/java/org/aya/tyck/StmtTycker.java
  cli-impl/src/test/resources/success/src/Test.aya
  syntax/src/main/java/org/aya/syntax/core/Closure.java
  syntax/src/main/java/org/aya/syntax/core/def/Signature.java
  syntax/src/main/java/org/aya/syntax/core/term/PiTerm.java
Labels: tyck

#1070 data -> inductive
  base/src/main/java/org/aya/resolve/ResolvingStmt.java
  base/src/test/java/org/aya/tyck/PatternTyckTest.java
  base/src/test/java/org/aya/tyck/TyckTest.java
  cli-impl/src/test/java/org/aya/test/cli/ReplCompilerTest.java
  cli-impl/src/test/java/org/aya/test/fixtures/ExprTyckError.java
  cli-impl/src/test/java/org/aya/test/fixtures/GoalAndMeta.java
  cli-impl/src/test/java/org/aya/test/fixtures/OperatorError.java
  cli-impl/src/test/java/org/aya/test/fixtures/PatCohError.java
  cli-impl/src/test/java/org/aya/test/fixtures/PatTyckError.java
  cli-impl/src/test/java/org/aya/test/fixtures/ScopeError.java
  cli-impl/src/test/java/org/aya/test/literate/HighlighterTest.java
  cli-impl/src/test/resources/literate/compiler-output.aya.md
  cli-impl/src/test/resources/literate/expected-test.aya
  cli-impl/src/test/resources/literate/expected-wow.aya
  cli-impl/src/test/resources/literate/test.aya.md
  cli-impl/src/test/resources/literate/wow.aya.md
  cli-impl/src/test/resources/negative/ExprTyckError.txt
  cli-impl/src/test/resources/negative/GoalAndMeta.txt
  cli-impl/src/test/resources/negative/OperatorError.txt
  cli-impl/src/test/resources/negative/PatTyckError.txt
  cli-impl/src/test/resources/negative/ScopeError.txt
  cli-impl/src/test/resources/shared/src/arith/Bool.aya
  cli-impl/src/test/resources/shared/src/arith/Int.aya
  cli-impl/src/test/resources/shared/src/arith/Nat.aya
  cli-impl/src/test/resources/shared/src/data/Interval.aya
  cli-impl/src/test/resources/shared/src/data/Vec.aya
  cli-impl/src/test/resources/shared/src/type-theory/Thorsten.aya
  ide-lsp/src/test/java/org/aya/lsp/LspTest.java
  ide-lsp/src/test/resources/lsp-test-lib/src/Nat/Core.aya
  ide-lsp/src/test/resources/lsp-test-lib/src/VecCore.aya
  jit-compiler/src/test/java/CompileTest.java
  jit-compiler/src/test/resources/TreeSort.aya
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiLexer.flex
  parser/src/main/grammar/AyaPsiParser.bnf
  pretty/src/test/java/org/aya/pretty/MdStyleTest.java
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/prettier/Tokens.java
Labels: syntax design

#1071 Revert some code deletion, delete some unused code
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/HoleProblem.java
  base/src/main/java/org/aya/tyck/error/UnifyInfo.java
  base/src/main/java/org/aya/unify/Unifier.java
  base/src/test/java/org/aya/tyck/TyckTest.java
  cli-impl/src/test/java/org/aya/test/TestRunner.java
  cli-impl/src/test/resources/shared/src/data/List.aya
  cli-impl/src/test/resources/success/src/Guide.aya
  jit-compiler/src/test/java/RedBlackTreeTest.java
  syntax/src/main/java/org/aya/syntax/core/def/ConDef.java
  syntax/src/main/java/org/aya/syntax/core/term/call/ConCall.java
  syntax/src/main/java/org/aya/syntax/core/term/call/DataCall.java
Labels: error report, test fixtures, library
