Repository aya-prover/aya-dev, pull requests merged in 2025-09, with the labels that each got.

#1369 Fix something and make `Expr.Lambda` `WithTerm` so that we can provide inlay hint for them
  base/src/main/java/org/aya/resolve/salt/DesugarLambdaHole.java
  base/src/main/java/org/aya/resolve/salt/DesugarMisc.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  cli-impl/src/main/java/org/aya/cli/library/source/LibrarySource.java
  ide/src/main/java/org/aya/ide/action/InlayHints.java
  ide/src/main/java/org/aya/ide/action/completion/BindingInfoExtractor.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  syntax/src/main/java/org/aya/prettier/ConcretePrettier.java
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
  syntax/src/main/java/org/aya/syntax/concrete/Pattern.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/StmtVisitor.java
  tools-kala/src/main/java/org/aya/util/position/SourcePos.java
Labels: lsp

#1372 Some user interaction changes
  base/src/main/java/org/aya/tyck/error/Goal.java
  cli-impl/src/test/java/org/aya/test/fixtures/GoalAndMeta.java
  cli-impl/src/test/resources/negative/GoalAndMeta.txt
  syntax/src/main/java/org/aya/syntax/core/term/DepTypeTerm.java
Labels: error report, pretty print

#1375 Let term cp
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/unify/DoubleChecker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  base/src/main/java/org/aya/unify/TermComparator.java
  cli-impl/src/test/java/org/aya/test/LibraryTest.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  syntax/src/main/java/org/aya/prettier/BasePrettier.java
  syntax/src/main/java/org/aya/prettier/ConcretePrettier.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/core/Jdg.java
  syntax/src/main/java/org/aya/syntax/core/term/FreeCollector.java
  syntax/src/main/java/org/aya/syntax/core/term/FreeTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/FreeTermLike.java
  syntax/src/main/java/org/aya/syntax/core/term/LetFreeTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/LetTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/Term.java
  syntax/src/main/java/org/aya/syntax/core/term/marker/BetaRedex.java
  syntax/src/main/java/org/aya/syntax/core/term/marker/TyckInternal.java
Labels: cherry-pick

#1376 CI
  .github/workflows/nightly-build.yaml
  build.gradle.kts
Labels: build
