Repository aya-prover/aya-dev, pull requests merged in 2025-02, with the labels that each got.

#1299 Cherry pick from #1298
  base/src/main/java/org/aya/primitive/PrimFactory.java
  base/src/main/java/org/aya/resolve/ResolvingStmt.java
  base/src/main/java/org/aya/resolve/visitor/StmtPreResolver.java
  base/src/main/java/org/aya/resolve/visitor/StmtResolver.java
  ide-lsp/src/test/resources/lsp-test-lib/src/PathPrims.aya
  syntax/src/main/java/org/aya/syntax/core/def/PrimDef.java
Labels: scope, cherry-pick, primitives

#1297 Classfile Morphism
  jit-compiler/build.gradle.kts
  jit-compiler/src/main/java/module-info.java
  jit-compiler/src/main/java/org/aya/compiler/free/ArgumentProvider.java
  jit-compiler/src/main/java/org/aya/compiler/free/Constants.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeExprBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmArgumentProvider.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmClassBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmExpr.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmJavaBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmOutputCollector.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmVariable.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeExprBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/VariablePool.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/CallKind.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/FnSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  jit-compiler/src/test/java/CompileTest.java
  jit-compiler/src/test/java/CompileTester.java
  syntax/src/main/java/org/aya/syntax/compile/CompiledAya.java
Labels: jit

#1300 Classfile integration
  cli-impl/src/main/java/module-info.java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  cli-impl/src/test/java/org/aya/test/LibraryTest.java
  jit-compiler/src/main/java/org/aya/compiler/AsmOutputCollector.java
  jit-compiler/src/main/java/org/aya/compiler/SourceBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmClassBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmJavaBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/ClassData.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ConSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/JitDefSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ModuleSerializer.java
  jit-compiler/src/test/java/CompileTest.java
  jit-compiler/src/test/java/CompileTester.java
  jit-compiler/src/test/java/FreeTest.java
  jit-compiler/src/test/java/InstanceLoader.java
  jit-compiler/src/test/java/Profiler.java
  jit-compiler/src/test/java/RedBlackTreeTest.java
  tools/src/main/java/org/aya/util/error/Global.java
Labels: jit

#1303 Avoid using `MutableSeq` for local term variables #1302
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/source/SourceCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/FnSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MatchySerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternSerializer.java
  jit-compiler/src/test/java/RedBlackTreeTest.java
Labels: performance, jit

#1305 Some profile-guided optimization
  jit-compiler/src/main/java/org/aya/compiler/AsmOutputCollector.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmClassBuilder.java
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
  syntax/src/main/java/org/aya/syntax/ref/ModulePath.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: refactoring, performance

#1307 Fast LineColumn conversion (for #1301)
  cli-impl/src/main/java/org/aya/cli/library/LibraryCompiler.java
  cli-impl/src/main/java/org/aya/cli/single/SingleAyaFile.java
  cli-impl/src/test/java/org/aya/test/literate/AyaMdParserTest.java
  tools-kala/src/main/java/module-info.java
  tools/build.gradle.kts
  tools/src/main/java/module-info.java
  tools/src/main/java/org/aya/util/StringUtil.java
  tools/src/main/java/org/aya/util/error/SourceFile.java
  tools/src/main/java/org/aya/util/error/SourcePos.java
Labels: parser, performance

#1309 Add some symbol information and misc
  ide-lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmArgumentProvider.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmClassBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmJavaBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmVariable.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmVariablePool.java
Labels: developer experience, jit

#1312 Move source code builder & TyckTest
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/test/java/org/aya/tyck/TyckTest.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplCompiler.java
  cli-impl/src/test/resources/shared/src/relation/binary/path.aya
  cli-impl/src/test/resources/success/src/Test.aya
  cli-impl/src/test/resources/success/src/TyckTest.aya
  ide-lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeClassBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeJavaBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmClassBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmJavaBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmVariablePool.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeClassBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeCodeBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeDecl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeExprBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeJavaBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeRunner.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/VariablePool.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/AyaSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ClassTargetSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ExprializeUtil.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/JitDefSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MatchySerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ModuleSerializer.java
  jit-compiler/src/test/java/CompileTest.java
  jit-compiler/src/test/java/FreeTest.java
  jit-compiler/src/test/java/source/NameGenerator.java
  jit-compiler/src/test/java/source/SourceArgumentProvider.java
  jit-compiler/src/test/java/source/SourceBuilder.java
  jit-compiler/src/test/java/source/SourceClassBuilder.java
  jit-compiler/src/test/java/source/SourceCodeBuilder.java
  jit-compiler/src/test/java/source/SourceFreeJavaBuilder.java
  jit-compiler/src/test/java/source/SourceFreeJavaExpr.java
  syntax/src/main/java/org/aya/syntax/compile/AyaMetadata.java
  syntax/src/main/java/org/aya/syntax/compile/JitDef.java
  syntax/src/main/java/org/aya/syntax/compile/JitUnit.java
  tools-kala/src/main/java/org/aya/util/error/PrettyError.java
  tools-kala/src/main/java/org/aya/util/error/PrettyErrorConfig.java
  tools-kala/src/main/java/org/aya/util/position/PosedConsumer.java
  tools-kala/src/main/java/org/aya/util/position/PosedUnaryOperator.java
  tools-kala/src/main/java/org/aya/util/position/SourceFile.java
  tools-kala/src/main/java/org/aya/util/position/SourcePos.java
  tools-kala/src/main/java/org/aya/util/reporter/CountingReporter.java
Labels: test fixtures, cleanup

#1313 More lsp changes
  ide-lsp/src/main/java/org/aya/lsp/actions/LensMaker.java
  ide-lsp/src/main/java/org/aya/lsp/actions/SymbolMaker.java
  ide-lsp/src/main/java/org/aya/lsp/models/ProjectPath.java
  ide-lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  ide-lsp/src/test/java/org/aya/lsp/LspTest.java
  ide-lsp/src/test/java/org/aya/lsp/tester/LspTestClient.java
  ide-lsp/src/test/java/org/aya/lsp/tester/TestCommand.java
  ide-lsp/src/test/resources/lsp-test-lib0/aya.json
  ide-lsp/src/test/resources/lsp-test-lib0/unwatched.aya
  ide/src/main/java/org/aya/ide/Resolver.java
  ide/src/main/java/org/aya/ide/action/FindReferences.java
  ide/src/main/java/org/aya/ide/action/GotoDefinition.java
  ide/src/main/java/org/aya/ide/action/ProjectSymbol.java
  ide/src/main/java/org/aya/ide/action/Rename.java
Labels: lsp

#1315 Use `onEach` and refactor some `stream` to `view`
  base/src/main/java/org/aya/resolve/context/Candidate.java
  base/src/main/java/org/aya/tyck/error/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  cli-impl/src/main/java/org/aya/cli/interactive/ReplContext.java
  cli-impl/src/main/java/org/aya/cli/render/vscode/ColorTheme.java
  cli-impl/src/test/resources/negative/PatCohError.txt
  gradle/libs.versions.toml
  ide-lsp/src/main/java/org/aya/lsp/server/AyaLanguageServer.java
  ide-lsp/src/test/java/org/aya/lsp/tester/LspTestClient.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeJavaResolver.java
  producer/src/main/java/org/aya/producer/AyaProducer.java
  tools-kala/src/main/java/org/aya/util/reporter/Problem.java
  tools-repl/src/main/java/org/aya/repl/CommandArg.java
  tools-repl/src/main/java/org/aya/repl/CommandManager.java
  tools-repl/src/main/java/org/aya/repl/ReplParser.java
Labels: refactoring, deps: kala

#1318 More preparation for plunch
  base/src/test/java/org/aya/tyck/TyckTest.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/asm/AsmCodeBuilder.java
Labels: bug

#1320 Code changed during plunch
  base/src/test/java/org/aya/tyck/TyckTest.java
  jit-compiler/src/test/java/RedBlackTreeTest.java
Labels: test fixtures

#1321 Initial partial element by KonjacSource
  base/src/main/java/org/aya/primitive/PrimFactory.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/error/BadTypeError.java
  base/src/main/java/org/aya/tyck/tycker/Stateful.java
  base/src/main/java/org/aya/unify/DoubleChecker.java
  base/src/main/java/org/aya/unify/Synthesizer.java
  base/src/main/java/org/aya/unify/TermComparator.java
  base/src/test/java/org/aya/syntax/core/PrettierTest.java
  cli-impl/src/test/java/org/aya/test/fixtures/ExprTyckError.java
  cli-impl/src/test/resources/negative/ExprTyckError.txt
  cli-impl/src/test/resources/shared/src/relation/binary/path.aya
  cli-impl/src/test/resources/success/src/Test.aya
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/prettier/ConcretePrettier.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/prettier/Tokens.java
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
  syntax/src/main/java/org/aya/syntax/core/term/SortTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/Term.java
  syntax/src/main/java/org/aya/syntax/core/term/marker/Formation.java
  syntax/src/main/java/org/aya/syntax/core/term/marker/StableWHNF.java
  syntax/src/main/java/org/aya/syntax/core/term/xtt/PartialTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/xtt/PartialTyTerm.java
Labels: parser, concrete

#1323 Rename keyword `partial` to `nonterminating`
  .github/HACKING.md
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/tyck/order/AyaSccTycker.java
  cli-impl/src/test/java/org/aya/test/fixtures/TerckError.java
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiLexer.flex
  parser/src/main/grammar/AyaPsiParser.bnf
  producer/src/main/java/org/aya/producer/ModifierParser.java
  syntax/src/main/java/org/aya/generic/Modifier.java
  syntax/src/main/java/org/aya/syntax/core/term/Term.java
  syntax/src/main/java/org/aya/syntax/core/term/marker/StableWHNF.java
  syntax/src/main/java/org/aya/syntax/core/term/xtt/PartialTerm.java
  tools/src/main/java/org/aya/util/RepoLike.java
Labels: breaking, syntax design

#1326 Perform WHNF when pattern matching and invoke
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  jit-compiler/src/main/java/org/aya/compiler/morphism/Constants.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/AbstractExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ClassTargetSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ConSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/FnSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/InvokeSignatureHelper.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/JitTeleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MatchySerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MemberSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/SerializerContext.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  jit-compiler/src/test/java/CompileTest.java
  jit-compiler/src/test/java/RedBlackTreeTest.java
  syntax/src/main/java/org/aya/syntax/compile/JitCon.java
  syntax/src/main/java/org/aya/syntax/compile/JitFn.java
  syntax/src/main/java/org/aya/syntax/compile/JitMatchy.java
Labels: jit

#1327 Some leaveover of #1326
  jit-compiler/src/main/java/org/aya/compiler/MethodRef.java
  jit-compiler/src/main/java/org/aya/compiler/morphism/ast/AstCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/morphism/ast/AstExprBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/AbstractExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/FnSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MatchySerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
Labels: jit

#1328 Match elim
  base/src/main/java/org/aya/resolve/salt/Desalt.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  cli-impl/src/test/java/org/aya/test/fixtures/ParseError.java
  cli-impl/src/test/resources/negative/ParseError.txt
  cli-impl/src/test/resources/success/src/Test.aya
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/prettier/ConcretePrettier.java
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
Labels: parser, concrete, core: match
