Repository aya-prover/aya-dev, pull requests merged in 2025-01, with the labels that each got.

#1268 Better pat tyck
  base/src/main/java/org/aya/resolve/visitor/StmtPreResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/ctx/LocalLet.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/IApplyConfl.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  base/src/main/java/org/aya/tyck/pat/iter/LambdaPusheen.java
  base/src/main/java/org/aya/tyck/pat/iter/PatternIterator.java
  base/src/main/java/org/aya/tyck/pat/iter/PiPusheen.java
  base/src/main/java/org/aya/tyck/pat/iter/PusheenIterator.java
  base/src/main/java/org/aya/tyck/pat/iter/Pusheenable.java
  base/src/main/java/org/aya/tyck/pat/iter/SignatureIterator.java
  base/src/test/java/org/aya/syntax/core/PrettierTest.java
  base/src/test/java/org/aya/tyck/PatternTyckTest.java
  cli-impl/src/test/java/org/aya/test/LibraryTest.java
  cli-impl/src/test/resources/success/src/Pattern.aya
  note/clause-tyck.md
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/prettier/ConcretePrettier.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/Command.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/StmtVisitor.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/decl/FnBody.java
  syntax/src/main/java/org/aya/syntax/core/pat/PatToTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/DepTypeTerm.java
  syntax/src/main/java/org/aya/syntax/core/term/LamTerm.java
  syntax/src/main/java/org/aya/syntax/telescope/Signature.java
  tools-kala/src/main/java/org/aya/util/tyck/pat/ClassifierUtil.java
Labels: refactoring, tyck: pattern

#1270 Highlight import as two segments: the prefix and the last …
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/Command.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/StmtVisitor.java
Labels: highlighter

#1271 Free java
  cli-impl/src/main/java/org/aya/cli/library/incremental/DiskCompilerAdvisor.java
  jit-compiler/src/main/java/module-info.java
  jit-compiler/src/main/java/org/aya/compiler/free/ArgumentProvider.java
  jit-compiler/src/main/java/org/aya/compiler/free/Constants.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeClassBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeExprBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/FreeJavaResolver.java
  jit-compiler/src/main/java/org/aya/compiler/free/data/FieldRef.java
  jit-compiler/src/main/java/org/aya/compiler/free/data/MethodRef.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeArgumentProvider.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeClassBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeCodeBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeDecl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeExpr.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeExprBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeJavaBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeRunner.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeStmt.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeVariable.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/VariablePool.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/source/SourceArgumentProvider.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/source/SourceClassBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/source/SourceCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/source/SourceFreeJavaBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/source/SourceFreeJavaExpr.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/AbstractExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/FnSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/MatchySerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ModuleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/TermExprializer.java
  jit-compiler/src/test/java/CompileTest.java
  jit-compiler/src/test/java/CompileTester.java
  jit-compiler/src/test/java/FreeTest.java
Labels: jit

#1272 Initial optimizer
  jit-compiler/src/main/java/org/aya/compiler/free/FreeCodeBuilder.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeCodeBuilderImpl.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeOptimizer.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeRunner.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeStmt.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/AyaSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/JitTeleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ModuleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternSerializer.java
  jit-compiler/src/test/java/CompileTest.java
Labels: performance, jit

#1278 JIT compiler should generate fewer things
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeOptimizer.java
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/free/FreeVariable.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ConSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/JitTeleSerializer.java
  syntax/src/main/java/org/aya/syntax/compile/JitCon.java
  syntax/src/main/java/org/aya/syntax/telescope/AbstractTele.java
Labels: performance, jit

#1279 Release v0.37
  base/src/test/java/org/aya/tyck/TyckTest.java
  cli-impl/src/test/resources/shared/src/arith/nat/base.aya
  cli-impl/src/test/resources/shared/src/relation/binary/nat_cmp.aya
  cli-impl/src/test/resources/success/src/PLFA.aya
  cli-impl/src/test/resources/success/src/Pattern.aya
  cli-impl/src/test/resources/success/src/STLC.aya
  gradle/libs.versions.toml
  jit-compiler/src/main/java/org/aya/compiler/free/morphism/source/SourceClassBuilder.java
  note/early-changelog.md
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/syntax/compile/CompiledAya.java
Labels: release

#1280 Fix #1274
  jit-compiler/src/main/java/org/aya/compiler/free/Constants.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/AbstractExprializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternSerializer.java
Labels: jit

#1281 Pretty Print and Highlight for Pragma
  base/src/main/java/org/aya/resolve/visitor/StmtPreResolver.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/java/org/aya/syntax/concrete/SyntaxTest.java
  cli-impl/src/main/java/org/aya/cli/literate/SyntaxHighlight.java
  cli-impl/src/test/resources/literate/hoshino-said.aya.md
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/generic/Constants.java
  syntax/src/main/java/org/aya/prettier/ConcretePrettier.java
  syntax/src/main/java/org/aya/prettier/Tokens.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/decl/Decl.java
  syntax/src/main/java/org/aya/syntax/concrete/stmt/decl/PragmaInfo.java
Labels: pretty print, highlighter

#1283 Irrefutable Lambda
  base/src/main/java/org/aya/resolve/salt/Desalt.java
  base/src/main/java/org/aya/resolve/visitor/ExprResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  cli-impl/src/test/resources/negative/ExprTyckError.txt
  cli-impl/src/test/resources/negative/GoalAndMeta.txt
  cli-impl/src/test/resources/success/src/Test.aya
  parser/src/main/gen/org/aya/parser/AyaPsiElementTypes.java
  parser/src/main/gen/org/aya/parser/AyaPsiParser.java
  parser/src/main/grammar/AyaPsiParser.bnf
  producer/src/main/java/org/aya/producer/AyaProducer.java
  syntax/src/main/java/org/aya/prettier/ConcretePrettier.java
  syntax/src/main/java/org/aya/prettier/Tokens.java
  syntax/src/main/java/org/aya/syntax/concrete/Expr.java
  syntax/src/main/java/org/aya/syntax/concrete/Pattern.java
  syntax/src/main/java/org/aya/syntax/ref/LocalVar.java
  tools/src/main/java/org/aya/util/IterableUtil.java
  tools/src/main/java/org/aya/util/error/PosedUnaryOperator.java
Labels: feature, desugar

#1285 Simplify confluence check
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/primitive/ShapeMatcher.java
  base/src/main/java/org/aya/terck/CallResolver.java
  base/src/main/java/org/aya/tyck/ExprTycker.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/IApplyConfl.java
  base/src/main/java/org/aya/tyck/pat/YouTrack.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/FnSerializer.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/core/def/FnClauseBody.java
  syntax/src/main/java/org/aya/syntax/core/def/FnDef.java
  tools-kala/src/main/java/org/aya/util/tyck/pat/PatClass.java
Labels: confluence, tyck: pattern

#1286 Pretty print JIT-compiled telescope
  cli-console/src/main/java/org/aya/cli/repl/ReplCommands.java
  cli-impl/src/test/java/org/aya/test/cli/ReplCompilerTest.java
  cli-impl/src/test/resources/negative/PatCohError.txt
  syntax/src/main/java/org/aya/prettier/BasePrettier.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/prettier/Tokens.java
  syntax/src/main/java/org/aya/syntax/compile/JitClass.java
  syntax/src/main/java/org/aya/syntax/compile/JitData.java
  syntax/src/main/java/org/aya/syntax/compile/JitDef.java
  syntax/src/main/java/org/aya/syntax/compile/JitFn.java
  syntax/src/main/java/org/aya/syntax/compile/JitUnit.java
  syntax/src/main/java/org/aya/syntax/core/RichParam.java
  syntax/src/main/java/org/aya/syntax/core/def/ClassDef.java
  syntax/src/main/java/org/aya/syntax/core/def/ClassDefLike.java
  syntax/src/main/java/org/aya/syntax/core/def/DataDef.java
  syntax/src/main/java/org/aya/syntax/core/def/DataDefLike.java
  tools-repl/src/main/java/org/aya/repl/Command.java
  tools-repl/src/main/java/org/aya/repl/ReplUtil.java
Labels: pretty print

#1287 Implement `:case-tree` in repl
  cli-console/src/main/java/org/aya/cli/repl/AyaRepl.java
  cli-console/src/main/java/org/aya/cli/repl/ReplCommands.java
  syntax/src/main/java/org/aya/prettier/BasePrettier.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
Labels: feature, repl

#1288 Try to make the force be with you
  base/src/main/java/org/aya/normalize/Normalizer.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/IApplyConfl.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ConSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternSerializer.java
  syntax/src/main/java/org/aya/prettier/CorePrettier.java
  syntax/src/main/java/org/aya/syntax/core/pat/MatcherBase.java
  syntax/src/main/java/org/aya/syntax/core/pat/Pat.java
  syntax/src/main/java/org/aya/syntax/core/pat/PatMatcher.java
  syntax/src/main/java/org/aya/syntax/core/pat/PatToTerm.java
  syntax/src/main/java/org/aya/syntax/core/pat/TypeEraser.java
  tools-kala/src/main/java/org/aya/util/tyck/pat/ClassifierUtil.java
Labels: refactoring, tyck: pattern

#1289 MAY THE FORCE BE WITH YOU
  base/src/main/java/org/aya/normalize/LetReplacer.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/main/java/org/aya/tyck/error/ClausesProblem.java
  base/src/main/java/org/aya/tyck/pat/ClauseTycker.java
  base/src/main/java/org/aya/tyck/pat/PatBinder.java
  base/src/main/java/org/aya/tyck/pat/PatClassifier.java
  base/src/main/java/org/aya/tyck/pat/PatternTycker.java
  cli-impl/src/test/resources/negative/PatCohError.txt
  cli-impl/src/test/resources/success/src/Test.aya
  jit-compiler/src/main/java/org/aya/compiler/serializers/PatternExprializer.java
  syntax/src/main/java/org/aya/syntax/core/def/FnClauseBody.java
  syntax/src/main/java/org/aya/syntax/core/pat/Pat.java
  tools-kala/src/main/java/org/aya/util/tyck/pat/ClassifierUtil.java
  tools-kala/src/main/java/org/aya/util/tyck/pat/PatClass.java
Labels: confluence, clauses, tyck: pattern

#1292 Turn some classes into records
  base/src/main/java/org/aya/primitive/PrimFactory.java
  base/src/main/java/org/aya/primitive/ShapeMatcher.java
  base/src/main/java/org/aya/resolve/context/Context.java
  base/src/main/java/org/aya/tyck/StmtTycker.java
  base/src/test/java/org/aya/tyck/TyckTest.java
  cli-impl/src/main/java/org/aya/cli/library/LibraryCompiler.java
  ide/src/main/java/org/aya/ide/Resolver.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/DataSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/ModuleSerializer.java
  jit-compiler/src/main/java/org/aya/compiler/serializers/PrimSerializer.java
  syntax/src/main/java/org/aya/syntax/core/RichParam.java
  syntax/src/main/java/org/aya/syntax/core/def/DataDef.java
  syntax/src/main/java/org/aya/syntax/core/def/PrimDef.java
  syntax/src/main/java/org/aya/syntax/core/def/TyckAnyDef.java
Labels: refactoring, cleanup
